@import"../../.././../../assets/scss/theme/variables";


.module {
  width: 100%;
  margin: 0 0 1em 0;
  overflow: hidden;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  line-height: 1.6rem;
  height: 3.2rem;
}

.category {
  @media (max-width:480px) {

    font-size: 12px !important;

  }
}

.image-layout {
  background-color: #fafafa;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 200px;

}

.card-product {
  width: 300px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 16px;

  .product-info-wrapper {
    width: 100%;
    .category {
      font-size: 14px;
      color: #555555;

      @media (max-width:480px) {
        font-size: 12px;
      }
    }

    .title {
      font-size: 17px;
      font-weight: 500;
      color: #111111;

      @media (max-width:480px) {
        font-size: 15px;
      }
    }
  }

}

.title {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @media (max-width:480px) {
    h4 {
      font-size: 14px !important;
    }
  }
}

.image {
  margin-bottom: 0px;
  width: auto !important;
  margin: auto !important;
  height: 200px;
  object-fit: cover;
  object-position: center;
  max-width: 100%;

  @media (max-width:800px) {
    height: 100px !important;
    width: auto;
    margin: auto;
    max-width: 100%;

  }

}

.btnAddCart {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: #e6e6e6;
  color: #fff;
  box-shadow: none;
  transition: all .3s ease;

  &:hover {
    background-color: $theme-main;
    transition: all .3s ease;
  }

  mat-icon {
    color: #fff;
  }
}


.price {
  p {
    font-size: 16px;
  }

  .deletePrice {
    font-size: 12px !important;
    color: #424242 !important;
  }
}

.productType {
  position: absolute;
  text-align: center;
  min-width: 80px;
  top: 0px;
  right: 0px;
  padding: 1px 2px;
  color: rgba(0, 0, 0, .80);
  background-color: #ffc107;
  border-top-right-radius: 8px;
  // box-shadow: 1px 2px 2px rgba(0, 0, 0, .12);
  // border-bottom-left-radius: 4px;
}
.price-offer {
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 800px) {
  .card-product {
    width: 95%;
    flex-direction: row !important;
  }
  .image {
    max-height: 140px;
    height: auto;
    width: 120px;
  }
  .image-layout {
    min-height: 140px !important;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 16px !important;
  }
  .price-offer {
    font-size: 10px !important;
  }
}


