<div [id]="'ProductCardId' + product.id" class="product-item">

  <div class="card-product" fxLayout="row" fxLayout="start start" style="position: relative;">
    <div fxFlex="30" fxLayoutAlign="center center">
      <a class="product-link" [routerLink]="['/product', product.id]">
        <img class="image" ngp-lazy ngp-threshold="0.1" *ngIf="product.Image && product.Image.length "
          onerror="this.onerror=null;this.src='../../../../assets/images/noImage.jpg';" [src]="imageUrl + product.Image[0].image"
          alt="Tienda Cinesoft Image">
        <img class="image" ngp-lazy ngp-threshold="0.1" *ngIf="!(product.Image && product.Image.length)"
          src="../../../../assets/images/noImage.jpg" alt="Tienda Cinesoft Image">
      </a>
    </div>
    <div fxFlex="70" class="product-info-wrapper" ngClass.gt-sm="p-3" ngClass.lt-sm="p-2">
      <span class="category">
        {{utilsService.parserLanguage(product.Category.name,language)}}
      </span>

      <div class="title">
        <a class="link-nav-a"
          [routerLink]="[ '/product', product.id ]">{{(product.name[language]?product.name[language]:product.name['es'])}}</a>
      </div>

      <div class="mt-2">
        <ngp-rating-material [value]="product.rating" [config]="{'readOnly':true}"></ngp-rating-material>
      </div>
      <p fxHide.xs class="module line-clamp mt-1 mb-2">
        {{(product.shortDescription[language])?product.shortDescription[language]:product.shortDescription['es']}}</p>

      <div class="price" fxLayout="row" fxLayoutAlign="space-between start">

        <div>
          <ng-container *ngIf="product.offerValue">
            <p style="font-size: 12px;" class="m-0">
              <del>{{currencyService.getPriceLabel(product)}}</del>
              <span style="color: #e53935; font-size: 12px;" class="ml-2 px-0">{{product.offerValue}}<span
                  style="color: #e53935; font-size: 12px;" *ngIf="product.isPercent">% </span>off</span>
            </p>
            <p class="mat-body-2 m-0">{{currencyService.getOfferLabel(product)}}</p>
            <p class="mat-body-2 m-0" style="font-size: 15px;">
              {{'Desde'|translate}}
              {{product.minSale}}
              {{' unidades'|translate}}
            </p>
          </ng-container>

          <ng-container *ngIf="!product.offerValue">
            <p class="mat-body-2 m-0">{{currencyService.getPriceLabel(product)}}</p>
            <p class="mat-body-2 m-0" style="font-size: 15px;">
              {{'Desde'|translate}}
              {{product.minSale}}
              {{' unidades'|translate}}
            </p>

          </ng-container>

        </div>

        <button matTooltip="{{'Añadir al carrito'|translate}}" class="btnAddCart" mat-mini-fab (click)="addToCart(product)"
          style="z-index: 10;">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
      <div class="icons" fxLayout="column">
        <!-- <a (click)="addToWishlist(product)">
          <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon>
        </a> -->
        <!-- <a (click)="openProductDialog(product)">
          <mat-icon>info</mat-icon>
        </a> -->
        <!-- <a (click)="addToCompare(product)">
          <mat-icon>cached</mat-icon>
        </a> -->
      </div>
    </div>
    <!-- <div class="productType">
      {{product.type|translate}}
    </div> -->
  </div>

</div>
<div class="my-3" style="display: block;margin: 0;border-top-width: 1.5px;border-top-style: solid;border-top-color: rgba(0, 0, 0, 0.12);">
</div>
