<mat-card class="p-1" style="border-radius: 8px;">
  <mat-toolbar>
    <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterUser">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span class="mat-title m-0">Lista de Usuarios</span>
        <div fxHide.xs>
          <button mat-button (click)="showSearchForm()">
            <mat-icon>filter_list</mat-icon>
            Buscar
          </button>
          <button mat-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
            Refrescar
          </button>
          <button mat-button (click)="onCreateUser()">
            <mat-icon>add</mat-icon>
            Añadir
          </button>
        </div>

        <div fxHide fxShow.xs>
          <button mat-icon-button (click)="showSearchForm()">
            <mat-icon>filter_list</mat-icon>
          </button>
          <button mat-icon-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button (click)="onCreateUser()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showFilterUser && !selection.selected.length">
      <form class="example-full-width" [formGroup]="searchForm">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <button mat-icon-button>
            <mat-icon matPrefix>search</mat-icon>
          </button>
          <input [formControl]="searchForm.controls['textCtrl']" placeholder="{{'Enter your search text'|translate}}"
            class="example-full-width search-input" type="text" autofocus>
          <div>
            <button mat-icon-button (click)="hideSearchForm()">
              <mat-icon aria-label="Cerrar">close</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="selection.selected.length">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span fxHide.xs class="mat-title">{{selection.selected.length + ' elemento seleccionado'}}</span>
        <div>
          <button *ngIf="selection.selected.length==1 && selection.selected[0].id != this.loggedInUser.id" mat-button
            (click)="onEditUser(selection.selected[0])">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            <span class="mat-button">EDITAR</span>
          </button>
          <button mat-button (click)="onRemoveUser(selection.selected)">
            <mat-icon aria-label="Remove">remove</mat-icon>
            <span class="mat-button">BORRAR</span>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th style="width: 8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </div>

        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="avatar">
        <th style="width: 12%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Image'}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <img *ngIf="!element.avatar" src="../../../.././../../../assets/images/avatars/profile2.png"
            style="width: 40px;height: 40px; object-fit: cover;">
          <img *ngIf="element.avatar" [src]="imageUrl + element.avatar"
            style="width: 40px;height: 40px; object-fit: cover; object-position: center;border-radius: 50%;">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Name'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Fullname Column -->
      <ng-container matColumnDef="fullName">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Name'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name + element.lastName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Lastname'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Email'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'DNI'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.dni||'No tiene'}} </td>
      </ng-container>

      <ng-container matColumnDef="countries">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Countries'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <p *ngFor="let item of element.Countries">
            {{utilsService.parserLanguage(item.name,this.language)||'No tiene'}}
          </p>

        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Username'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="width:5%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Status'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon matTooltip="{{'User is activated'|translate}}" style="border-radius: 50%; color:#4caf50"
            *ngIf="element.status=='enabled'" class="green-600 s-16">
            check</mat-icon>
          <mat-icon matTooltip="{{'User is not activated'|translate}}" style="border-radius: 50%;color:#e53935"
            *ngIf="element.status !=='enabled'" class="red-500 s-16">
            close</mat-icon>
        </td>

      </ng-container>

      <ng-container matColumnDef="Business">
        <th style="width:12%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Negocio'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="start center"> <img *ngIf="element.Business"
              style="height: 32px; width: 32px; border-radius: 50%; object-fit: cover;" [src]="imageUrl + element?.Business?.logo" />
            <span class="ml-2">{{element.Business?.name || '-'}}</span></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef mat-sort-header>
        </th>
        <td mat-cell *matCellDef="let element">
          <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
            <button *ngIf="loggedInUser.id !=  element.id" (click)="onEditUser(element)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="loggedInUser.id !=  element.id" (click)="onRemoveUser([element])" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>

            <button class="mx-1" mat-icon-button matTooltip="{{'User options'|translate}}">
              <mat-icon class="cursor-pointer" aria-label="Side nav toggle icon" [matMenuTriggerFor]="menu">more_vert
              </mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="mymegamenu">
              <button *ngIf="loggedInUser.id !=  element.id" mat-menu-item (click)="onEditUser(element)">
                <mat-icon>edit</mat-icon>
                {{"Editar usuario"|translate}}
              </button>
              <button *ngIf="loggedInUser.id !=  element.id" mat-menu-item (click)="onRemoveUser([element])">
                <mat-icon>delete</mat-icon>
                {{"Eliminar usuario"|translate}}
              </button>
              <button mat-menu-item (click)="changePass(element)">
                <mat-icon>https</mat-icon>
                {{'Cambiar contraseña'|translate}}
              </button>
            </mat-menu>

          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="rowData" *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>

</mat-card>
