@import '../../../../assets/scss/theme/variables';

/***************************************
*  Checkout page styles
****************************************/

:host {
  .payment-method-expansion-panel {
    ::ng-deep .mat-expansion-panel-body {
      padding: 0 2px 16px;
    }
  }
}

.container-checkout {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;

  .actions-buttons {
    button {
      width: 150px;
      height: 40px;
    }
  }
}

#CI {
  .mat-input-element {
    text-transform: uppercase;
  }

  .mat-input-element::placeholder {
    text-transform: none;
  }
}

::ng-deep #phone-checkout.mat-form-field-appearance-outline {
  .mat-form-field-prefix {
    top: 0 !important;
  }

  .mat-input-element {
    font: caption;
  }
}

#payment-method {
  .radio-button-national,
  .radio-button-international {
    width: 60px !important;
    height: 60px !important;
    position: relative;

    ::ng-deep .mat-radio-label {
      border: 1px solid #e3e3e3;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    ::ng-deep .mat-radio-label-content {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  ::ng-deep .mat-radio-container {
    display: none;
  }

  .pay-method-container {
    //padding: 8px 14px;
    //border-radius: 6px;
    padding: 4px;
    width: 100%;
    height: 100%;
  }

  .pay-method-name {
    font-size: 17px;
    white-space: normal;
  }

  .pay-method-icon {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: contain;
    object-position: center;
    /* white-space: normal; */
    /* max-width: 64px; */
    /* max-height: 40px;*/
  }

  .payment-active {
    background-color: #f5f1f9;
    border: 2px solid $theme-main;
  }
}

li {
  list-style-type: none !important;
}

.checkout {
  .billing-details {
    min-width: 600px !important;
    margin: 0 auto;

    @media (max-width: 600px) {
      min-width: 320px !important;
    }

    .mat-form-field {
      width: 100%;
    }

    .add-info {
      margin-top: 15px;
    }
  }

  .mainOrder-wrapper {
    position: relative;
    min-width: 600px !important;
    margin: 0 auto;

    @media (max-width: 600px) {
      min-width: 320px !important;
    }

    .main-order {
      //border: 1px solid $grey8;
      //border-radius: 4px;
      //box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.12);
      //position: sticky;
      position: relative;
      border-radius: 8px;
      padding: 24px;

      //&:hover {
      //  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.18);
      //border: 1.25px solid rgba(0, 0, 0, 0.75);
      //transition: box-shadow;
      //}

      @media (max-width: 600px) {
        padding: 4px;
      }

      .order-box {
        .title-box {
          position: relative;
          padding-bottom: 25px;
          color: $grey4;
          font-weight: 500;
          font-size: 20px;
          border-bottom: 1px solid $grey6;
          margin-bottom: 20px;

          span.tl-amount {
            position: relative;
            width: 35%;
            float: right;
            font-size: 20px;
            line-height: 1.2em;
          }
        }

        .responsive_table {
          img {
            height: 32px;
            width: 32px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin-right: 16px;
          }
        }

        ul.price-list {
          position: relative;
          border-bottom: 1px solid $grey6;
          margin-bottom: 30px;
          padding-bottom: 20px;

          .product {
            img {
              height: 32px;
              width: 32px;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
              margin-right: 16px;
            }
          }

          li {
            line-height: 44px;

            span {
              position: relative;
              width: 35%;
              float: right;
              font-size: 20px;

              @media (max-width: 500px) {
                font-size: 15px;
              }
            }
          }
        }
      }

      ul.total-amount {
        position: relative;
        border-bottom: 1px solid $grey6;
        margin-bottom: 30px;
        padding-bottom: 20px;

        @media (max-width: 800px) {
          padding-left: 0px;
        }

        .shipping {
          width: 36%;
          float: right;

          .shopping-option {
            line-height: 30px;

            li {
              .taxAmount {
                font-size: 20px;
                color: $font-color;
              }

              .quantity {
                font-size: 16px;
                color: $grey;
              }
            }
          }
        }

        li {
          position: relative;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          margin-bottom: 20px;
          width: 100%;

          span.amount {
            position: relative;
            font-size: 20px;
            line-height: 20px;
            color: $theme-main-red;
            font-weight: 400;
            width: 35%;
            float: right;
            @media (max-width: 800px) {
              width: auto;
            }
          }
        }
      }

      ul.quantity {
        position: relative;
        //border-bottom: 1px solid $grey6;
        //margin-bottom: 30px;
        //padding-bottom: 20px;

        li {
          span.total {
            position: relative;
            font-size: 20px;
            line-height: 20px;
            color: $theme-main-red;
            font-weight: 400;
            width: 35%;
            float: right;
          }
        }
      }

      ul.total {
        position: relative;
        border-bottom: 1px solid $grey6;
        margin-bottom: 30px;
        //padding-bottom: 20px;
        @media (max-width: 800px) {
          padding-left: 0;
        }

        li {
          position: relative;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          color: $font-color;
          line-height: 20px;
          margin-bottom: 20px;
          width: 100%;

          span.count {
            position: relative;
            font-size: 20px;
            line-height: 20px;
            color: $theme-main-red;
            font-weight: 400;
            width: 35%;
            float: right;
            @media (max-width: 800px) {
              width: auto;
            }
          }
        }
      }

      .paymentFinal {
        margin-bottom: 20px;
        line-height: 34px;
      }
    }
  }

  .paypalBtn {
    padding: 10px 16px;
    border-radius: 30px;
    height: 60px;
    width: 100%;
    background-color: $theme-main;
    color: #fff;
  }

  .paypalBtnInvalid {
    padding: 10px 16px;
    border-radius: 30px;
    height: 60px;
    width: 100%;
    background-color: #eeeeee;
    cursor: none !important;
  }
}

.mat-radio-label-content {
  color: $grey5;
  font-weight: 400;
}

.name {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 99999;
  padding: 24px;
  color: white;
  box-sizing: border-box;
  animation-name: show;
  animation-duration: 0.4s;

  mat-icon {
    color: white;
  }

  img {
    max-height: 85%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
  }

  li {
    list-style-type: inherit !important;
    margin: 4px 4px 8px 0px;
  }
}

@keyframes show {
  0% {
    top: -100vh;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

::ng-deep .mat-radio-label-content {
  width: 100% !important;
  margin: 8px 0px !important;
}

.loading-dots:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2000ms infinite;
  animation: ellipsis steps(4, end) 2000ms infinite;
  content: '\2026';
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}
