<div class="loading-shade-full" style="background:rgba(0, 0, 0, 0.02) !important;" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
</div>

<mat-card id="searchFilter" class="mt-2 p-2" style="border-radius: 8px !important;">
  <section ngClass.gt-md="px-3">
    <h3 class="mat-title">

      {{'More search filters'|translate}}
    </h3>
    <form [formGroup]="formSearch" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="end center" fxLayoutGap="gappx">

      <mat-form-field class="form-filters mx-2" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>{{'Order number'|translate}}</mat-label>
        <button matSuffix mat-icon-button (click)="formSearch.controls['order'].reset()">
          <mat-icon class="mat-18">clear</mat-icon>
        </button>
        <input type="text" matInput [formControl]="formSearch.controls['order']" />
      </mat-form-field>

      <!-- <mat-form-field class="form-filters mx-2" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>{{'Confirmation Date'|translate}}</mat-label>
        <button matSuffix mat-icon-button (click)="formSearch.controls['confirmedRangeDate'].reset()">
          <mat-icon class="mat-18">clear</mat-icon>
        </button>
        <input type="text" matInput ngxDaterangepickerMd [formControl]="formSearch.controls['confirmedRangeDate']"
          [alwaysShowCalendars]="true" [autoApply]="true" [locale]="{applyLabel: 'Aplicar', format: 'DD-MM-YYYY'}" [linkedCalendars]="true"
          autocomplete="off" />
      </mat-form-field> -->

      <mat-form-field class="form-filters mx-2" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>{{'Confirmation Date'|translate}}</mat-label>
        <mat-date-range-input [formGroup]="formSearch.get('confirmedRangeDate')" [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="fecha de inicio">
          <input matEndDate formControlName="endDate" placeholder="fecha de fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="form-filters mx-2" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>{{'Products'|translate}}</mat-label>
        <button matSuffix mat-icon-button>
          <mat-icon class="mat-18" (click)="formSearch.controls['ProductId'].reset()">clear</mat-icon>
        </button>
        <mat-select multiple [formControl]="formSearch.controls['ProductId']">
          <mat-option *ngFor="let product of allProducts" [value]="product.id">
            {{(product.name[language]?product.name[language]:product.name['es'])}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-filters mx-2" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>{{'Negocio'|translate}}</mat-label>
        <button matSuffix mat-icon-button>
          <mat-icon class="mat-18" (click)="formSearch.controls['BusinessId'].reset()">clear</mat-icon>
        </button>
        <mat-select [formControl]="formSearch.controls['BusinessId']">
          <mat-option *ngFor="let business of allBusiness" [value]="business.id">
            {{business.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="this.refreshData()" class="ml-3" mat-flat-button color="primary">{{'BUSCAR' | translate}}</button>
    </form>
  </section>
</mat-card>



<mat-card class="p-1 mt-3" style="border-radius: 8px !important;">
  <mat-toolbar>
    <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterOrders">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span fxHide.lt-md class="mat-title mb-0">{{'List of on delivery orders'|translate}}</span>
        <span fxHide fxShow.lt-md class="mat-title mb-0">{{'Delivery orders'|translate}}</span>
        <div fxShow fxHide.xs>
          <button mat-button (click)="showSearchForm()">
            <mat-icon>search</mat-icon>
            <span fxHide.xs>{{'Search'|translate}}</span>
          </button>
          <button mat-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
            <span fxHide.xs>{{'Refresh'|translate}}</span>
          </button>
          <!-- <button mat-button (click)="onCreatePlantilla()">
            <mat-icon>add</mat-icon>
            <span fxHide.xs>{{'Add'|translate}}</span>
          </button> -->
        </div>
        <div fxHide fxShow.xs>
          <button mat-icon-button (click)="showSearchForm()">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
          <!-- <button mat-icon-button (click)="onCreatePlantilla()">
            <mat-icon>add</mat-icon>
          </button> -->
        </div>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showFilterOrders && !selection.selected.length">
      <form class="example-full-width" [formGroup]="searchForm">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
          <button mat-icon-button>
            <mat-icon matPrefix>search</mat-icon>
          </button>
          <input class="search-input w-100" type="text" [formControl]="searchForm.controls['textCtrl']"
            placeholder="{{'Enter your search text'|translate}}" type="text" autofocus>
          <div>
            <button mat-icon-button (click)="hideSearchForm()">
              <mat-icon aria-label="Cerrar">close</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="selection.selected.length">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <div>
          <span fxHide.lt-md class="mat-title mb-0">{{selection.selected.length}}</span>
          <span fxHide.lt-md class="ml-2 mat-title mb-0">{{'selected elements'|translate}}</span>
        </div>
        <div>
          <button mat-button (click)="onMakeOrderasDelivered(selection.selected)">
            <mat-icon>assignment</mat-icon>
            <span class="mat-body-2 ml-2 uppercase" fxHide.lt-md>{{'Marcar como entregado'|translate}}</span>
          </button>
          <button *ngIf="selection.selected.length==1" mat-button (click)="editDelivery(selection.selected[0])">
            <mat-icon>edit</mat-icon>
            <span class="mat-body-2 ml-2 uppercase" fxHide.lt-md>{{'Editar entrega'|translate}}</span>
          </button>
          <button *ngIf="selection.selected.length==1" mat-button (click)="onGetVoucher(selection.selected[0])">
            <mat-icon aria-label="Example icon-button with a heart icon">cloud_download</mat-icon>
            <span class="ml-2" fxHide.lt-md>{{'Voucher'|translate|uppercase}}</span>
          </button>
          <button mat-button *ngIf="selection.selected.length==1 && loggedInUserService.isAdminUser()"
            (click)="onCancelOrder(selection.selected[0])">
            <mat-icon>cancel</mat-icon>
            <span class="mat-body-2 ml-2 uppercase" fxHide.lt-md>{{'Cancel'|translate}}</span>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="responsive_table">
    <table class="customTable" mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <th style="width: 50px;" id="select" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="order">
        <th style="width: 120px !important;" mat-header-cell *matHeaderCellDef>
          <span class="mat-body-2">{{'Order'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element" (click)="onExpandOrder(element)"> <strong>{{element.Payment?.order}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="fullAddress">
        <th style="width: 18% !important;" mat-header-cell *matHeaderCellDef>
          <span class="mat-body-2">{{'Dirección'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element" (click)="onExpandOrder(element)">
          <strong>{{element.fullAddress}}</strong>
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryCost">
        <th style="width: 100px !important;" mat-header-cell *matHeaderCellDef>
          <span class="mat-body-2">{{'Costo de envío'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element" (click)="onExpandOrder(element)"> {{element.deliveryCost|currency:element?.Payment.currency}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Messenger">
        <th style="width: 100px !important;" mat-header-cell *matHeaderCellDef>
          <span class="mat-body-2">{{'Mensajero'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element" (click)="onExpandOrder(element)">
          {{element.Messenger?.Person?.name + ' ' + element.Messenger?.Person?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="destinatario">
        <th style="width: 200px !important;" mat-header-cell *matHeaderCellDef>
          <span class="mat-body-2">{{'Datos del destinatario'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element" (click)="onExpandOrder(element)">
          <ul style="padding-left: 16px;">
            <li>
              <strong>{{element?.Payment.name + ' ' + element?.Payment?.lastName }}</strong>
            </li>
            <li>
              {{element?.Payment.email }}
            </li>
            <li>
              {{element?.Payment.phone }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="products">
        <th style="width: 15% !important;" mat-header-cell *matHeaderCellDef>
          <span class="mat-body-2">{{'Items'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element" (click)="onExpandOrder(element)">
          <ul>
            <li *ngFor="let item of element.DeliveryItems">
              <span class="mat-body-2 nameProduct">{{item.PaymentItem?.Product.name['es']}}</span>
            </li>
          </ul>

        </td>
      </ng-container>

      <ng-container matColumnDef="Business">
        <th style="width:12%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Negocio'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="start center"> <img style="height: 32px; width: 32px; border-radius: 50%; object-fit: cover;"
              [src]="imageUrl + element?.Business?.logo" />
            <span class="ml-2">{{element.Business?.name}}</span></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th id="action" style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'Action'|translate}}
        </th>
        <td mat-cell *matCellDef="let element">
          <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
            <button matTooltip="{{'Make the order as delivered'|translate}}" (click)="onMakeOrderasDelivered([element])" mat-icon-button>
              <mat-icon>assignment</mat-icon>
            </button>
            <button matTooltip="{{'Editar la entrega'|translate}}" mat-icon-button (click)="editDelivery(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="loggedInUserService.isAdminUser()" matTooltip="{{'Cancell the order'|translate}}" color="warn"
              (click)="onCancelOrder(element)" mat-icon-button>
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div *ngIf="this.expandedDelivery" fxLayout="column" fxLayoutAlign="start start" class="example-element-detail"
            [@detailExpand]="element.id == expandedDelivery.id ? 'expanded' : 'collapsed'">

            <p class="mt-3 mat-body-2 uppercase">
              {{'Asignado al mensajero'|translate}}
            </p>
            <ul class="my-2">
              <li class="mat-body-2 uppercase">
                {{'Nombre completo: '|translate}} <span
                  class="mat-body-2 uppercase">&nbsp;&nbsp;&nbsp;<strong>{{expandedDelivery.Messenger.Person.name + ' ' + expandedDelivery.Messenger.Person.lastName }}</strong></span>
              </li>
              <li class="mat-body-2 uppercase">
                {{'Correo electrónico: '|translate}}<span
                  class="mat-body-2 uppercase">&nbsp;&nbsp;&nbsp;<strong>{{expandedDelivery.Messenger.Person.email}}</strong></span>
              </li>
              <li class="mat-body-2 uppercase">
                {{'Teléfono: '|translate}}<span
                  class="mat-body-2 uppercase">&nbsp;&nbsp;&nbsp;<strong>{{expandedDelivery.Messenger.Person.phone}}</strong></span>
              </li>
            </ul>


            <div fxLayout="row wrap" class="w-100 py-3 pt-2" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
              <div fxFlex="100" fxFlex.gt-lg="48" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
                <p class="mb-3 mt-3 mat-body-2 uppercase">
                  {{'Products'|translate}}
                </p>
                <app-transaction-list [_transactions]="paymentItems" [_payment]="expandedDelivery?.Payment">
                </app-transaction-list>
                <p class="mb-3 mt-3 mat-body-2 uppercase">
                  {{'Tarifa de Envío: '|translate}}
                  <strong>{{expandedDelivery?.Payment.shippingCost|currency:expandedDelivery?.Payment.currency}}</strong>
                </p>
              </div>
              <div fxFlex="100" fxFlex.gt-lg="48" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
                <p class="mb-3 mt-3 mat-body-2 uppercase">
                  {{'Delivery details'|translate}}
                </p>
                <app-order-details [_selectedOrder]="expandedDelivery?.Payment"></app-order-details>
              </div>

            </div>

            <p class="mt-3 mat-body-2 uppercase">
              {{'More information about address'|translate}}
            </p>
            <ul class="my-3">
              <li class="mat-body-2 uppercase">
                {{'Full address: '|translate}} <span
                  class="mat-body-2 uppercase">&nbsp;&nbsp;&nbsp;<strong>{{expandedDelivery.fullAddress||'-'}}</strong></span>
              </li>
              <!-- <li class="mat-body-2 uppercase">
                {{'More info: ' |translate}}<span
                  class="mat-body-2 uppercase">&nbsp;&nbsp;&nbsp;<strong>{{expandedDelivery.address2 ||'-'}}</strong></span>
              </li> -->
              <li class="mat-body-2 uppercase">
                {{'Extra info: '|translate}}<span
                  class="mat-body-2 uppercase">&nbsp;&nbsp;&nbsp;<strong>{{expandedDelivery?.Payment.info ||'-'}}</strong></span>
              </li>
            </ul>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedDelivery === element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator (page)="OnPaginatorChange($event)" [pageSize]="query.limit" [length]="this.query.total"
      [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>

</mat-card>
