<div class="dialog-content-wrapper">
  <div class="loading-shade-full" *ngIf="isSaving">
    <mat-spinner *ngIf="isSaving">
    </mat-spinner>
  </div>
  <mat-toolbar class="mb-2" matDialogTitle color="warn" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span class="mat-title mb-0">{{'Cancel order'|translate}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">


        <mat-form-field appearance="outline">
          <mat-label>{{'Penalty percentage'|translate}}</mat-label>
          <input matInput type="number" required [formControl]="form.controls['percent']" placeholder="{{'penalty percentage'|translate}}">
          <mat-icon matSuffix>monetization_on</mat-icon>
          <mat-error *ngIf="form.controls['percent'].hasError('required')">
            {{'Percent'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" hintLabel="Max 250 characters">
          <mat-label>{{'Description'|translate}}</mat-label>
          <textarea matInput #input maxlength="250" rows="3" placeholder="Description" [formControl]="form.controls['description']">
          </textarea>
          <mat-hint align="end">{{input.value?.length || 0}}/250</mat-hint>
          <mat-error *ngIf="form.controls['description'].hasError('required')">
            {{'Description'}} <strong>{{'is required'}}</strong>
          </mat-error>
        </mat-form-field>

      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid || isSaving" color="primary">{{'Save'|translate}}</button>

  </div>

</div>
