app-notification-item {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;

  .NotificationBody {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
  }

  .cancelledLabel {
    color: white;
    font-weight: 500;
    background-color: #f44336;
    border-radius: 4px;
    z-index: 999;
    padding: 4px 16px;
  }

  .errorLabel {
    color: white;
    font-weight: 900;
    background-color: #e53935;
    border-radius: 4px;
    z-index: 999;
    padding: 4px 16px;
  }

  .payedLabel {
    color: white;
    font-weight: 500;
    background-color: #4caf50;
    border-radius: 4px;
    z-index: 999;
    padding: 4px 16px;
  }

  .requestedLabel {
    color: black;
    font-weight: 500;
    background-color: #ffc107;
    border-radius: 4px;
    padding: 4px 16px;
    z-index: 999;
  }

  .processingCancelLabel {
    color: white;
    font-weight: 500;
    background-color: #795548;
    border-radius: 4px;
    z-index: 999;
    padding: 4px 16px;
  }

  .deliveredLabel {
    color: white;
    font-weight: 500;
    background-color: #2196f3;
    border-radius: 4px;
    z-index: 999;
    padding: 4px 16px;
  }

  .onDeliveryLabel {
    color: white;
    font-weight: 500;
    background-color: #ff5722;
    border-radius: 4px;
    z-index: 999;
    padding: 4px 16px;
  }

  .iconFecha {
    font-size: 16px;
    padding-top: 3px;
  }

  .MyFecha {
    padding-right: 5px;
    padding-bottom: 5px;
  }

  .textNotification {
    margin-left: 10px;
    height: 44px;
    width: 75%;
  }

  .IconNavBar {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    color: #5c616f;
    width: 24px;
    font-size: 24px;
    padding-top: 6px;
    margin-left: -9px;
  }

  .CircleIcon {
    border: 1px solid;
    border-color: #5c616f;
    border-radius: 50%;
    margin-top: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  p {
    display: block;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 13px;
  }

  .MoreOptions {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    margin-top: 20px;
  }

  .MenuBtn {
    // right: 0px;
    // position: fixed;
    padding-right: 2px;
    width: 24px;
    height: 24px;
  }

  .NotificationRead {
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: rgb(207, 202, 202);
  }

  .NotificationRead:hover {
    background-color: #ececee;
  }

  .NotificationnoRead {
    background-color: #e0e0e0;
    border-bottom: 1px solid;
    border-bottom-color: rgb(207, 202, 202);
    max-height: 500px !important;
    color: black;
  }

  .NotificationnoRead:hover {
    background-color: #ececee;
  }

  .LayoutTable {
    margin-top: 16px !important;
    width: 100% !important;
    max-height: 200px !important;
    overflow: auto !important;
  }
}
