<footer class='footer-two py-4' style='position: relative'>
  <div class='container'>
    <div class='footer-one' fxLayout='row wrap' fxLayoutAlign='start start'>
      <div class='footer-widget about-widget' fxFlex='100' fxFlex.gt-xs='30'>
        <a class='logo' href='index.html'><img alt='Awesome Image' src='../../../../assets/images/logo-footer.png'
                                               style='height: 200px' /></a>
      </div>

      <div class='footer-widget links-widget links-widget-pac footerItems' fxFlex='100' fxFlex.gt-xs='25'>
        <div class='row'>
          <ul>
            <li>
              <a [routerLink]="['']" class='mat-button' mat-button routerLinkActive=' router-link-active'>
                <span class='page-title'>{{ 'Inicio' | translate }}</span>
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/products/search']"
                class='mat-button page-title'
                mat-button
                routerLinkActive=' router-link-active'
              >
                <span class='page-title'>{{ 'Productos' | translate }}</span>
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/cart']"
                class='mat-button page-title'
                mat-button
                routerLinkActive=' router-link-active'
              >
                <span class='page-title'>{{ 'Carrito' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/about']" class='mat-button' mat-button routerLinkActive=' router-link-active'>
                <span class='page-title'>{{ 'Quiénes somos' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class='footer-widget links-widget links-widget-pac footerItems' fxFlex='100' fxFlex.gt-xs='25'>
        <div class='row'>
          <ul>
            <li>
              <a class='mat-button page-title' href='become-a-seller' mat-button routerLinkActive=' router-link-active'>
                <span class='page-title'>{{ 'Conviértete en vendedor' | translate }}</span>
              </a>
            </li>
            <!-- <li><a [routerLink]="['/about']" routerLinkActive=" router-link-active" mat-button class="mat-button">
                <span class="page-title">{{'Quienes somos'|translate}}</span>
              </a>
            </li> -->
            <li>
              <a [routerLink]="['/blog']" class='mat-button' mat-button routerLinkActive='router-link-active'>
                <span class='page-title'>{{ 'Our blog' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/faq']" class='mat-button' mat-button routerLinkActive='router-link-active'>
                <span class='page-title'>{{ 'Ayuda' | translate }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/contact-us']" class='mat-button' mat-button routerLinkActive='router-link-active'>
                <span class='page-title'>{{ 'Contact us' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
        <div class="title">
          <h5>{{'Subscribe Newsletter'|translate}}</h5>
        </div>
        <form [formGroup]="form">
          <p>{{'Get latest updates and offers.'|translate}}</p>
          <div fxLayout="column" class="newsletter-widget">
            <input style="padding-left: 20px;padding-right: 20px;" type="email" [formControl]="form.controls['email']"
              placeholder="Enter your email address">
            <button *ngIf="!this.subscribeState" [disabled]="form.invalid" type="submit" (click)="onSubscribetoPublications()"
              class="ped-btn-footer" color="primary">{{'SUBSCRIBE US'|translate}}</button>
            <button *ngIf="this.loggedInUser && this.subscribeState" [disabled]="form.invalid" type="submit"
              style="color:#fff !important;border:1px solid #e64a19;background-color: #f4511e;" (click)="onUnSubscribePublications()"
              class="ped-btn-footer">{{'UNSUBSCRIBE US'|translate}}</button>
          </div>
        </form>
      </div> -->
    </div>
  </div>
  <!-- <span class="mat-caption" style="position: absolute;color: #fff;left: 48%;bottom: 16px;">{{'Powered by J.A. '}}
    &nbsp; &copy;{{'v'+ version}}</span> -->
</footer>

<footer class='footer-two section-2 py-4' style='position: relative'>
  <div class='container'>
    <div fxLayout='row wrap' fxLayoutAlign='center center' fxLayoutAlign.xs='start center'>
      <!--<a
        class="item-selector mx-3 my-2"
        fxLayoutAlign="start center"
        mat-button
        [matMenuTriggerFor]="currencyMenu"
        #currencyMenuTrigger="matMenuTrigger"
      >
        <span>{{ currency.name }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
        <span>
          <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
            <span style="color: black">{{ cur.name }}</span>
          </button>
        </span>
      </mat-menu>-->
      <a
        #langMenuTrigger='matMenuTrigger'
        [matMenuTriggerFor]='langMenu'
        class='item-selector mx-3 my-2'
        fxLayoutAlign='start center'
        mat-button
      >
        <img [src]='flag.image' width='18' />
        <mat-icon>arrow_drop_down</mat-icon>
        <span>{{ flag.name }}</span>
      </a>
      <mat-menu #langMenu='matMenu' [overlapTrigger]='false' class='app-dropdown' xPosition='before'>
        <span>
          <button (click)='changeLang(flag)' *ngFor='let flag of flags' mat-menu-item>
            <img [src]='flag.image' width='18' /> {{ flag.name }}
          </button>
        </span>
      </mat-menu>
      <a
        [routerLink]="['term-conditions']"
        class='item-selector mx-3 my-2'
        fxLayoutAlign='start center'
        mat-button
        routerLinkActive=' router-link-active'
      >
        <span>{{ 'Términos y condiciones' | translate }}</span>
      </a>
      <a
        [routerLink]="['privacy-policy']"
        class='item-selector mx-3 my-2'
        fxLayoutAlign='start center'
        mat-button
        routerLinkActive=' router-link-active'
      >
        <span>{{ 'Políticas de privacidad' | translate }}</span>
      </a>
    </div>

    <div class='py-3' fxLayout='row wrap' fxLayoutAlign='center center' fxLayoutAlign.xs='start start'>
      <!--<span class="mat-body-1 footer-separator">{{ 'address' | translate }}</span> &nbsp;-->
      <span class='mat-body-1 footer-separator'>
        Copyright {{ year }}
        © / {{ 'Todos los derechos reservados' | translate }}.
        <span class='mat-body-2 ml-2'>{{ 'v' | translate }}</span>{{version}}</span>
    </div>
  </div>
</footer>
