<div class="commerce-buttons" fxLayout="row" fxLayoutAlign="start center">
  <button mat-button class="flex-row-button mat-button" fxLayoutAlign="space-between center" [matMenuTriggerFor]="menu">
    <div class="mat-button-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="iconCart"
           [matBadge]="shoppingCartItems.length"
           matBadgeColor="accent"
           fxLayout="row"
           fxLayoutAlign="start center"
           matTooltip="Carrito de compras">
        <mat-icon>local_grocery_store</mat-icon>
      </div>
      <!--<div class="top-cart" fxLayout="row" fxLayoutAlign="end end">
        <span>{{ getTotal(shoppingCarts[0]) | currencyMarket: shoppingCarts[0]?.market }}</span>
      </div>-->
    </div>
  </button>
  <mat-menu class="spCard-main" #menu="matMenu">
    <div class="spCard-dropdown">
      <div class="card-list-title" fxLayout="row" fxLayoutAlign="space-between start">
        <a class="list-compare-link" [routerLink]="['/cart']" routerLinkActive="router-link-active">
          <p>{{ 'Verificar en el carrito' | translate | uppercase }}</p>
        </a>
        <p>{{ shoppingCartItems.length }} {{ 'Artículos' | translate }}</p>
      </div>
      <mat-divider></mat-divider>
      <p class="woo-message" *ngIf="!shoppingCartItems.length">{{ 'Please add product' | translate }}</p>
      <p></p>

      <div class="new-product" fxLayout="column" *ngIf="shoppingCarts?.length">
        <ng-container *ngFor="let cart of shoppingCarts">
          <div
            class="item"
            fxLayout="row"
            fxLayoutAlign="start start"
            *ngFor="let item of cart.CartItems; let i = index"
          >
            <div class="product">
              <img
                *ngIf="item.Product.Images && item.Product.Images.length"
                [src]="imageUrl + item.Product.Images[0].image"
              />
              <img
                *ngIf="!(item.Product.Images && item.Product.Images.length)"
                src="../../../../assets/images/noImage.jpg"
              />
            </div>
            <div class="desc">
              <a
                [routerLink]="['/product']"
                [queryParams]="{ productId: item?.Product?.id, stockId: item?.Product?.Stock?.id }"
                class="link-nav-a"
              >
                <p class="name">
                  {{ item.Product.name[language] ? item.Product.name[language] : item.Product.name['es'] }}
                </p>
              </a>
              <span>x{{ item.quantity }}</span>
              <span>{{ getTotalPricePerItem(item) | currencyMarket: cart.market }}</span>
            </div>
            <div class="close-circle">
              <a (click)="removeItem(item)"><i class="material-icons"> delete </i></a>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="total" fxLayout="row" fxLayoutAlign="space-between center">
            <p class="text-muted">
              <a mat-flat-button color="primary" class="my-2" (click)="cartService.goToCheckout(cart)">{{ 'Pagar' | translate }}</a>
            </p>
            <span>{{ getTotal(cart) | currencyMarket: cart.market }}</span>
          </div>
          <mat-divider class="mt-3"></mat-divider>
        </ng-container>
      </div>
    </div>
  </mat-menu>
</div>
