@import '../../../../assets/scss/theme/variables';

.iconCart {
  color: $theme-main-dark !important;
}

.top-cart {
  color: #6d1212 !important;
  margin-left: 8px;
  margin-top: 8px;
}

.name {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.list-compare-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #2196f3 !important;
  }
}
