<div class="container">


  <p class="mat-title my-3">{{'Seleccione la imagen de su promoción 1'|translate}}</p>
  <div class="image-box">
    <ngp-image-picker [_imageSrc]="(_initialImageBanner1)?_initialImageBanner1 :null" [_config]="imagePickerConfBanner1"
      ($imageChanged)="onImageBigPromoChange($event)">
    </ngp-image-picker>
  </div>
  <p class="mat-title my-3">{{'Seleccione la imagen de su promoción 2'|translate}}</p>
  <div *ngIf="show2" class="image-box">
    <ngp-image-picker [_imageSrc]="(_initialImageBanner2)?_initialImageBanner2 :null" [_config]="imagePickerConfBanner2"
      ($imageChanged)="onImageBigPromo2Change($event)">
    </ngp-image-picker>
  </div>

  <div fxLayout="row" ngClass.gt-md="pr-3" class="mt-3" fxLayoutAlign="end center" fxLayoutGap="gappx">
    <button mat-flat-button class="px-4" color="primary" [disabled]="!(imageBigPromo || imageBigPromo2)"
      (click)="onSave()">{{'Guardar'|translate}}</button>
  </div>


</div>
