<div fxLayout='row' fxLayoutAlign='end center' fxLayoutGap='gappx'>
  <button (click)='close()' class='close' color='warn' mat-mini-fab>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class='p-2' mat-dialog-content>
  <div class='viewer' fxLayout='row' fxLayoutAlign='center stretch'>
    <img #zoomImage [src]='image.image'>
  </div>

  <div class='controls' fxLayout='row' fxLayoutAlign='start-center'>
    <button (click)='zoomIn()' [disabled]='maxWidth ===100' class='zoom-in mx-2' color='primary' mat-mini-fab>
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button (click)='zoomOut()' [disabled]='maxWidth === 80' class='zoom-out mx-2' color='primary' mat-mini-fab>
      <mat-icon>zoom_out</mat-icon>
    </button>
  </div>

</div>
