<div class=''>
  <div class='showCategoriesMenu' fxHide fxLayout='row' fxLayoutAlign.sm='center center'
       fxLayoutAlign.xs='start center' fxLayoutGap='gappx' fxShow.gt-sm id='showCategoriesMenu'>
    <!--    <a [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="router-link-active"-->
    <!--       class="itemCategory"-->
    <!--       mat-button>{{ 'Inicio' | translate }}</a>-->

<!--    [routerLinkActiveOptions]="{exact:true}"-->
    <a [routerLink]="['/shops-list']" *ngIf='businessConfig?.canShowOurBussiness' class="itemCategory" mat-button routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">{{
      'Nuestras tiendas' | translate
      }}</a>
    <a [routerLink]="['/products/search']" class="itemCategory" mat-button routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">{{
      'Todos los productos' | translate
      }}</a>
    <!--    <a [routerLink]="['/pages/compare']" routerLinkActive="router-link-active" class="itemCategory" mat-button>{{-->
    <!--      'Mi lista' | translate-->
    <!--      }}</a>-->
    <!--
    <a [routerLink]="['/blog']" routerLinkActive="router-link-active" class="itemCategory" mat-button>{{
      'Blog' | translate
    }}</a> -->

    <!-- <a *ngIf="loggedInUser" [routerLink]="['/checkout']" routerLinkActive="router-link-active" class="itemCategory"
      mat-button>{{'Pagar'|translate}}</a> -->

    <!--    <a [routerLink]="['/cart']" class='itemCategory' mat-button routerLinkActive='router-link-active'>-->
    <!--      <span *ngIf='shoppingCartItems.length' [matBadge]='shoppingCartItems.length' matBadgeColor='accent'-->
    <!--            matBadgePosition='after'>{{ 'Carrito' | translate }}</span>-->
    <!--      <span *ngIf='!shoppingCartItems.length'>{{ 'Carrito' | translate }}</span>-->
    <!--    </a>-->

    <!-- <a *ngIf='loggedInUser' [routerLink]="['/my-orders']" class='itemCategory' mat-button
       routerLinkActive='router-link-active'>
      <span *ngIf='ordersPayment.length' [matBadge]='ordersPayment.length' matBadgeColor='accent'
            matBadgePosition='after'>{{ 'My Orders' | translate }}</span>
      <span *ngIf='!ordersPayment.length'>{{ 'My Orders' | translate }}</span>
    </a> -->

    <!-- <a *ngIf="loggedInUser" href="become-a-seller" routerLinkActive="router-link-active" class="itemCategory"
      mat-button>{{ 'Conviértete en vendedor' | translate }}</a> -->

    <!--    <a [routerLink]="['/products/search']" routerLinkActive="router-link-active"-->
    <a
      *ngFor="let category of categories; let i = index"
      [queryParams]="{ CategoryId: category.id }"
      [routerLink]="['/products/search']"
      [ngClass]="category.active ? 'router-link-active' : ''"
      class="itemCategory"
      mat-button
      >{{ category.name | parseLang: utilsSer.getLang() }}</a
    >
  </div>
</div>
