<ng-container *ngIf="products.length > 2 || isHandset">
  <div class="product-item swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">
      <div *ngFor="let product of products" class="swiper-slide">
        <mat-card style="position: relative" class="cardProduct" fxLayout="column">
          <div *ngIf="inLoading" class="loading-shade" style="height: 100%">
            <mat-spinner [diameter]="40" *ngIf="inLoading"></mat-spinner>
          </div>
          <div class="product-img">
            <a
              class="product-link"
              [routerLink]="['/product']"
              [queryParams]="{ productId: product.id, stockId: product?.Stock?.id }"
            >
              <img
                class="imageProduct"
                ngp-lazy
                ngp-threshold="0.1"
                *ngIf="product.Images && product.Images.length"
                onerror="this.onerror=null;this.src='assets/images/noImage.jpg';"
                [src]="imageUrl + product.Images[0].image"
                [alt]="product.name[language] ? product.name[language] : product.name['es']"
              />
              <img
                class="imageProduct"
                ngp-lazy
                ngp-threshold="0.1"
                *ngIf="!(product.Images && product.Images.length)"
                src="../../../../assets/images/noImage.jpg"
                alt="No Image"
              />
            </a>
          </div>
          <div class="product-info-wrapper py-2 px-3">
            <a
              class="product-link"
              [routerLink]="['/product']"
              [queryParams]="{ productId: product.id, stockId: product?.Stock?.id }"
            >
              <span class="mat-caption" style="font-size: 0.8rem !important">
                {{ utilsService.parserLanguage(product.Category.name, language) }}
              </span>

              <div class="moduleTitle line-clampTitle">
                <h4 class="mat-body-2">{{ utilsService.parserLanguage(product.name, language) }}</h4>
              </div>

              <div class="mt-2">
                <ngp-rating-material [value]="product.rating" [config]="{ readOnly: true }"> </ngp-rating-material>
              </div>
              <!-- <p class="module line-clamp mt-1 mb-2">
                {{utilsService.parserLanguage(product.shortDescription,language)}}</p> -->
            </a>

            <div class="price">
              <ng-container *ngIf="product.offerValue">
                <p class="deletePrice m-0">
                  <del>{{ product | parsePriceProduct }}</del>
                </p>
                <p class="mat-body-2 m-0" matTooltip="{{ 'Existe una oferta asociada a este producto' | translate }}">
                  {{ product | parsePriceProduct: 'offert' }}
                </p>
              </ng-container>
              <ng-container *ngIf="!product.offerValue">
                <p class="mat-body-2 m-0">
                  {{ product | parsePriceProduct }}
                </p>
                <p class="mat-body-2 m-0" style="font-size: 15px">
                  {{ 'Desde ' | translate }}
                  {{ product.minSale }}
                  {{ ' unidad' | translate }}
                </p>
              </ng-container>
            </div>
            <button
              matTooltip="{{ 'Añadir al carrito' | translate }}"
              class="btnAddCart"
              mat-mini-fab
              (click)="addToCart(product)"
              style="z-index: 10"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>

            <div class="icons" fxLayout="column">
              <!--<a (click)="openProductDialog(product)">
                <mat-icon>info</mat-icon>
              </a>-->
              <a (click)="addToCompare(product)">
                <mat-icon>compare_arrows</mat-icon>
              </a>
            </div>
          </div>
          <div *ngIf="product.type != 'physical'" class="productType">
            {{ product.type | translate }}
          </div>
        </mat-card>
      </div>
    </div>
    <button fxHide.lt-md mat-mini-fab class="swiper-button-prev swipe-arrow">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button fxHide.lt-md mat-mini-fab class="swiper-button-next swipe-arrow">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="products.length <= 2 && !isHandset">
  <div fxLayout="column" class="product-item swiper-container" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="gappx">
      <div *ngFor="let product of products" class="pl-1 pr-3">
        <mat-card style="position: relative" class="cardProduct2" fxLayout="column">
          <div *ngIf="inLoading" class="loading-shade" style="height: 100%">
            <mat-spinner [diameter]="40" *ngIf="inLoading"></mat-spinner>
          </div>
          <div class="product-img">
            <a
              class="product-link"
              [routerLink]="['/product']"
              [queryParams]="{ productId: product.id, stockId: product?.Stock?.id }"
            >
              <img
                class="imageProduct"
                ngp-lazy
                ngp-threshold="0.1"
                *ngIf="product.Images && product.Images.length"
                onerror="this.onerror=null;this.src='assets/images/noImage.jpg';"
                [src]="imageUrl + product.Images[0].image"
                [alt]="product.name[language] ? product.name[language] : product.name['es']"
                alt="Product Image"
              />

              <img
                class="imageProduct"
                ngp-lazy
                ngp-threshold="0.1"
                *ngIf="!(product.Images && product.Images.length)"
                src="../../../../assets/images/noImage.jpg"
                alt="Product Image"
              />
            </a>
          </div>
          <div class="product-info-wrapper py-2 px-3 pb-3">
            <a
              class="product-link"
              [routerLink]="['/product']"
              [queryParams]="{ productId: product.id, stockId: product?.Stock?.id }"
            >
              <span class="mat-caption" style="font-size: 0.8rem !important">
                {{ utilsService.parserLanguage(product.Category.name, language) }}
              </span>

              <div class="moduleTitle line-clampTitle">
                <h4 class="mat-body-2">{{ utilsService.parserLanguage(product.name, language) }}</h4>
              </div>

              <div class="mt-2">
                <ngp-rating-material [value]="product.rating" [config]="{ readOnly: true }"> </ngp-rating-material>
              </div>
              <!-- <p class="module line-clamp mt-1 mb-2">
                {{utilsService.parserLanguage(product.shortDescription,language)}}</p> -->
            </a>

            <div class="price">
              <ng-container *ngIf="product.offerValue">
                <p class="deletePrice">
                  <del>{{ product | parsePriceProduct }}</del>
                </p>
                <p class="mat-body-2" matTooltip="{{ 'Existe una oferta asociada a este producto' | translate }}">
                  {{ product | parsePriceProduct: 'offert' }}
                </p>
              </ng-container>
              <ng-container *ngIf="!product.offerValue">
                <p class="mat-body-2">
                  {{ product | parsePriceProduct }}
                </p>
                <p class="mat-body-2" style="font-size: 15px">
                  {{ 'Desde ' | translate }}
                  {{ product.minSale }}
                  {{ ' unidad' | translate }}
                </p>
              </ng-container>
            </div>
            <button
              matTooltip="{{ 'Añadir al carrito' | translate }}"
              class="btnAddCart"
              mat-mini-fab
              (click)="addToCart(product)"
              style="z-index: 10"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>

            <div class="icons" fxLayout="column">
              <!-- <a (click)="addToWishlist(product)">
                    <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon>
                  </a> -->
              <!--<a (click)="openProductDialog(product)">
                <mat-icon>info</mat-icon>
              </a>-->
              <a (click)="addToCompare(product)">
                <mat-icon>compare_arrows</mat-icon>
              </a>
            </div>
          </div>
          <div *ngIf="product.type != 'physical'" class="productType">
            {{ product.type | translate }}
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
