<div class="faq">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" class="p-0">
      <div fxFlex="100" fxFlex.gt-sm="70" class="questions p-0">
        <h2 class="py-4" style="text-align: center;">
          {{'Preguntas frecuentes' | translate}}
        </h2>
        <div class="faq-wrap">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa expedita, tempore eligendi minus quibusdam corporis.
                Debitis, tempore eaque, autem eos doloremque inventore repellendus quibusdam dolorum rerum, sapiente facilis nulla quo.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa expedita, tempore eligendi minus quibusdam corporis.
                Debitis, tempore eaque, autem eos doloremque inventore repellendus quibusdam dolorum rerum, sapiente facilis nulla quo.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa expedita, tempore eligendi minus quibusdam corporis.
                Debitis, tempore eaque, autem eos doloremque inventore repellendus quibusdam dolorum rerum, sapiente facilis nulla quo.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa expedita, tempore eligendi minus quibusdam corporis.
                Debitis, tempore eaque, autem eos doloremque inventore repellendus quibusdam dolorum rerum, sapiente facilis nulla quo.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa expedita, tempore eligendi minus quibusdam corporis.
                Debitis, tempore eaque, autem eos doloremque inventore repellendus quibusdam dolorum rerum, sapiente facilis nulla quo.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>{{'Lorem ipsum dolor sit amet consectetur, adipisicing elit.'}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa expedita, tempore eligendi minus quibusdam corporis.
                Debitis, tempore eaque, autem eos doloremque inventore repellendus quibusdam dolorum rerum, sapiente facilis nulla quo.
              </p>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>

    </div>

  </div>
</div>