<div class="faq">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" class="p-0">
      <div fxFlex="100" fxFlex.gt-sm="70" class="questions p-0">
        <h2 class="py-4" style="text-align: center;">
          {{'Preguntas frecuentes' | translate}}
        </h2>
        <div class="faq-wrap">
          <mat-accordion>
            <mat-expansion-panel class="my-3" *ngFor="let item of allFaqs; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ item.title | parseLang: lang }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-3 ck-content" [innerHtml]="item.text | parseLang: lang | safeHtml"></div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

    </div>

  </div>
</div>
