@import "../../../../../../assets/scss/theme/variables";
@import "src/assets/scss/mixins/breakpoints";


:host {
  padding: 16px 16px;

  @include media-breakpoint('lt-md') {
    padding: 8px 4px;
  }

}

.warning {
  color: black;
  font-weight: 500;
  background-color: #fdd835;
  border-radius: 4px;
  z-index: 999;
  padding: 4px 16px;
}

.success {
  color: white;
  font-weight: 500;
  background-color: #43a047;
  border-radius: 4px;
  z-index: 999;
  padding: 4px 16px;
}

.cancel {
  color: white;
  font-weight: 500;
  background-color: #e53935;
  border-radius: 4px;
  z-index: 999;
  padding: 4px 16px;
}

@include media-breakpoint("xs") {
  padding: 16px 0px !important;
}

mat-toolbar-row {
  background-color: transparent !important;
}

mat-toolbar {
  background-color: transparent !important;
}

.example-full-width {
  width: 100%;
}

.rowData {
  min-height: 70px !important;
  height: 70px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;


  // &:hover {
  //   background-color: #eee;
  // }
}

#actionsHover {
  color: #616161 !important;
}

.responsive_table {
  max-height: 72vh;
  overflow: auto;
  padding: 1px;

  @include media-breakpoint("lt-md") {
    table {
      min-width: 800px !important;

      th {
        min-width: 80px !important;
      }

      #select {
        min-width: 60px !important;
      }

      #action {
        min-width: 60px !important;
      }
    }

    .mat-paginator {
      display: block;
      min-width: 800px !important;
    }

  }
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #4caf50 !important
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #81c784 !important;
}
