$menu-hover: #131313; // hover on the menu
$menu-hover-text: white; // text color, on hover on the menu

$search-btn-hover-text: white; // text color, on hover on button search navbar

$footer-color: #FF3366; // footer background color

//colors
$theme-main: #131313; // main bar
$theme-main-400: #FF3366; // sub main bar
$theme-main-300: #707070;
$theme-main-100: #c2c2c2;
$theme-main-accent: #FF3366; // sub main bar
$theme-main-accent-400: #3dc998;
$theme-main-accent-300: #5fd3aa;
$theme-main-accent-100: #bbecdb;

$theme-main-dark: #131313;
$theme-main-dark-2: #262626;
$theme-main-dark-3: #131313;
$theme-main-red: #f33927;
$white: #ffffff;
$white-dark: #e6e6e6;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2d2a25;
$font-color: #333333;
$grey-light: #dddddd;
$grey: #777777;
$grey2: #eeeeee;
$grey3: #c3c3c3;
$grey4: #444;
$grey5: #848484;
$grey6: #e5e5e5;
$grey7: #787878;
$grey8: #d9d9d9;
$grey9: #f3f3f3;
$grey10: #9c9c9c;
$baners-background: #f5f5f5;
$background: #fafafa;
$gray-lighter: #f6f6f6;
$footer-background: #f7f7f7;

//////////////////////////////////////

/*Material Colors*/
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$red-100: #ffebee;
$red-200: #ffcdd2;
$red-300: #e57373;
$red-400: #ef5350;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b71c1c;

$amber-100: #ffecb3;
$amber-200: #ffe082;
$amber-300: #ffd54f;
$amber-400: #ffca28;
$amber-500: #ffc107;
$amber-600: #ffb300;
$amber-700: #ffa000;
$amber-800: #ff8f00;
$amber-900: #ff6f00;

$teal-50: #e0f2f2;
$teal-100: #b2dfdb;
$teal-200: #80cbc4;
$teal-300: #4db6ac;
$teal-400: #26a69a;
$teal-500: #009688;
$teal-600: #00897b;
$teal-700: #00796b;
$teal-800: #00695c;
$teal-900: #004d40;

$blue-50: #e3f2fd;
$blue-100: #bbdefb;
$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;

// $green-50: mat-color(mat-palette($mat-green, 50));
// $green-100: mat-color(mat-palette($mat-green, 100));
// $green-200: mat-color(mat-palette($mat-green, 200));
// $green-300: mat-color(mat-palette($mat-green, 300));
// $green-400: mat-color(mat-palette($mat-green, 400));
// $green-500: mat-color(mat-palette($mat-green, 500));
// $green-600: mat-color(mat-palette($mat-green, 600));
// $green-700: mat-color(mat-palette($mat-green, 700));
// $green-800: mat-color(mat-palette($mat-green, 800));
// $green-900: mat-color(mat-palette($mat-green, 900));

//////////BACKGROUND COLORS////////////
.background-color-white {
  background-color: white;
}

.background-color-grey-50 {
  background-color: $grey-50 !important;
}

.background-color-grey-100 {
  background-color: $grey-100;
}

.background-color-grey-200 {
  background-color: $grey-200;
}

.background-color-grey-300 {
  background-color: $grey-300;
}

.background-color-grey-400 {
  background-color: $grey-400;
}

.background-color-grey-500 {
  background-color: $grey-500;
}

.background-color-grey-600 {
  background-color: $grey-600;
}

.background-color-grey-700 {
  background-color: $grey-700;
}

.color-grey-700 {
  color: $grey-700 !important;
}

.background-color-grey-800 {
  background-color: $grey-800;
}

.background-color-grey-900 {
  background-color: $grey-900;
}

/*red*/
.background-color-red-100 {
  background-color: $red-100;
}

.background-color-red-200 {
  background-color: $red-200;
}

.background-color-red-300 {
  background-color: $red-300;
}

.background-color-red-400 {
  background-color: $red-400;
}

.background-color-red-500 {
  background-color: $red-500;
}

.background-color-red-600 {
  background-color: $red-600;
}

.background-color-red-700 {
  background-color: $red-700;
}

.background-color-red-800 {
  background-color: $red-800;
}

.background-color-red-900 {
  background-color: $red-900;
}

/*teal*/
.background-color-teal-100 {
  background-color: $teal-100;
}

.background-color-teal-200 {
  background-color: $teal-200;
}

.background-color-teal-300 {
  background-color: $teal-300;
}

.background-color-teal-400 {
  background-color: $teal-400;
}

.background-color-teal-500 {
  background-color: $teal-500;
}

.background-color-teal-600 {
  background-color: $teal-600;
}

.background-color-teal-700 {
  background-color: $teal-700;
}

.background-color-teal-800 {
  background-color: $teal-800;
}

.background-color-teal-900 {
  background-color: $teal-900;
}

/*amber*/
.background-color-amber-100 {
  background-color: $amber-100;
}

.background-color-amber-200 {
  background-color: $amber-200;
}

.background-color-amber-300 {
  background-color: $amber-300;
}

.background-color-amber-400 {
  background-color: $amber-400;
}

.background-color-amber-500 {
  background-color: $amber-500;
}

.background-color-amber-600 {
  background-color: $amber-600;
}

.background-color-amber-700 {
  background-color: $amber-700;
}

.background-color-amber-800 {
  background-color: $amber-800;
}

.background-color-amber-900 {
  background-color: $amber-900;
}

//////COLORS////////////
.color-grey-100 {
  color: $grey-100;
}

.color-grey-200 {
  color: $grey-200;
}

.color-grey-300 {
  color: $grey-300;
}

.color-grey-400 {
  color: $grey-400;
}

.color-grey-500 {
  color: $grey-500;
}

.color-grey-600 {
  color: $grey-600;
}

.color-grey-700 {
  color: $grey-700;
}

.color-grey-800 {
  color: $grey-800;
}

.color-grey-900 {
  color: $grey-900;
}

/*red*/
.color-red-100 {
  color: $red-100;
}

.color-red-200 {
  color: $red-200;
}

.color-red-300 {
  color: $red-300;
}

.color-red-400 {
  color: $red-400;
}

.color-red-500 {
  color: $red-500;
}

.color-red-600 {
  color: $red-600;
}

.color-red-700 {
  color: $red-700;
}

.color-red-800 {
  color: $red-800;
}

.color-red-900 {
  color: $red-900;
}

/*teal*/
.color-teal-100 {
  color: $teal-100;
}

.color-teal-200 {
  color: $teal-200;
}

.color-teal-300 {
  color: $teal-300;
}

.color-teal-400 {
  color: $teal-400;
}

.color-teal-500 {
  color: $teal-500;
}

.color-teal-600 {
  color: $teal-600;
}

.color-teal-700 {
  color: $teal-700;
}

.color-teal-800 {
  color: $teal-800;
}

.color-teal-900 {
  color: $teal-900;
}

/*amber*/
.color-amber-100 {
  color: $amber-100;
}

.color-amber-200 {
  color: $amber-200;
}

.color-amber-300 {
  color: $amber-300;
}

.color-amber-400 {
  color: $amber-400;
}

.color-amber-500 {
  color: $amber-500;
}

.color-amber-600 {
  color: $amber-600;
}

.color-amber-700 {
  color: $amber-700;
}

.color-amber-800 {
  color: $amber-800;
}

.color-amber-900 {
  color: $amber-900;
}

.color-white {
  color: white;
}
