@import '../../../../../assets/scss/theme/variables';

:host ::ng-deep{
  .see-more-btn {
    button {
      padding: 10px 24px;
    }
  }
  guachos-simple-pagination{
    .current{
      background-color: $theme-main !important;
      color: white;
    }
    [aria-disabled="true"]{
      color: #9c9c9c !important;
    }
    [aria-disabled="false"]{
      //color: #9c9c9c !important;
      background-color: $theme-main-100;
    }
    a{
      font-weight: 700;
      max-width: 30px !important;
    }
    a.see-more-btn{
      padding: 10px 12px !important;
    }
    a:hover{
      background-color: $theme-main-300 !important;
      color: white !important;
      font-weight: 800
    }
    a.more:hover{
      color: $theme-main !important;
      background-color: white !important;
      font-weight: 700
    }
    button:hover:enabled{
      background-color: $theme-main !important;
      color: white !important;
    }
    button{
      color: white !important;
      font-weight: 700;
      padding: 10px 12px !important;
    }
  }

}

.sticky-proceed-pay {
  background-color: $theme-main;
  color: white;
  position: fixed;
  bottom: 6px;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px;
  z-index: 20;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: 360px) {
    width: 274px;
  }
}

.no-border {
  border: none !important;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 8px;
  overflow-x: auto;
  padding: 0 16px;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.header::-webkit-scrollbar {
  display: none;
}

.chip-order {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  padding: 4px 16px;
  cursor: pointer;

  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-weight: 600;
  }
}

.chip-order.selected {
  background-color: $font-color;
  color: white;
}

.border-right {
  border-right: 2px solid #eeeeee !important;
}

.toggles-wrapper {
  background-color: #fafafa !important;
  padding: 16px;
  position: fixed;
  max-height: 800px;
  overflow: scroll;
  left: 5rem;
}

.filter-sidenav {
  max-height: 800px;
  overflow: scroll;
}
.filter-sidenav::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.filter-sidenav::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px;
}

.title-filters {
  font-size: 16px;
  font-weight: 900;
}

.bg-acordion {
  background-color: #fafafa !important;
}
::ng-deep {
  .without-padding-bottom {
    .mat-form-field-wrapper {
      padding-bottom: 0px !important;
    }
  }
}

.field-order {
  width: 300px !important;
}

.full-width {
  width: 100%;
}

.container-search {
  //max-width: 1500px;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px auto;

  @media (max-width: 480px) {
    padding: 0 8px;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 16px 16px !important;
}

.imageSkeleton {
  height: 100%;
  max-height: 150px;
  width: 100%;

  @media (max-width: 480px) {
    max-height: 120px;
  }
}

.skeletonLoadingContainer {
  border-radius: 4px;
  height: 180px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
  margin: 16px 0px;

  @media (max-width: 480px) {
    max-height: 120px;
  }
}

.select-search {
  width: 220px !important;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-right: 5px;
  height: 38px;
  padding: 0px 10px;
}
