<div class="left-sidebar-wrapper sec-padding" ngClass.lt-sm="pt-3">

  <div class="container-search">
    <div class="my-2" fxHide.xs>
      <mat-chip-list>
        <mat-icon *ngIf="this.showChips().length" class="mx-2">search</mat-icon>
        <mat-chip *ngFor="let chip of this.showChips()">{{chip.name['es']}}</mat-chip>
      </mat-chip-list>
    </div>

    <div id="topLeftSidebar" class="sidebar-wrapper" fxLayout='row wrap' fxLayoutAlign="center start">
      <div fxFlex="25" fxFlex.lt-md="100" class="filter-sidenav" perfectScrollbar>
        <div class="toggles-wrapper border-right" fxLayout="column" fxLayout.lt-md="column">
          <div class="toggles" fxFlex.lt-md="100">
            <mat-accordion [multi]="true">
              <mat-expansion-panel class="mat-elevation-z0 no-border bg-acordion" [expanded]="!isHandset || this.categoriesIds.length ">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{'Categories'|translate}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-categories [categoriesIds]="this.categoriesIds" (categoryChanged)="onCategoriesChanged($event)"></app-categories>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0 no-border bg-acordion" [expanded]="!isHandset">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{'Brands'|translate}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="brands">
                  <app-brands (brandChanged)="onBrandsChanged($event)"></app-brands>
                </div>
              </mat-expansion-panel>
              <!-- <mat-expansion-panel class="mat-elevation-z0 no-border bg-acordion" [expanded]="!isHandset">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{'Ratings'|translate}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="brands">
                  <ngp-rating-material [config]="{label:'estrellas', size:'22px', showNumber:true , showClearBtn:true}"
                    [(ngModel)]="paramsSearch.rating" (ngModelChange)="onChangeRating()">
                  </ngp-rating-material>
                </div>
              </mat-expansion-panel> -->

              <mat-expansion-panel class="mat-elevation-z0 no-border bg-acordion" [expanded]="!isHandset">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{"Price"|translate}}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-price [reset]="resetPrices" (priceFilters)="updatePriceFilters($event)"></app-price>
              </mat-expansion-panel>

            </mat-accordion>
          </div>
          <div fxHide.lt-md class="popular-products pl-3" fxFlex.lt-md="100">
            <app-popular-products></app-popular-products>
          </div>
        </div>

      </div>
      <div id="topSearchBar" fxFlex="75" fxFlex.lt-md="100" class="all-products">
        <div fxLayout="row" ngClass.lt-md="mt-3" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
          <div>
            <select style="width: 195px !important;" (change)="onChangeSorting($event.target.value)">
              <option value="name">{{"Alphabetically, A-Z"|translate}}</option>
              <option value="-name">{{"Alphabetically, Z-A"|translate}}</option>
              <option value="price">{{"Price, low to high"|translate}}</option>
              <option value="-price">{{"Price, high to low"|translate}}</option>
              <option value="rating">{{"Rating, low to high"|translate}}</option>
              <option value="-rating">{{"Rating, high to low"|translate}}</option>
            </select>

          </div>
          <div fxHide.xs>

            <button mat-icon-button (click)="changeViewType('list', 100)">
              <mat-icon>view_list</mat-icon>
            </button>
            <button mat-icon-button (click)="changeViewType('list',50)">
              <mat-icon>view_module</mat-icon>
            </button>
          </div>
        </div>

        <div *ngIf="!loading" fxLayout="row wrap" class="products-wrapper">
          <div *ngFor="let products of allProducts" fxFlex="100" [fxFlex.gt-sm]="viewCol" class="col">
            <div class="product-box">
              <app-product [product]="products"></app-product>
            </div>
          </div>
          <ng-container *ngIf="allProducts.length == 0">
            <h3 class="py-4" style="text-align: center;">
              No hay ningún producto disponible
            </h3>
          </ng-container>
        </div>

        <ng-container *ngIf="loading">
          <div class="p-2 my-2 w-100" class="skeletonLoadingContainer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div class="loader h-100" style="padding: 16px; box-sizing: border-box;" fxFlex="30" fxLayout="center center">
              <div class="imageSkeleton">

              </div>
            </div>
            <div fxFlex="70" class="px-2">
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-25 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>

            </div>
          </div>
          <div class="p-2 my-2 w-100" class="skeletonLoadingContainer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div class="loader h-100" style="padding: 16px; box-sizing: border-box;" fxFlex="30" fxLayout="center center">
              <div class="imageSkeleton">

              </div>
            </div>
            <div fxFlex="70" class="px-2">
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-25 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>

            </div>
          </div>
          <div class="p-2 my-2 w-100" class="skeletonLoadingContainer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div class="loader h-100" style="padding: 16px; box-sizing: border-box;" fxFlex="30" fxLayout="center center">
              <div class="imageSkeleton">

              </div>
            </div>
            <div fxFlex="70" class="px-2">
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-25 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>

            </div>
          </div>
          <div class="p-2 my-2 w-100" class="skeletonLoadingContainer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div class="loader h-100" style="padding: 16px; box-sizing: border-box;" fxFlex="30" fxLayout="center center">
              <div class="imageSkeleton">

              </div>
            </div>
            <div fxFlex="70" class="px-2">
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-25 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>

            </div>
          </div>
          <div class="p-2 my-2 w-100" class="skeletonLoadingContainer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div class="loader h-100" style="padding: 16px; box-sizing: border-box;" fxFlex="30" fxLayout="center center">
              <div class="imageSkeleton">

              </div>
            </div>
            <div fxFlex="70" class="px-2">
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-25 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>

            </div>
          </div>
          <div class="p-2 my-2 w-100" class="skeletonLoadingContainer" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <div class="loader h-100" style="padding: 16px; box-sizing: border-box;" fxFlex="30" fxLayout="center center">
              <div class="imageSkeleton">

              </div>
            </div>
            <div fxFlex="70" class="px-2">
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-100 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>
              <div class="py-2 my-2 w-25 loader" style="border-radius: 4px;" fxLayout="row" fxLayoutAlign="start center"
                fxLayoutGap="gappx">
              </div>

            </div>
          </div>
        </ng-container>


        <div fxLayout="row wrap">
          <div fxFlex="100">
            <mat-paginator (page)="OnPaginatorChange($event)" [pageIndex]="queryProduct.page" [pageSize]="queryProduct.limit"
              [length]="this.queryProduct.total" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
          </div>
        </div>
      </div>
      <div fxHide fxShow.lt-md class="popular-products mt-2 pl-3" fxFlex.lt-md="100">
        <app-popular-products></app-popular-products>
      </div>
    </div>
  </div>
</div>
