<div (click)='cartService.goToCheckout(theCart)' *ngIf='(cartService.$cartItemsUpdated | async)?.length > 0' class='sticky-proceed-pay'>
  {{ 'Proceder al pago' | translate }}&nbsp;({{ itemsOnCart }}&nbsp;{{ 'productos' }})
</div>

<div class='left-sidebar-wrapper sec-padding' ngClass.lt-sm='pt-3'>
  <div class='container-search'>
    <div class='header'>
      <div></div>
      <div fxLayoutAlign='start center' fxLayoutGap='1rem'>
        <div fxHide fxLayout='row' fxLayoutAlign='space-between start' fxShow.lt-md style='margin-bottom: 5px'>
          <button (click)='openDialog()' mat-button style='border-radius: 25px; border: 1.5px solid rgba(0, 0, 0, 0.12)'>
            <mat-icon>search</mat-icon>
            {{ 'Filtros' | translate }}
          </button>
        </div>
        <span class='bold'>{{ 'Ordenar' | translate }}</span>
        <div (click)="onSetOrder(this.queryProduct?.order == 'id' ? '-id' : 'id')"
          [ngClass]="{ selected: this.queryProduct?.order == 'id' || this.queryProduct?.order == '-id' }" class='chip-order'>
          {{ 'Creación' | translate }}
          <mat-icon *ngIf="this.queryProduct?.order == 'id'">north</mat-icon>
          <mat-icon *ngIf="this.queryProduct?.order == '-id'">south</mat-icon>
        </div>
        <div (click)="onSetOrder(this.queryProduct?.order == 'name' ? '-name' : 'name')"
          [ngClass]="{ selected: this.queryProduct?.order == 'name' || this.queryProduct?.order == '-name' }" class='chip-order'>
          {{ 'Nombre' | translate }}
          <mat-icon *ngIf="this.queryProduct?.order == 'name'">north</mat-icon>
          <mat-icon *ngIf="this.queryProduct?.order == '-name'">south</mat-icon>
        </div>
        <div (click)="onSetOrder(this.queryProduct?.order == 'fromPrice' ? '-fromPrice' : 'fromPrice')"
          [ngClass]="{ selected: this.queryProduct?.order == 'fromPrice' || this.queryProduct?.order == '-fromPrice' }" class='chip-order'>
          {{ 'Precio' | translate }}
          <mat-icon *ngIf="this.queryProduct?.order == 'fromPrice'">north</mat-icon>
          <mat-icon *ngIf="this.queryProduct?.order == '-fromPrice'">south</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class='container-search'>
    <div class='my-2' fxHide.xs>
      <mat-chip-list>
        <mat-icon *ngIf='this.showChips().length' class='mx-2'>search</mat-icon>
        <mat-chip (removed)='onRemoveCategory(chip)' *ngFor='let chip of this.showChips()' [removable]='true'>
          {{ chip.name | parseLang: translate.currentLang }}
          <mat-icon *ngIf='true' matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class='sidebar-wrapper' fxLayout='row wrap' fxLayoutAlign='center start' id='topLeftSidebar'>
      <div class='filter-sidenav' fxFlex='25' fxFlex.lt-md='100' fxHide.lt-md perfectScrollbar>
        <div class='toggles-wrapper border-right' fxLayout='column' fxLayout.lt-md='column' style='border-radius: 15px'>
          <div class='toggles' fxFlex.lt-md='100'>
            <mat-accordion [multi]='true'>
              <mat-expansion-panel [expanded]='!isHandset || this.categoriesIds.length' class='mat-elevation-z0 no-border bg-acordion'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{ 'Categories' | translate }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-categories (categoryChanged)='onCategoriesChanged($event)' [categoriesIds]='this.categoriesIds'></app-categories>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]='!isHandset' class='mat-elevation-z0 no-border bg-acordion'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{ 'Brands' | translate }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class='brands'>
                  <app-brands (brandChanged)='onBrandsChanged($event)' [brandsIds]='this.brandsIds'
                    [categoriesToSelectBrands]='categoriesIds'></app-brands>
                </div>
              </mat-expansion-panel>
              <!-- <mat-expansion-panel class="mat-elevation-z0 no-border bg-acordion" [expanded]="!isHandset">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{'Ratings'|translate}}</span>
                  </mat-panel-title>´
                </mat-expansion-panel-header>
                <div class="brands">
                  <guachos-rating [config]="{label:'estrellas', size:'22px', showNumber:true , showClearBtn:true}"
                    [(ngModel)]="paramsSearch.rating" (ngModelChange)="onChangeRating()">
                  </guachos-rating>
                </div>
              </mat-expansion-panel> -->

              <mat-expansion-panel [expanded]='!isHandset' class='mat-elevation-z0 no-border bg-acordion'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>{{ 'Price' | translate }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>´
                <app-price (priceFilters)='updatePriceFilters($event)' [reset]='resetPrices'></app-price>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <ng-container *ngIf='!isHandset'>
            <div class='popular-products pl-3' fxFlex.lt-md='100' fxHide.lt-md>
              <app-popular-products></app-popular-products>
            </div>
          </ng-container>
        </div>
      </div>
<!--      {{allProductsResponse?.length}}-->
<!--      <ng-container *ngIf='allProductsResponse?.length == 0'>-->
<!--        <h3 class='py-4' style='text-align: center'>{{ 'No hay ningún producto disponible' | translate }}</h3>-->
<!--      </ng-container>-->
      <div class="all-products" fxFlex="75" fxFlex.lt-md="100" id="topSearchBar">
        <ng-container *ngIf='noResults && allProductsResponse.length && !loadingSearch'>
          <div class='my-5' fxLayout='column' fxLayoutAlign='center center'>
            <h3 class='mb-2' style='text-align: center'>{{ 'No se encontraron resultados para la ubicación seleccionada' }}</h3>
            <h2>{{ 'Resultados sugeridos' }}</h2>
          </div>
        </ng-container>
        <div *ngIf="loadingSearch" fxLayout='row' fxLayoutAlign='center center' style='height: 80vh'>
          <mat-spinner *ngIf="loadingSearch" diameter="60" color="primary"></mat-spinner>
        </div>

        <!-- <div fxLayout="row" ngClass.lt-md="mt-3" fxHide.lt-md fxLayoutAlign="space-between center"
          class="filter-row mat-elevation-z1 text-muted">
          <div>
            <select style="width: 195px !important;" (change)="onChangeSorting($event.target.value)">
              <option value="name">{{"Alphabetically, A-Z"|translate}}</option>
              <option value="-name">{{"Alphabetically, Z-A"|translate}}</option>
              <option value="price">{{"Price, low to high"|translate}}</option>
              <option value="-price">{{"Price, high to low"|translate}}</option>
              <option value="rating">{{"Rating, low to high"|translate}}</option>
              <option value="-rating">{{"Rating, high to low"|translate}}</option>
            </select>

          </div>
          <div fxHide.xs>

            <button mat-icon-button (click)="changeViewType('list', 100)">
              <mat-icon>view_list</mat-icon>
            </button>´
            <button mat-icon-button (click)="changeViewType('list',50)">
              <mat-icon>view_module</mat-icon>
            </button>
          </div>
        </div>  -->

        <!-- <div fxHide.lt-md fxLayoutAlign.lt-md="end start">
          <select class="select-search mx-2" (change)="onChangeSorting($event.target.value)">
            <option value="name">{{ 'Alphabetically, A-Z' | translate }}</option>
            <option value="-name">{{ 'Alphabetically, Z-A' | translate }}</option>
            <option value="price">{{ 'Price, low to high' | translate }}</option>
            <option value="-price">{{ 'Price, high to low' | translate }}</option>
            <option value="rating">{{ 'Rating, low to high' | translate }}</option>
            <option value="-rating">{{ 'Rating, high to low' | translate }}</option>
          </select>
        </div> -->

        <ng-container *ngIf='totalProducts == 0 && !loadingSearch'>
          <h3 class='py-4' style='text-align: center'>{{ 'No hay ningún producto disponible que coincida con su búsqueda.' | translate }}</h3>
        </ng-container>
        <div *ngIf='allProducts?.length > 0 && !loadingSearch' class='w-100' fxLayout='row wrap' fxLayoutAlign='start start'>
          <div
            class='w-100' fxLayout='row wrap' fxLayoutAlign='start start'
            infiniteScroll
            (scrolled)='infiniteScrollSearchMethod()'>
            <app-product *ngFor='let products of allProducts' [product]='products' fxFlex.lt-md='100'></app-product>
          </div>

<!--          <ng-container *ngIf='allProducts?.length == 0 && !loading && loadingSearch'>-->
<!--            <h3 class='py-4' style='text-align: center'>{{ 'No hay ningún producto disponible' | translate }}</h3>-->
<!--          </ng-container>-->
        </div>
        <span *ngIf='loading && !loadingSearch' fxLayout='row' fxLayoutAlign='center center' class='mb-3 mt-3' style='height: 80vh'>
          <mat-spinner color='primary' diameter='25' fxLayoutAlign='center center'></mat-spinner>
        </span>

<!--        <ng-container *ngIf='loading'>-->
<!--          <div class='p-2 my-2 w-100' class='skeletonLoadingContainer' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
<!--            <div class='loader h-100' fxFlex='30' fxLayout='center center' style='padding: 16px; box-sizing: border-box'>-->
<!--              <div class='imageSkeleton'></div>-->
<!--            </div>-->
<!--            <div class='px-2' fxFlex='70'>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-25 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx' style='border-radius: 4px'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class='p-2 my-2 w-100' class='skeletonLoadingContainer' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
<!--            <div class='loader h-100' fxFlex='30' fxLayout='center center' style='padding: 16px; box-sizing: border-box'>-->
<!--              <div class='imageSkeleton'></div>-->
<!--            </div>-->
<!--            <div class='px-2' fxFlex='70'>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-25 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx' style='border-radius: 4px'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class='p-2 my-2 w-100' class='skeletonLoadingContainer' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
<!--            <div class='loader h-100' fxFlex='30' fxLayout='center center' style='padding: 16px; box-sizing: border-box'>-->
<!--              <div class='imageSkeleton'></div>-->
<!--            </div>-->
<!--            <div class='px-2' fxFlex='70'>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-25 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx' style='border-radius: 4px'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class='p-2 my-2 w-100' class='skeletonLoadingContainer' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
<!--            <div class='loader h-100' fxFlex='30' fxLayout='center center' style='padding: 16px; box-sizing: border-box'>-->
<!--              <div class='imageSkeleton'></div>-->
<!--            </div>-->
<!--            <div class='px-2' fxFlex='70'>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-25 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx' style='border-radius: 4px'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class='p-2 my-2 w-100' class='skeletonLoadingContainer' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
<!--            <div class='loader h-100' fxFlex='30' fxLayout='center center' style='padding: 16px; box-sizing: border-box'>-->
<!--              <div class='imageSkeleton'></div>-->
<!--            </div>-->
<!--            <div class='px-2' fxFlex='70'>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-25 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx' style='border-radius: 4px'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class='p-2 my-2 w-100' class='skeletonLoadingContainer' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
<!--            <div class='loader h-100' fxFlex='30' fxLayout='center center' style='padding: 16px; box-sizing: border-box'>-->
<!--              <div class='imageSkeleton'></div>-->
<!--            </div>-->
<!--            <div class='px-2' fxFlex='70'>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-100 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'-->
<!--                style='border-radius: 4px'></div>-->
<!--              <div class='py-2 my-2 w-25 loader' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx' style='border-radius: 4px'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-container>-->

        <div *ngIf="!loading && allProducts?.length > 0" class="mt-4 mb-4 see-more-btn" fxLayout="row" fxLayoutAlign="center center"
          fxLayoutGap="1rem">
<!--          <button (click)="goToFirstPage($event)" *ngIf="numberOfSearch > 0  &&-->
<!--            allProductsResponse.length > initLimit" mat-stroked-button>-->
<!--            {{ 'Ir al principio' | translate }}-->
<!--          </button>-->
<!--          &lt;!&ndash; *ngIf="!(allProductsResponse.length < queryProduct.limit)" &ndash;&gt;-->
<!--          <button *ngIf="-->
<!--              numberOfSearch + 1 < amountInitialResults ||-->
<!--              !(allProductsResponse.length < queryProduct.limit && numberOfSearch + 1 == amountInitialResults)-->
<!--            " (click)="seeMoreProductsBtn($event)" color="primary" mat-flat-button>-->
<!--            {{ 'Ver más productos' | translate }}-->
<!--          </button>-->

<!--          <guachos-simple-pagination [current]="queryProduct?.page + 1"-->
<!--                                     [total]="getCountPage(queryProduct?.total)"-->
<!--                                     [lang]="'es'"-->
<!--                                     (goTo)="newSearchMethod($event)"-->
<!--                                     (next)="newSearchMethod($event + 1)"-->
<!--                                     (previous)="newSearchMethod($event - 1)"-->
<!--                                     ></guachos-simple-pagination>-->
        </div>

        <!--        <div fxLayout="row wrap">-->
        <!--          <div fxFlex="100">-->
        <!--            <mat-paginator (page)="OnPaginatorChange($event)" [pageIndex]="queryProduct.page"-->
        <!--                           [pageSize]="queryProduct.limit"-->
        <!--                           [length]="queryProduct.total" [pageSizeOptions]="pageSizeOptions"></mat-paginator>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>

      <ng-container *ngIf='isHandset'>
        <div class='popular-products mt-2 pl-3' fxFlex.lt-md='100' fxHide fxShow.lt-md>
          <app-popular-products></app-popular-products>
        </div>
      </ng-container>
    </div>
  </div>
</div>
