:host {
  padding: 16px 0px;
}

.form-field-width {
  max-width: 35rem;
}

.container-business {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0px;
  margin: 0px auto;
}

::ng-deep .imageBusiness .image-holder-loaded {
  width: 150px !important;
  min-width: 0px !important
}

::ng-deep .popup {
  margin-top: 64px !important;
}

::ng-deep .image-container {
  margin-left: auto !important;
  margin-right: auto !important;
  min-width: unset !important;
  width: 100% !important;
  max-width: 1200px !important;

  img {
    max-height: 480px !important;
  }
}


.popup {
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
