.layoutCheck {
  height: 46px !important;
  position: relative;

}

.clearChipBtn {
  width: 24px !important;
  height: 24px !important;
  margin-left: 8px;
  position: absolute;
  right: 0px;
  top: 10px;

  mat-icon {
    // height: 16px;
    // width: 16px;
    // font-size: 18px;
    line-height: 8px;
    font-size: 18px;
  }
}

