<div class="dialog-content-wrapper">
  <mat-toolbar color="primary" id="toolbarHeader" matDialogTitle>
    <mat-toolbar-row fxLayoutAlign="space-between center">
      {{ 'Mis contactos' | translate }}
      <button (click)="dialogRef.close()" aria-label="Close dialog" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="my-dialog-content" fxFlex="100" mat-dialog-content>
    <!-- LISTADO DE CONTACTOS -->
    <ng-container *ngIf="!onCreateContact">
      <ng-container *ngIf="isLoading; then loading; else contentLoaded"></ng-container>

      <ng-template #contentLoaded>
        <ng-container
          *ngIf="contactsService.allContacts.length > 0; then thereIsContacts; else thereIsNoContacts"
        ></ng-container>
      </ng-template>

      <ng-template #thereIsContacts>
        <div fxFlex="100" fxLayout="column">
          <ng-container *ngFor="let contact of contactsService.allContacts; last as lst">
            <div
              [ngClass]="{ 'contacts-line-bottom': !lst }"
              class="contact-item"
              fxFlex="100"
              fxLayout="row"
              fxLayoutAlign="star center"
              fxLayoutGap="1rem"
            >
              <button
                (click)="onMarkAsFeaturedContact(contact)"
                *ngIf="!contact.selected"
                mat-icon-button
                matTooltip="{{ 'Marcar este contacto como predetermindo' | translate }}"
              >
                <mat-icon class="color-grey-700">star_border</mat-icon>
              </button>
              <button
                (click)="onMarkAsFeaturedContact(contact)"
                *ngIf="contact.selected"
                mat-icon-button
                matTooltip="{{ 'Desmarcar este contacto como predetermindo' | translate }}"
              >
                <mat-icon style="color: #ffeb3b !important">star</mat-icon>
              </button>
              <span class="contact-title" fxFlex="grow">{{ contact?.name }}&nbsp;{{ contact?.lastName }} </span>

              <div
                (click)="editContact(contact)"
                class="item-action"
                fxFlex="48px"
                fxLayout="row"
                fxLayoutAlign="center center"
                style="cursor: pointer"
              >
                <mat-icon>edit</mat-icon>
              </div>

              <div
                (click)="removeContact(contact)"
                class="item-action"
                fxFlex="48px"
                fxLayout="row"
                fxLayoutAlign="center center"
                style="cursor: pointer"
              >
                <mat-icon>delete</mat-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <ng-template #thereIsNoContacts>
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
          <span>{{ 'No tiene contactos' | translate }}</span>
          <small>{{ 'Esta información se usan para tener acceso rápidos a ella para el pago' | translate }}</small>
        </div>
      </ng-template>
    </ng-container>

    <!-- FORMULARIO DE CRAR UN CONTACTO -->
    <ng-container *ngIf="onCreateContact">
      <div [formGroup]="form" fxFlex="100">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

          <mat-slide-toggle class='mt-3 mb-3' [formControl]="form.controls['selected']">{{'Marcar como contacto por defecto'}}</mat-slide-toggle>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'Name' | translate }}</mat-label>
            <input
              [formControl]="form.controls['name']"
              matInput
              placeholder="{{ 'Name' | translate }}"
              type="text"
              (keypress)="utilsService.keyPressAlpha($event)"
            />
            <mat-icon class="greyIcon" matSuffix>person</mat-icon>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              {{ 'Name' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'Apellidos' | translate }}</mat-label>
            <input
              [formControl]="form.controls['lastName']"
              matInput
              placeholder="{{ 'Apellidos' | translate }}"
              type="text"
              (keypress)="utilsService.keyPressAlpha($event)"
            />
            <mat-icon class="greyIcon" matSuffix>person</mat-icon>
            <mat-error *ngIf="form.controls['lastName'].hasError('required')">
              {{ 'lastName' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div
            fxFlex="100"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="start center"
            fxLayoutAlign.xs="start"
            fxLayoutGap="1rem"
            fxLayoutGap.xs="0"
          >
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.xs="100">
              <mat-label>{{ 'Email' | translate }}</mat-label>
              <input
                (keypress)="utilsService.keyLettersNumberForEmail($event)"
                [formControl]="form.controls['email']"
                matInput
                placeholder="{{ 'Email' | translate }}"
                type="email"
              />
              <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                {{ 'email' | translate }} <strong>{{ 'is required' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="form.controls['email'].hasError('email') || form.controls['email'].hasError('pattern')">
                {{ 'email' | translate }} <strong>{{ 'incorrecto' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.xs="100">
              <mat-label>{{ 'Documento de identidad' | translate }}</mat-label>
              <input
                (keypress)="utilsService.keyPressAlphaAndNumbersModIdentity($event)"
                [formControl]="form.controls['identification']"
                matInput
                placeholder="{{ 'identification' | translate }}"
                type="email"
              />
              <mat-icon class="greyIcon" matSuffix>fact_check</mat-icon>
              <mat-error *ngIf="form.controls['identification'].hasError('required')">
                {{ 'Identification' | translate }} <strong>{{ 'is required' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="form.controls['identification'].hasError('pattern')">
                {{ 'Identification' | translate }} <strong>{{ 'incorrecto' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="form.controls['identification'].hasError('minlength') || form.controls['identification'].hasError('maxlength')">
                {{ 'Identification' | translate }} <strong>{{ 'must have 11 characters' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'Phone' | translate }}</mat-label>
            <input
              (keypress)="utilsService.keyPressNumbers($event)"
              [formControl]="form.controls['phone']"
              matInput
              placeholder="{{ 'Phone' | translate }}"
              type="tel"
            />
            <mat-icon class="greyIcon" matSuffix>ring_volume</mat-icon>
            <mat-hint>{{ 'Ejemplo, 5 XXX XX XX' | translate }}</mat-hint>
            <mat-error *ngIf="form.controls['phone'].hasError('required')">
              {{ 'Phone' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
            <mat-error
              *ngIf="
                (form.controls['phone'].hasError('minlength') || form.controls['phone'].hasError('maxlength')) &&
                !form.controls['phone'].hasError('pattern')
              "
            >
              {{ 'Longitud del número' | translate }}&nbsp;<strong>{{
                '8 caracteres, Ex: 51234567' | translate
              }}</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['phone'].hasError('pattern')">
              {{ 'El número' | translate }}&nbsp;<strong>{{ 'debe empezar con 5, Ex: 51234567' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline">
            <mat-label>{{'Dirección'|translate}}</mat-label>
            <input [formControl]="form.controls['address']" matInput placeholder="{{'Dirección'|translate}}"
                   type='text'>
            <mat-icon class='greyIcon' matSuffix>my_location</mat-icon>
            <mat-error *ngIf="form.controls['address'].hasError('required')">
              {{ 'Dirección' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field> -->
          <p class="mat-body-2 my-2" style="text-transform: uppercase" title="{{ 'Dirección' | translate }}">
            {{ 'Dirección' | translate }}
          </p>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="80" appearance="outline">
              <mat-label>{{ 'Calle' | translate }}</mat-label>
              <input
                [formControl]="form.controls['street']"
                matInput
                placeholder="{{ 'Calle' | translate }}"
                type="text"
              />
              <mat-icon class="greyIcon" matSuffix>my_location</mat-icon>
              <mat-error *ngIf="form.controls['street'].hasError('required')">
                {{ 'Calle' | translate }} <strong>{{ 'is required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="20" appearance="outline">
              <mat-label>{{ 'Number' | translate }}</mat-label>
              <input
                [formControl]="form.controls['number']"
                matInput
                placeholder="{{ 'Number' | translate }}"
                type="text"
              />
              <mat-icon class="greyIcon" matSuffix>my_location</mat-icon>
              <mat-error *ngIf="form.controls['number'].hasError('required')">
                {{ 'Number' | translate }} <strong>{{ 'is required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'Entre calles' | translate }}</mat-label>
            <input
              [formControl]="form.controls['between']"
              matInput
              placeholder="{{ 'Entre calles' | translate }}"
              type="text"
            />
            <mat-icon class="greyIcon" matSuffix>my_location</mat-icon>
            <mat-error *ngIf="form.controls['between'].hasError('required')">
              {{ 'Entre' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <!-- SOLO PARA CUBANOS -->
          <div
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutAlign="space-between center"
            fxLayoutAlign.lt-md="start"
            fxLayoutGap="1rem"
            fxLayoutGap.lt-md="0"
          >
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="100">
              <mat-label>{{ 'Provincia' | translate }}</mat-label>
              <mat-select
                (selectionChange)="onSelectProvince($event.value)"
                [compareWith]="compareById"
                [formControl]="form.controls['ProvinceId']"
                placeholder="{{ 'Nombre de la provincia' | translate }}"
                required
                type="text"
              >
                <mat-option *ngFor="let province of allProvinces" [value]="province.id">
                  {{ province.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['ProvinceId'].hasError('required')">
                {{ 'Provincia' | translate }} <strong>{{ 'is required' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="100">
              <mat-label>{{ 'Municipio' | translate }}</mat-label>
              <mat-select
                [compareWith]="compareById"
                [formControl]="form.controls['MunicipalityId']"
                placeholder="{{ 'Nombre del Municipio' | translate }}"
                required
                type="text"
              >
                <mat-option *ngFor="let municipio of municipalities" [value]="municipio.id">
                  {{ municipio.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['MunicipalityId'].hasError('required')">
                {{ 'Municipio' | translate }} <strong>{{ 'is required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!onCreateContact">
    <div fxLayout="row" fxLayoutAlign="end start" mat-dialog-actions>
      <button (click)="onCreateContactFn()" color="primary" mat-flat-button>
        <mat-icon>add</mat-icon>
        {{ 'Nuevo' | translate }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="onCreateContact">
    <div fxLayout="row" fxLayoutAlign="end start" mat-dialog-actions>
      <button (click)="onSetBack()" color="primary" mat-flat-button>{{ 'Atrás' | translate }}</button>
      <button (click)="onSetUpdateContact()" [disabled]="this.form.invalid" color="primary" mat-flat-button>
        {{ 'Save' | translate }}
      </button>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <span>{{ 'Cargando...' | translate }}</span>
    <mat-spinner diameter="16"></mat-spinner>
  </div>
</ng-template>
