<div class="blog-container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-sm="center center">
  <ng-container *ngIf="allArticles.length === 1">
    <div *ngFor="let article of allArticles;let i=index" class="blog" fxFlex.gt-xs="50" fxFlex.lt-sm="100">
      <div class="info">
        <div class="img-box">
          <a [routerLink]="['/blog',article.id]">
            <img *ngIf="article.image" [src]="imageUrl + article.image" alt="" lazyImg >
          </a>

          <img *ngIf="!article.image" alt="" lazyImg  src="../../../../assets/images/noImage.jpg">
        </div>
        <div class="text-box" fxLayout="column">
          <h4>{{utilsService.parserLanguage(article.title, language)}}</h4>
          <p class="module line-clamp">{{utilsService.parserLanguage(article.sumarize, language)}}</p>
          <a [routerLink]="['/blog',article.id]" class="mt-2">{{"See More"|translate}}</a>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="allArticles.length > 1">
    <div *ngFor="let article of allArticles;let i=index" class="blog" fxFlex>
      <div class="info">
        <div class="img-box">
          <a [routerLink]="['/blog']" [routerLink]="['/blog',article.id]">
            <img *ngIf="article.image" [src]="imageUrl + article.image" alt="" lazyImg >
          </a>

          <img *ngIf="!article.image" alt="" lazyImg  src="../../../../assets/images/noImage.jpg">
        </div>
        <div class="text-box" fxLayout="column">
          <h4 class="module line-clamp mb-2"
              style="-webkit-line-clamp: 2 !important;height:3.2rem !important;text-transform: none !important;">
            {{utilsService.parserLanguage(article.title, language)}}</h4>
          <p class="module line-clamp">{{utilsService.parserLanguage(article.sumarize, language)}}</p>
          <a [routerLink]="['/blog',article.id]" class="mt-2">{{"See More"|translate}}</a>

        </div>
      </div>
    </div>
  </ng-container>


</div>
