.rowContainer {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 481px) and (max-width: 767px) {

    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: 320px) and (max-width: 480px) {

    padding-left: 2px;
    padding-right: 2px;
  }

}

.template-image {
  width: 100%;
  height: 180px;
}

.layoutTemplate {
  // width: 325px !important;
}

#ImageDIvTemplate {
  height: 45px;
  width: 45px;
  border: 2.5px solid white;
  border-radius: 50%;
  background-color: #EEE;
  position: absolute;
  right: 16px;
  bottom: 16px;
}
