<!-- ------------------------------------------------------------ -->
<!-- -- Offer promo ---------------------------------------------- -->
<!--<ng-container *ngIf="allBicons.length > 0 && !loadingAllProduct">-->
<!--  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem"-->
<!--       class="text-msg-offer">-->
<!--    <mat-icon>local_offer</mat-icon>-->
<!--    <span>{{'Compra más de 1000 USD y obtenga un descuento del 5%'|translate}}</span>-->
<!--  </div>-->
<!--</ng-container>-->

<!-- ------------------------------------------------------------ -->
<!-- -- Carusel ---------------------------------------------- -->
<app-main-carousel *ngIf='!showStatic && slides.length > 0' [slides]='slides'></app-main-carousel>

<div class='container mt-3'>
  <!-- BANNER TEMPORAL -->
  <!--  <div-->
  <!--    style="-->
  <!--      padding: 16px;-->
  <!--      background-color: darkred;-->
  <!--      color: white !important;-->
  <!--      font-weight: bold;-->
  <!--      width: 91%;-->
  <!--      white-space: normal;-->
  <!--      max-width: 91% !important;-->
  <!--      margin: 0 auto;-->
  <!--    "-->
  <!--  >-->
  <!--    <h1 style="color: white !important">-->
  <!--      Esta tienda online se encuentra en proceso de desarrollo, está trabajando en MODO: Prueba. No están habilitadas-->
  <!--      las compras. Disculpen las molestias-->
  <!--    </h1>-->
  <!--  </div>-->
  <!-- BANNER TEMPORAL -->
  <app-skeleton-loading-cards *ngIf='showStatic' [setConfiguration]='{ xs: 1, sm: 1, md: 1, lg: 1 }'>
  </app-skeleton-loading-cards>
</div>
<!--<div class="container" style="height: 300px;" *ngIf="showStatic" ngStyle.lt-md="height: 175px;">-->
<!--  <div class="swiper-container h-100">-->
<!--    <div class="swiper-wrapper h-100">-->
<!--      <div class="swiper-slide h-100 loader"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class='home-1-wrap'>
  <div *ngIf='allBicons.length > 0 && !loadingAllProduct' class='info-bar-four-wrapper'>
    <div class='container'>
      <div class='info-bar-four' fxLayout='row wrap' fxLayout.xs='column wrap' fxLayoutAlign='center center'
           fxLayoutAlign.xs='center start'>
        <div
          *ngFor='let item of allBicons; let i = index'
          class='card-wrap card-promo'
          fxFlex='100'
          fxFlex.xs='100'
          fxFlex.gt-md='25'
          fxFlex.gt-xs='50'
        >
          <mat-card
            [ngClass]="{ 'no-bd': i === allBicons.length - 1 }"
            class='light-block'
            fxLayout='row'
            fxLayoutAlign='start center'
          >
            <div fxFlex='20'>
              <mat-icon class='mat-icon-xlg m-0'>{{ item.icon }}</mat-icon>
            </div>
            <div class='content' fxFlex='80'>
              <p class='uppercase'>{{ item.title | parseLang: utilsService.getLang() }}</p>
              <span class='text-muted m-0 mt-2'>{{ item.subTitle | parseLang: utilsService.getLang() }}</span>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="banners.length" class="banners-four">
    <div class="container">
      <app-banners-four [_banners]="banners"></app-banners-four>
    </div>
  </div> -->
  <ng-container *ngIf='countProducts == 0 && !loadingAllProduct'>
    <h3 class='mat-title py-4' style='text-align: center'>{{ 'No hay ningún producto disponible' | translate }}</h3>
  </ng-container>
  <div *ngIf='arrayProducts.length > 0'>
    <div *ngIf='!this.businessConfig || this.businessConfig?.frontDataProduct === "category"'>
      <div *ngFor='let card of arrayProducts'>
        <div class='container'>
          <div class='products sec-padding'>
            <!-- DESKTOP -->
            <div class='products-four' fxHide.xs fxHide.sm fxShow>
              <h3 style='color: initial'>{{ card.name | translate }}</h3>
              <app-product-carousel *ngIf='card.value' [btnColor]="'accent'" [products]='card.value'>
              </app-product-carousel>
              <div *ngIf='loadingFeatured' class='my-3'>
                <app-skeleton-loading-cards *ngIf='!card.value' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
                </app-skeleton-loading-cards>
              </div>
            </div>
            <!-- MOBILE -->
            <div fxHide fxShow.xs fxShow.sm fxLayout='column' class='product-container'>
              <h2 class='mb-2' style='color: initial; font-weight: 500' fxFlex='100'>{{ card.name | translate }}</h2>
              <div fxLayout='row wrap' fxLayoutAlign='space-between start' fxLayoutGap='gappx'>
                <div *ngFor='let product of card.value' class='container-product mb-2'>
                  <div *ngIf='inLoading' class='loading-shade-main' style='height: 100%; width: 100%'>
                    <mat-spinner [diameter]='40'></mat-spinner>
                  </div>
                  <div class='product-img' fxLayout='column' fxLayoutGap='8px'>

                    <a
                      [queryParams]='{ productId: product.id, stockId: product?.Stock?.id, name: product?.name?.es, sharedImage: product?.sharedImage }'
                      [routerLink]="['/product']"
                    >

                      <img
                        *ngIf='product.Images && product.Images.length'
                        [alt]="product.name[language] ? product.name[language] : product.name['es']"
                        [src]='imageUrl + product.Images[0].image'
                        lazyImg
                        class='productImage'
                        onerror="this.onerror=null;this.src='assets/images/noImage.jpg';"
                      />
                      <img
                        *ngIf='!(product.Images && product.Images.length)'
                        alt='No Image'
                        lazyImg
                        src='assets/images/noImage.jpg'
                      />
                    </a>
                    <div class='moduleTitle line-clampTitle p-2'>
                      <h4 class='mat-body-2'>{{ utilsService.parserLanguage(product.name, language) }}</h4>
                    </div>
                    <div class='price p-2'>
                      <a
                        [queryParams]='{ productId: product.id, stockId: product?.Stock?.id,
                          name: product?.name?.es,
                          sharedImage: product?.sharedImage }'
                        [routerLink]="['/product']"
                        class='product-link'
                      >
                        <ng-container *ngIf='product.offerValue'>
                          <p class='deletePrice m-0'>
                            <del>{{ product | parsePriceProduct }}</del>
                            <span class='offer ml-2'>
                                <span class='mx-0 px-0'>-</span>
                                <span *ngIf='product.isPercent' class='mx-0 px-0'>{{ product.offerValue }}% </span>
                                <span *ngIf='!product.isPercent' class='mx-0 px-0'>${{ product.offerValue }}</span>
                              </span>
                          </p>
                          <p class='mat-body-2 m-0'
                             matTooltip="{{ 'Existe una oferta asociada a este producto' | translate }}">
                            {{ product | parsePriceProduct: 'offert' }}
                          </p>
                          <div fxLayout='row' fxLayoutAlign='space-between center'>
                            <p class='mat-body-2 mr-2' style='font-size: 12px; color: #757474'>
                              {{ 'Desde ' | translate }}
                              {{ product.minSale }}
                              {{ ' unidad' | translate }}
                            </p>
                            <button
                              (click)='onAddToCart(product)'
                              class='btnAddCart'
                              mat-mini-fab
                              matTooltip="{{ 'Añadir al carrito' | translate }}"
                              style='z-index: 10'
                            >
                              <mat-icon>shopping_cart</mat-icon>
                            </button>
                          </div>
                        </ng-container>

                      </a>
                      <ng-container *ngIf='!product.offerValue'>
                        <p class='mat-body-2 m-0'>
                          {{ product | parsePriceProduct }}
                        </p>
                        <div fxLayout='row' fxLayoutAlign='space-between center'>
                          <p class='mat-body-2 mr-2' style='font-size: 12px; color: #757474'>
                            {{ 'Desde ' | translate }}
                            {{ product.minSale }}
                            {{ ' unidad' | translate }}
                          </p>
                          <button
                            (click)='onAddToCart(product)'
                            class='btnAddCart'
                            mat-mini-fab
                            matTooltip="{{ 'Añadir al carrito' | translate }}"
                            style='z-index: 10'
                          >
                            <mat-icon>shopping_cart</mat-icon>
                          </button>
                        </div>

                      </ng-container>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <mat-divider fxHide fxShow.xs fxShow.sm class='my-2'></mat-divider>
      </div>
    </div>
  </div>
  <!-- ---------------------- Featured Items ----------------------- -->
  <section *ngIf='featuredProducts.length > 0'>
    <div class='container'>
      <div class='products sec-padding'>
        <div class='products-four'>
          <h3 style='color: initial'>{{ 'Productos destacados' | translate }}</h3>
          <app-product-carousel *ngIf='!loadingFeatured' [btnColor]="'accent'" [products]='featuredProducts'>
          </app-product-carousel>
          <div *ngIf='loadingFeatured' class='my-3'>
            <app-skeleton-loading-cards *ngIf='loadingFeatured' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
            </app-skeleton-loading-cards>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ---------------------- Popular Items ------------------------ -->
  <section *ngIf='popularProducts.length'>
    <div class='container'>
      <div class='products sec-padding'>
        <div class='products-four'>
          <h3 style='color: initial'>{{ 'Ofertas populares' | translate }}</h3>
          <app-product-carousel *ngIf='!loadingPopular' [btnColor]="'accent'" [products]='popularProducts'>
          </app-product-carousel>
          <div *ngIf='loadingPopular' class='my-3'>
            <app-skeleton-loading-cards *ngIf='loadingPopular' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
            </app-skeleton-loading-cards>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div *ngIf='loadingPopular' class='container'>
    <div class='products sec-padding'>
      <div class='products-four'>
        <div class='my-3'>
          <app-skeleton-loading-cards *ngIf='loadingPopular' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
          </app-skeleton-loading-cards>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------- Big promo1 --------------------------- -->
  <section *ngIf='bigBanner1?.length'>
    <div class='main-banner'>
      <ng-container *ngIf='applyStyle && bigBanner1[0]?.imageXs; then bannerPromo1Xs; else bannerPromo1'>
      </ng-container>

      <ng-template #bannerPromo1>
        <app-banner-promotion [_imageBigPromo]='imageUrl + bigBanner1[0]?.image'></app-banner-promotion>
      </ng-template>

      <ng-template #bannerPromo1Xs>
        <app-banner-promotion [_imageBigPromo]='imageUrl + bigBanner1[0]?.imageXs'></app-banner-promotion>
      </ng-template>
    </div>
  </section>

  <!-- ---------------------- Best Seller Items -------------------- -->
  <section *ngIf='bestSellersProducts.length'>
    <div class='container'>
      <div class='products sec-padding'>
        <div class='products-four'>
          <h3 style='color: initial'>{{ 'Productos más vendidos' | translate }}</h3>
          <app-product-carousel *ngIf='!loadingBestSellers' [btnColor]="'accent'" [products]='bestSellersProducts'>
          </app-product-carousel>
          <div *ngIf='loadingBestSellers' class='my-3'>
            <app-skeleton-loading-cards *ngIf='loadingBestSellers' [setConfiguration]='{ xs: 1, sm: 2, md: 3, lg: 4 }'>
            </app-skeleton-loading-cards>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ---------------------- Big promo2 --------------------------- -->
  <section *ngIf='bigBanner2?.length'>
    <div class='main-banner'>
      <ng-container *ngIf='applyStyle && bigBanner2[0]?.imageXs; then bannerPromo2Xs; else bannerPromo2'>
      </ng-container>

      <ng-template #bannerPromo2>
        <app-banner-promotion2 [_imageBigPromo]='imageUrl + bigBanner2[0]?.image'></app-banner-promotion2>
      </ng-template>

      <ng-template #bannerPromo2Xs>
        <app-banner-promotion2 [_imageBigPromo]='imageUrl + bigBanner2[0]?.imageXs'></app-banner-promotion2>
      </ng-template>
    </div>
  </section>

  <!-- ---------------------- Product Vertical --------------------- -->
  <!--  <section *ngIf="featuredProducts.length && this.allProducts.length">-->
  <section>
    <div class='container'>
      <app-product-vertical></app-product-vertical>
    </div>
  </section>

  <!-- ---------------------- Big promo --------------------------- -->
  <section *ngIf='allArticles?.length'>
    <div class='featured-products-wrap'>
      <div class='container'>
        <div class='products sec-padding bg'>
          <div class='products-four'>
            <h3 class='uppercase'>{{ 'Latest From Our Blog' | translate }}</h3>
            <section style='padding-top: 26px'>
              <app-blog-section></app-blog-section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ---------------------- APK Promo --------------------------- -->
  <section id="apk-promo" style="width: 100%; position: relative">
    <img *ngIf="!applyStyle" alt="APK Promo" class="img-apk-promo"
         src="assets/images/mibulevar/apk-promo/desktop2.jpg">
    <img *ngIf="applyStyle" alt="APK Promo" class="img-apk-promo" src="assets/images/mibulevar/apk-promo/movil.jpg">

    <div class="container">
      <div class="wrapper">
        <div class="super-index mb-3">{{ 'Ahorra pasos' | translate }}</div>
        <div class="big-text mb-4">
          {{ 'Todas nuestras ofertas exclusivas a solo un' | translate }}
          <span class="text-inner">click</span> {{ 'en la aplicación' | translate }}
        </div>
        <div class="text-paragraph mb-4">
          {{
            'Descubre las increíbles facilidades de más de 3 millones de usuarios de Transfermóvil.\n' +
            'Descarga la aplicación y disfruta de las opciones que ofrece desde cualquier lugar y en cualquier momento.'
              | translate
          }}
        </div>
        <a
          class="btn-wrapper px-4 py-2"
          fxLayout="row"
          fxLayoutGap="10px"
          href="https://www.apklis.cu/application/cu.etecsa.cubacel.tr.tm"
          target="_blank"
        >
          <img alt="Transfermovil" src="assets/images/mibulevar/apk-promo/transfermovil.png" />
          <div fxLayout="column">
            <div class="first-text">{{ 'Obtenla en' | translate }}</div>
            <div class="second-text">Apklis.cu</div>
          </div>
        </a>
      </div>
    </div>

  </section>
</div>
