<div class="loading-shade-full" style="background:rgba(0, 0, 0, 0.12) !important;" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
</div>

<mat-card id="searchFilter" class="mt-2 p-2" style="border-radius: 8px !important;">
  <section ngClass.gt-md="px-3">
    <h3 class="mat-title">

      {{'More search filters'|translate}}
    </h3>
    <form [formGroup]="filterForm" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="end center" fxLayoutGap="gappx">

      <mat-form-field class="form-filters mx-2" fxFlex.lt-sm="100" appearance="outline">
        <mat-label>{{'Country'|translate}}</mat-label>
        <button matSuffix mat-icon-button (click)="filterForm.controls['CountryId'].reset()">
          <mat-icon class="mat-18">clear</mat-icon>
        </button>
        <input type="text" placeholder="{{'Country'|translate}}" aria-label="Assignee" matInput
          [formControl]="filterForm.controls['CountryId']" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let country of allCountries" [value]="country">
            {{country.name['es']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="this.refreshData()" class="ml-3" mat-flat-button color="primary">{{'BUSCAR' | translate}}</button>
    </form>
  </section>
</mat-card>

<mat-card class="p-1 mt-3" style="border-radius: 8px;">
  <mat-toolbar>
    <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterRegion">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span fxHide.xs class="mat-title mb-0">{{'Cities, States and Provinces'|translate}}</span>
        <span fxHide fxShow.xs class="mat-title mb-0">{{'Regions'|translate}}</span>
        <div>
          <button mat-button (click)="showSearchForm()">
            <mat-icon>filter_list</mat-icon>
            <span fxHide.xs>{{'Search'|translate}}</span>
          </button>
          <button mat-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
            <span fxHide.xs>{{'Refresh'|translate}}</span>
          </button>
          <button mat-button (click)="onCreateRegions()">
            <mat-icon>add</mat-icon>
            <span fxHide.xs>{{'Add'|translate}}</span>
          </button>
        </div>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showFilterRegion && !selection.selected.length">
      <form class="example-full-width" [formGroup]="searchForm">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <button mat-icon-button>
            <mat-icon matPrefix>search</mat-icon>
          </button>
          <input [formControl]="searchForm.controls['textCtrl']" placeholder="{{'Enter your search text'|translate}}"
            class="example-full-width search-input" type="text" autofocus>
          <div>
            <button mat-icon-button (click)="hideSearchForm()">
              <mat-icon aria-label="Cerrar">close</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="selection.selected.length">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <div>
          <span fxHide.xs class="mat-title mb-0">{{selection.selected.length}}</span>
          <span fxHide.xs class="ml-2 mat-title mb-0">{{'selected elements'|translate}}</span>
        </div>
        <div>
          <button *ngIf="selection.selected.length==1" mat-button (click)="onEditRegions(selection.selected[0])">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            <span fxHide.xs>{{'Edit'|translate}}</span>
          </button>
          <button mat-button (click)="onRemoveRegions(selection.selected)">
            <mat-icon aria-label="Remove">remove</mat-icon>
            <span fxHide.xs>{{'Remove'|translate}}</span>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th style="width: 8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </div>

        </td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Name'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.name}}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="country">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Country'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{(element.Country)?element.Country.name['es']:'No asignado a su país correspondiente'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="alpha2">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Alpha2'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.alpha2}} </td>
      </ng-container>

      <ng-container matColumnDef="lat">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Latitude'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.lat}} </td>
      </ng-container>

      <ng-container matColumnDef="lng">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Longitude'|translate}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.lng}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef mat-sort-header>
        </th>
        <td mat-cell *matCellDef="let element">
          <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
            <button (click)="onEditRegions(element)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onRemoveRegions([element])" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky="true"></tr>
      <tr mat-row class="rowData" *matRowDef="let row; columns: displayedColumns">
      </tr>
    </table>
  </div>
  <mat-paginator (page)="OnPaginatorChange($event)" [pageSize]="queryCities.limit" [length]="this.queryCities.total"
    [pageSizeOptions]="pageSizeOptions"></mat-paginator>

</mat-card>
