<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span class="mat-title mb-0">{{'Add category'|translate}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'Select your creation language'|translate}}
            <mat-icon matTooltip="{{'Default is Spanish'|translate}}" class="iconHelp">help</mat-icon></span>
        </div>

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label> {{'Language'|translate}}</mat-label>
            <mat-select [compareWith]="compareFn" required [formControl]="languageForm" placeholder="{{'Language'|translate}}">
              <mat-option *ngFor="let language of this.languages;let i=index" [value]="language">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img [src]="language.image" style="height: 30px; width: 30px;">
                  <span class="ml-2 mat-body-2">
                    {{language.name}}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider class="mb-2"></mat-divider>


        <mat-form-field appearance="outline">
          <mat-label>{{'Name'|translate}}</mat-label>
          <input required type="text" [formControl]="form.controls['name']" matInput placeholder="{{'Name'|translate}}">
          <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            {{'Name'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['name'].hasError('minlength')">
            {{'El nombre de la categorías debe tener al menos 5 caracteres'|translate}}
          </mat-error>
          <mat-error *ngIf="form.controls['name'].hasError('pattern')">
            {{'El nombre no puede comenzar con espacios'|translate}}
          </mat-error>
        </mat-form-field>

        <p class="mat-body-2 uppercase"> Mostrar en la barra de navegación de la tienda</p>
        <mat-slide-toggle matTooltip="{{'Permiitir un acceso directo en la barra de navegación'|translate}}"
          [formControl]="form.get('showInNavBar')">
        </mat-slide-toggle>

        <mat-form-field class="mt-2" appearance="outline">
          <mat-label>{{'Category parent'|translate}}</mat-label>
          <mat-select [compareWith]="compareBy" placeholder="{{'Category parent'|translate}}"
            [formControl]="form.controls['ParentCategoryId']">
            <mat-option *ngFor="let category of this.Categories" [value]="category.id">
              <span>
                {{(category.name && category.name[language]?category.name[language]:category.name['es'])}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid" color="primary">{{'Save'|translate}}</button>

  </div>

</div>
