
.headerTitle {
  margin-bottom: 16px !important;
  font-size: 20px !important;

  @media (min-width: 320px) and (max-width: 767px) {

    font-size: 18px;

  }

}

section {
  background-color: #F8F9Fa !important;
}

p {
  color: #212529 !important;
  line-height: 1.6rem;
  margin-top: 4px;
  margin-bottom: 4px;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
  }
}

li {
  margin-left: 16px;
}

.container-Term {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-Term {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-Term {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-Term {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-Term {
    max-width: 1140px;
  }
}


table,
th,
td {
  border: 1px solid rgba(145, 83, 83, 0.12);
  border-collapse: collapse;
}

th,
td {
  padding: 8px !important;
}

th {
  text-align: left;
  color: #616161;
}

.ck-content {
  padding: 80px;
}

.container-Term {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 1366px;
}
