<!--=== Image Block ===-->
<div>
  <section class="p-4" style="border-bottom: 1px solid #eee;">
    <div class="container-Term">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
        <a class="color-grey-800" [routerLink]="[ '']">
          <mat-icon>
            arrow_back
          </mat-icon>
        </a>

        <h1 class="mat-title mb-0 color-grey-800 uppercase ml-2">{{"Sales and cancellation policy"|translate}}</h1>
      </div>
    </div>
  </section>

  <div class="container-Term py-4">
    <h4><strong>1- Objeto</strong></h4>

    <blockquote>
      <p>El presente documento tiene por objeto establecer las Condiciones Generales de Venta y devoluciones de la p&aacute;gina web de
        venta online manolitoreyes.com y de todos sus dominios y sub-dominios.</p>
    </blockquote>
    &nbsp;

    <h4><strong>2- Identidad de las partes:</strong></h4>

    <blockquote>
      <p>Las condiciones generales de venta descritas a continuaci&oacute;n (en adelante Condiciones generales de venta), rigen
        exclusivamente las relaciones contractuales entre todo usuario de la p&aacute;gina Web tienda.cubanearme.com (denominado en lo
        sucesivo &ldquo;Usuario&rdquo; o &ldquo;Usted&rdquo;) y el vendedor, que es&nbsp;<strong>tienda.cubanearme.com</strong>, (en lo
        sucesivo denominada MANOLITO REYES), una empresaria individual &ndash; aut&oacute;noma, con domicilio en Centro comercial
        &ldquo;Tartessus&rdquo; Local Azul CP:11.130 Chiclana de la Frontera (C&aacute;diz), nuestro tel&eacute;fono de contacto es: +034
        634298485.</p>
    </blockquote>
    &nbsp;

    <h4><strong>3- Realizaci&oacute;n de su pedido:</strong></h4>

    <blockquote>
      <ul>
        <li>
          <p>Es requisito indispensable ser mayor de edad para poder realizar una compra en <strong>tienda.cubanearme.com</strong>.</p>
        </li>
        <li>
          <p>Es requisito indispensable que en tu registro nos facilite al menos un tel&eacute;fono de contacto m&oacute;vil o fijo y una
            direcci&oacute;n de correo electr&oacute;nico.</p>
        </li>
        <li>
          <p>Los medios de contacto que utilizaremos para mandarle las notificaciones sobre su pedido ser&aacute;n principalmente el correo
            electr&oacute;nico, aunque en ocasiones tambi&eacute;n podemos utilizar el tel&eacute;fono o la direcci&oacute;n postal
            f&iacute;sica, que previamente nos habr&aacute; facilitado al completar su registro en nuestra web para poder comprar.</p>
        </li>
        <li>
          <p>Si aceptamos su pedido, recibir&aacute; en su correo electr&oacute;nico previamente facilitado en su cuenta de usuario, nuestra
            aceptaci&oacute;n emitiendo una Confirmaci&oacute;n de Pedido. Esta Confirmaci&oacute;n de Pedido ser&aacute; efectiva desde su
            env&iacute;o. Si por el contrario no podemos aceptar su Pedido, intentaremos ponernos en contacto con Ud. por correo
            electr&oacute;nico, tel&eacute;fono o correo postal.</p>
        </li>
      </ul>
    </blockquote>
    &nbsp;

    <h4><strong>4- Disponibilidad:</strong></h4>

    <blockquote>
      <p>Disponibilidad de los productos: MANOLITO REYES har&aacute; todo lo posible para complacer a todos sus clientes en la demanda de
        los productos. Pero todos los pedidos de productos est&aacute;n sujetos a la disponibilidad de los mismos y, en este sentido, si se
        producen dificultades en cuanto a su suministro, o si no quedan art&iacute;culos en stock, nos reservamos el derecho de facilitarle
        informaci&oacute;n acerca de productos sustitutivos de calidad y valor igual o superior que Usted podr&aacute; encargar. Si no desea
        hacer un pedido de esos productos sustitutivos, le reembolsaremos cualquier cantidad que pudiera Usted haber abonado.</p>
    </blockquote>
    &nbsp;

    <h4><strong>5- Entrega:</strong></h4>

    <blockquote>
      <p><strong>MANOLITO REYES</strong> se compromete a entregar los productos en perfecto estado en la direcci&oacute;n de entrega que
        Usted se&ntilde;ale en el formulario de pedido.</p>

      <p>Usted puede solicitar la entrega de los art&iacute;culos, en otro domicilio y a otra persona f&iacute;sica diferente a la que
        suscribe el pedido, siempre y cuando el domicilio de entrega est&eacute; situado en Espa&ntilde;a.</p>

      <p>No se entregar&aacute;n pedidos en apartados postales.</p>

      <p>Con el fin de optimizar la entrega, le agradeceremos a Usted que indique una direcci&oacute;n en la cual el pedido pueda ser
        entregado dentro del horario laboral habitual.</p>

      <p><strong>MANOLITO REYES</strong> realiza sus env&iacute;os mediante empresas de mensajer&iacute;a l&iacute;deres del sector.</p>

      <p><strong>MANOLITO REYES</strong> pondr&aacute; a disposici&oacute;n del cliente todos los datos sobre su env&iacute;o (como el
        n&uacute;mero de seguimiento, por ejemplo) de agencia por la que le va a llegar el mismo y n&uacute;mero de tel&eacute;fono de la
        empresa de mensajer&iacute;a, para que Usted pueda contactar con ellos y sepa en todo momento el lugar donde se encuentra su
        env&iacute;o</p>

      <p>La entrega de la mercanc&iacute;a se realizar&aacute; en el domicilio designado por usted. En caso de ausencia del destinatario, en
        el momento de la entrega, se dejar&aacute; un comprobante indicando c&oacute;mo proceder para concertar una nueva entrega.</p>

      <p><strong>MANOLITO REYES</strong> se reserva el derecho de variar el tipo de env&iacute;o y la compa&ntilde;&iacute;a por la cual se
        efect&uacute;a este, independientemente de lo expuesto en estas p&aacute;ginas y siempre que no suponga un perjuicio manifiesto para
        el cliente. De forma general cuando el peso o dimensiones del pedido superen los m&aacute;ximos establecidos por el transportista
        habitual, nos pondremos en contacto con usted para informarle del transportista a utilizar y los plazos espec&iacute;ficos en ese
        caso.</p>

      <p>Los portes derivados de los env&iacute;os de los art&iacute;culos adquiridos quedar&aacute;n reflejados en el momento final de la
        compra y depender&aacute; de la modalidad elegida, y del lugar de destino. Estas condiciones podr&aacute;n ser modificadas.</p>

      <p>A efectos de las presentes Condiciones, se entender&aacute; que se ha producido la &ldquo;entrega&rdquo; o que el/los producto/s
        han sido &ldquo;entregado/s&rdquo; en el momento de firmar la recepci&oacute;n de los mismos en la direcci&oacute;n de entrega
        convenida.</p>
    </blockquote>
    &nbsp;

    <h4><strong>6- Plazos de entrega:</strong></h4>

    <blockquote>
      <p>Los plazos de entrega dependen del transportista seleccionado, y siempre contar&aacute;n con<br />
        un tiempo de preparaci&oacute;n del mismo, al tratarse en muchos casos de productos artesanales, los procesos de elaboraci&oacute;n
        podr&aacute;n variar seg&uacute;n el producto, por ello en cada ficha de producto se indica el plazo m&aacute;ximo estimado de
        entrega desde la confirmaci&oacute;n del pedido. Si fuese necesario modificar estas condiciones por la especial naturaleza del
        pedido nos pondr&iacute;amos en contacto con usted para informarle de los plazos concretos.</p>

      <p>Disponemos en<strong> tienda.cubanearme.com</strong> de art&iacute;culos cuyos plazos de entrega no se corresponden con las
        condiciones generales, pero para estos art&iacute;culos estar&aacute; especificado correctamente en su ficha los plazos de entrega
        para los mismos. Estos plazos son medios, y por tanto una estimaci&oacute;n. Por ello, es posible que var&iacute;en por razones
        log&iacute;sticas o de fuerza mayor.<br />
        Si por alg&uacute;n motivo no pudi&eacute;semos cumplir con la fecha de entrega estimada, le informaremos de esta circunstancia y le
        daremos la opci&oacute;n de seguir adelante con la compra estableciendo una nueva fecha de entrega o bien anular el pedido con el
        reembolso total del precio pagado. Tenga en cuenta en cualquier caso que por regla general no realizamos entregas los s&aacute;bados
        ni domingos.</p>
    </blockquote>

    <h4><strong>6.1.&nbsp;Imposibilidad de entrega:</strong></h4>

    <blockquote>
      <p>Nos reservamos el derecho de retirar cualquier producto de nuestro sitio web en cualquier momento y/ o a quitar o modificar
        cualquier material o contenido del mismo. Aunque haremos lo posible para tramitar siempre todos los pedidos, puede haber
        circunstancias excepcionales que nos obliguen a rechazar la tramitaci&oacute;n de alg&uacute;n pedido despu&eacute;s de haber
        enviado la Confirmaci&oacute;n de pedido, y nos reservamos el derecho a hacerlo en cualquier momento, a nuestra sola
        discreci&oacute;n. No seremos responsables frente a Usted o frente a cualquier tercero por el hecho de retirar cualquier producto de
        nuestro sitio web<strong> &ldquo;www. manolitoreyes.com&rdquo;</strong>, con independencia de si dicho producto ha sido vendido o
        no, quitar o modificar cualquier material o contenido del sitio web, o por negarnos a tramitar un pedido una vez que le hayamos
        enviado la Confirmaci&oacute;n de pedido.</p>
    </blockquote>

    <h4><strong>7. Precios:</strong></h4>

    <blockquote>
      <h4>Los precios en la p&aacute;gina web &ldquo;www. manolitoreyes.com&rdquo; incluyen el IVA, aplicable al d&iacute;a del pedido, pero
        excluyen los gastos de env&iacute;o, que se a&ntilde;adir&aacute;n al importe total debido seg&uacute;n se expone en la tabla a
        continuaci&oacute;n:</h4>
    </blockquote>

    <blockquote>
      <p><strong>El PRECIO DE LOS PRODUCTOS</strong> ser&aacute; el que figura en el sitio web. El precio est&aacute; expresado con los
        impuestos incluidos, tal como estos impuestos son fijados en la fecha de la aceptaci&oacute;n de la oferta. El precio debe ser
        pagado totalmente al efectuar la compra.</p>

      <p><strong>tienda.cubanearme.com</strong> se reserva el derecho de modificar en cualquier momento los precios de venta que figuran en
        www. manolitoreyes.com, pero los art&iacute;culos se facturar&aacute;n en base a las tarifas en vigor en el momento en el que se
        registre el pedido bajo reserva de disponibilidad en esa fecha.</p>

      <p><strong>&nbsp;</strong></p>
    </blockquote>

    <h4><strong>8. Pago:</strong></h4>

    <blockquote>
      <p>El pago de los pedidos podr&aacute; efectuarse utilizando las siguientes modalidades:</p>

      <ul>
        <li>
          <p>Pago con tarjeta de cr&eacute;dito o d&eacute;bito. Nos reservamos el derecho de NO aceptar ciertos pagos con determinadas
            tarjetas de cr&eacute;dito.</p>
        </li>
        <li>
          <p>Pago con cuenta Paypal.</p>
        </li>
      </ul>
    </blockquote>

    <blockquote>
      <p><strong>tienda.cubanearme.com</strong> se reserva el derecho a cambiar las modalidades de pago, pudiendo crear nuevas o eliminar
        alguna de las existentes, sin que el usuario/cliente de <strong>&ldquo;tienda.cubanearme.com&rdquo; </strong>pueda realizar
        reclamaciones por este motivo. No obstante si el cambio en la modalidad de pago afectase a un pedido ya realizado, desde &ldquo;www.
        manolitoreyes.com&rdquo; nos pondr&iacute;amos en contacto con el cliente para informarle de dicho cambio, ofreci&eacute;ndole la
        opci&oacute;n de cancelar el pedido si lo considerase conveniente.</p>
    </blockquote>
    &nbsp;

    <h4><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pago con tarjeta de cr&eacute;dito/d&eacute;bito:</strong></h4>

    <blockquote>
      <h4>&nbsp;El cargo se realiza online, es decir, en tiempo real, a trav&eacute;s de la pasarela de pago de la entidad financiera
        correspondiente y una vez se haya comprobado que los datos comunicados son correctos.</h4>
    </blockquote>

    <blockquote>
      <p>Con el objetivo de dar la m&aacute;xima seguridad al sistema de pago &ldquo;tienda.cubanearme.com&rdquo; utiliza sistemas de pago
        seguro de entidades financieras de primera l&iacute;nea en comercio electr&oacute;nico.</p>

      <p>En este sentido, los datos confidenciales son transmitidos directamente y de forma encriptada (SSL) a la entidad financiera
        correspondiente. El sistema de encriptaci&oacute;n SSL que utilizamos confiere total seguridad a la transmisi&oacute;n de datos a
        trav&eacute;s de la red. Sus datos gozan de total confidencialidad y protecci&oacute;n.</p>

      <p>Los datos sobre las tarjetas de cr&eacute;dito no quedan registrados en ninguna base de datos nuestra. Est&aacute;n
        &uacute;nicamente utilizados en el TPV (Terminal Punto de Venta) virtual de nuestra entidad financiera, a trav&eacute;s de su
        Pasarela de Pago Seguro.</p>

      <p>Las tarjetas de cr&eacute;dito estar&aacute;n sujetas a comprobaciones y autorizaciones por parte de la entidad emisora de las
        mismas, pero si dicha entidad no autorizase el pago, no nos haremos responsables por ning&uacute;n retraso o falta de entrega y no
        podremos formalizar ning&uacute;n Contrato con Usted.</p>

      <p><strong>tienda.cubanearme.com</strong> se reserva el derecho de verificar los datos personales suministrados por el cliente y
        adoptar
        las medidas que estime oportunas (incluida la cancelaci&oacute;n del pedido) para que la mercanc&iacute;a adquirida sea entregada de
        conformidad con los datos que figuran en el pedido.</p>
    </blockquote>
    &nbsp;

    <h4><strong>9- Pol&iacute;tica de devoluciones:</strong></h4>

    <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Devoluciones de productos defectuosos</strong></p>

    <blockquote>
      <p>En los casos en que Usted considere que en el momento de la entrega el producto no se<br />
        ajusta a lo estipulado en el Contrato, deber&aacute; ponerse en contacto con nosotros de forma inmediata por medio de nuestro email:
        grupomanolitoreyes@gmail.com , facilitando los datos del producto as&iacute; como del da&ntilde;o que sufre, en algunos casos
        solicitaremos nos env&iacute;en foto de los desperfectos.</p>
    </blockquote>

    <blockquote>
      <p>Una vez recibida la notificaci&oacute;n en tienda.cubanearme.com, nos pondremos en contacto con usted para informarle sobre
        c&oacute;mo debe proceder, y por qu&eacute; agencia de mensajer&iacute;a debe hacerlo, como regla general estos son los pasos a
        seguir. Deber&aacute; devolvernos el producto a la direcci&oacute;n indicada en la factura que recibir&aacute; por correo,
        facilit&aacute;ndonos los siguientes datos:</p>

      <p>&nbsp;</p>

      <ul>
        <li>
          <p>1. Datos Personales</p>
        </li>
        <li>
          <p>2. Su direcci&oacute;n e-mail</p>
        </li>
        <li>
          <p>3. N&uacute;mero de Pedido</p>
        </li>
        <li>
          <p>4. Motivo de la devoluci&oacute;n</p>
        </li>
        <li>
          <p>5. Fecha de recepci&oacute;n del pedido</p>
        </li>
        <li>
          <p>6. Fecha de devoluci&oacute;n</p>
        </li>
      </ul>

      <p>&nbsp;</p>

      <p>Por favor, devuelva el art&iacute;culo usando su envoltorio original adem&aacute;s de las instrucciones, documentaci&oacute;n y
        envoltorios que puedan acompa&ntilde;ar al mismo.<br />
        Una vez recibida la mercanc&iacute;a a devolver, procederemos a examinar detenidamente el<br />
        producto devuelto y le comunicaremos por e-mail dentro de un plazo razonable si procede la devoluci&oacute;n o sustituci&oacute;n
        del mismo (en su caso). La devoluci&oacute;n o sustituci&oacute;n del art&iacute;culo se efectuar&aacute; lo antes posible y, en
        cualquier caso, dentro de los 30 d&iacute;as siguientes a la fecha en la que le enviemos un correo electr&oacute;nico confirmando
        que procede la devoluci&oacute;n o sustituci&oacute;n del art&iacute;culo no conforme.</p>

      <p>En el caso que no se pueda sustituir el o los productos, las cantidades pagadas por<br />
        aquellos productos que sean devueltos, a causa de alguna tara o defecto, cuando<br />
        realmente exista, le ser&aacute;n reembolsadas &iacute;ntegramente, incluidos los gastos de entrega<br />
        incurridos para entregarle el art&iacute;culo y los costes en que Usted hubiera incurrido para devolv&eacute;rnoslo a nosotros.</p>

      <p>Las devoluciones y las anulaciones parciales dar&aacute;n lugar a reembolsos parciales, de la cantidad total abonada por el pedido
        &iacute;ntegro. Los gastos de transporte, reembolso y empaquetado de regalo no ser&aacute;n devueltos en caso de que la
        devoluci&oacute;n sea parcial. La devoluci&oacute;n se efectuar&aacute; en la misma tarjeta de cr&eacute;dito o cuenta Paypal que se
        utiliz&oacute; para pagar la compra. Si usted tiene alguna duda, puede ponerse en contacto con nosotros a trav&eacute;s de nuestro
        correo: <span style="color:#3498db">grupomanolitoreyes@gmail.com.</span><br />
        <strong><em>Quedan a salvo los derechos reconocidos por la legislaci&oacute;n vigente.</em></strong></p>
    </blockquote>

    <h4><strong>10- Garant&iacute;a de los productos adquiridos:</strong></h4>

    <blockquote>
      <p>Conforme al Real Decreto Legislativo 1/2007 del 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la
        Defensa de los Consumidores y Usuarios, <strong>tienda.cubanearme.com</strong> responde de las faltas de conformidad que se
        manifiesten
        en un plazo de dos a&ntilde;os desde la entrega.</p>

      <p>En el caso de falta de conformidad, deber&aacute; informarnos en el plazo de dos meses desde que tuvo conocimiento de ella,
        enviando un correo electr&oacute;nico a grupomanolitoreyes@gmail.com , indicando sus datos, el n&uacute;mero de su factura de compra
        y la anomal&iacute;a detectada. En el caso de ser defecto de fabricaci&oacute;n, tienda.cubanearme.com se har&aacute; responsable de
        los costes de devoluci&oacute;n, as&iacute; como de los gastos relacionados con la mano de obra y los materiales.</p>

      <p>El art&iacute;culo a devolver deber&aacute; estar correctamente embalado para su devoluci&oacute;n. El embalaje debe encontrarse en
        perfecto estado y conservar todos sus accesorios e instrucciones de origen para poder ser devuelto.</p>

      <p>Las instrucciones para el correcto uso e instalaci&oacute;n del producto, as&iacute; que la documentaci&oacute;n de garant&iacute;a
        incluida por los fabricantes son de obligada lectura por el comprador.</p>

      <p>La garant&iacute;a perder&aacute; su vigencia en caso de defectos o deterioros causados por factores externos, accidentes, en
        especial, accidentes el&eacute;ctricos, desgaste, instalaci&oacute;n y utilizaci&oacute;n no conforme a las instrucciones del
        Proveedor.</p>

      <p>Quedan tambi&eacute;n excluidos de la garant&iacute;a los productos modificados o reparados por el cliente o cualquier otra persona
        no autorizada por el proveedor.</p>

      <p>Para cualquier pregunta o solicitud de informaci&oacute;n, puede ponerse en contacto con el Servicio de atenci&oacute;n al cliente
        bien por correo electr&oacute;nico en : <a href="grupomanolitoreyes@gmail.com">grupomanolitoreyes@gmail.com</a>.</p>
    </blockquote>
    &nbsp;

    <h4><strong>11- Responsabilidad y exoneraci&oacute;n de responsabilidad:</strong></h4>

    <blockquote>
      <p><strong>Devoluciones de productos defectuosos</strong></p>

      <p>Las fotograf&iacute;as y los textos reproducidos que presentan los productos ofertados tienen car&aacute;cter meramente
        informativo.</p>

      <p>La responsabilidad de <strong>tienda.cubanearme.com</strong> en relaci&oacute;n con cualquier producto adquirido en
        &ldquo;tienda.cubanearme.com&rdquo; estar&aacute; limitada estrictamente, en cualquier caso, al precio de compra de dicho producto y
        no se ver&aacute; comprometida por simples errores u omisiones que hayan podido tener lugar, cuando se hayan tomado todas las
        precauciones necesarias en la presentaci&oacute;n de los productos.</p>

      <p><strong>tienda.cubanearme.com</strong> no podr&aacute; ser considerada responsable de los da&ntilde;os, sea cual sea su naturaleza,
        tanto materiales como no materiales o corporales, que pudieran resultar de un funcionamiento o un uso inadecuado de los productos
        comercializados. Lo mismo se aplica a las posibles modificaciones realizadas a los productos por los proveedores.</p>

      <p><strong>tienda.cubanearme.com</strong> no podr&aacute; ser considerada responsable por un cliente o un tercero de da&ntilde;os
        indirectos, p&eacute;rdidas de explotaci&oacute;n o lucro cesante ocurridos por el medio que fuera aunque dicho da&ntilde;o,
        p&eacute;rdida o perjuicio hubiera sido previsible por <strong>tienda.cubanearme.com</strong> o si su eventualidad hubiera sido
        puesta
        en su conocimiento.</p>

      <p>A reserva de lo dispuesto en los p&aacute;rrafos precedentes, la responsabilidad de tienda.cubanearme.com en virtud de las
        presentes
        condiciones generales no podr&aacute; exceder a un importe igual a las sumas pagadas tras la transacci&oacute;n que se encuentre en
        el origen de dicha responsabilidad, sea cual sea la causa o la forma de la acci&oacute;n en cuesti&oacute;n.</p>

      <p><strong>tienda.cubanearme.com</strong> no podr&aacute; ser considerada responsable del incumplimiento del contrato suscrito en caso
        de
        agotamiento de las existencias o de indisponibilidad del producto, de causa de fuerza mayor, de interrupci&oacute;n de la actividad
        o huelga total o parcial, en especial, de los servicios postales y medios de transporte o comunicaciones, inundaciones o incendio
      </p>

      <p>Lo dispuesto en la presente cl&aacute;usula no afectar&aacute; sus derechos reconocidos por ley en calidad de consumidor, ni a su
        derecho de desistir el contrato.</p>

      <p>En caso de litigio, el cliente podr&aacute; dirigirse, en primer lugar, a MANOLITOREYES.COM para llegar a una resoluci&oacute;n
        amistosa.</p>

      <p>Estas Condiciones Generales se rigen por la Ley espa&ntilde;ola. Las partes se someten, a su elecci&oacute;n, para la
        resoluci&oacute;n de los conflictos y con renuncia a cualquier otro fuero, a los juzgados y tribunales de C&aacute;diz.</p>
    </blockquote>
  </div>


</div>
