<div class='container'>
  <div fxLayout='column' fxLayoutAlign='start stretch'>
    <mat-card class='mx-auto my-3' id='CardLogin'>
      <!-- <div *ngIf="inLoading" class="loading-shade">
        <mat-spinner *ngIf="inLoading"></mat-spinner>
      </div> -->

      <div class='py-2 mt-2' fxLayout='column' fxLayoutAlign='center start'>
        <img alt='' class='login-logo mx-auto' src='assets/images/logo-login.png' />
      </div>

      <div class='mat-elevation-z8' fxLayout='column' fxLayoutAlign='start stretch' id='CardBodyLoggin'>
        <div class='w-100 p-2 mt-3' fxLayout='row' fxLayoutAlign='center center'>
          <span class='mat-title mb-0' ngClass.xs='mat-body-2'>{{ 'Cambie su contraseña' | translate }}</span>
        </div>

        <div class='FormLayout' fxLayout='column' fxLayoutAlign='start stretch'>
          <form [formGroup]='this.form' class='example-full-width'>
            <div class='pt-3' fxLayout='column' fxLayoutAlign='space-around stretch'>
              <mat-form-field appearance='outline'>
                <mat-label>{{ 'Current password' | translate }}</mat-label>
                <input
                  [formControl]="form.controls['currentPassword']"
                  matInput
                  placeholder="{{ 'Current password' | translate }}"
                  required
                  type='password'
                />
                <mat-error *ngIf="form.controls['currentPassword'].hasError('required')">
                  {{ 'Current password' | translate }}&nbsp;<strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='example-full-width' fxFlex='48'>
                <mat-label>{{ 'New password' | translate }}</mat-label>
                <input
                  [formControl]="fromPass.controls['password']"
                  matInput
                  placeholder="{{ 'New password' | translate }}"
                  required
                  type='{{ passType }}'
                />
                <mat-icon (click)='showPass()' class='grey-600' matSuffix style='cursor: pointer'
                >remove_red_eye
                </mat-icon
                >
                <mat-error *ngIf="fromPass.controls['password'].hasError('minlength')">
                  {{ 'New password' | translate }} <strong>{{ 'must be at least 6 characters' | translate }}</strong>
                </mat-error>
                <mat-error *ngIf="fromPass.hasError('mismatch')">
                  {{ 'New password' | translate }} <strong>{{ 'most be equals' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field
                [ngClass]="{
                  'mat-form-field-invalid': fromPass.hasError('mismatch'),
                  'ng-invalid': fromPass.hasError('mismatch'),
                  'ng-valid': !fromPass.hasError('mismatch')
                }"
                appearance='outline'
                class='example-full-width'
                fxFlex='48'
              >
                <mat-label>{{ 'Repita la contraseña' | translate }}</mat-label>
                <input
                  [formControl]="fromPass.controls['repeat']"
                  [ngClass]="{ 'ng-invalid': fromPass.hasError('mismatch') }"
                  matInput
                  placeholder="{{ 'Repita la contraseña' | translate }}"
                  required
                  type='{{ passType }}'
                />
                <mat-icon (click)='showPass()' class='grey-600' matSuffix style='cursor: pointer'
                >remove_red_eye
                </mat-icon
                >
                <mat-error *ngIf="fromPass.hasError('mismatch')">
                  {{ 'Password' | translate }} <strong>{{ 'most be equals' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <div fxLayout='row' fxLayoutAlign='center center'>
                <button
                  (click)='onSubmit()'
                  [disabled]='form.invalid'
                  class='RegisterBtn'
                  color='primary'
                  mat-raised-button
                >
                  <span class='uppercase color-white'>{{ 'Confirm' | translate }}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
