<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{'Add banner'|translate}}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{'Edit banner'|translate}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'The image should be a 1920x700'|translate}}
            <mat-icon matTooltip="{{'The image should be 1920x700 or with the same aspect ratio'|translate}}" class="iconHelp">help
            </mat-icon></span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="ImageLayout">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center stretch" class="mb-2 w-90">
            <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
              style="background-size: cover; background-position : center center; flex: none;"
              [style.background-image]="this.utilsService.getSafeImage(imageBanner)">
              <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
              <mat-icon class="avatar-icon">backup</mat-icon>

              <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <mat-error *ngIf="showErrorImage">
              {{'La imagen sobrepasa los' | translate}} <strong>1000 Kb</strong>
            </mat-error>
            <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
          </div>
        </div>

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'Select your creation language'|translate}}
            <mat-icon matTooltip="{{'Default is Spanish'|translate}}" class="iconHelp">help</mat-icon></span>
        </div>

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label> {{'Language'|translate}}</mat-label>
            <mat-select [compareWith]="compareFn" required [formControl]="languageForm" placeholder="{{'Language'|translate}}">
              <mat-option *ngFor="let language of this.languages;let i=index" [value]="language">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img [src]="language.image" style="height: 30px; width: 30px;">
                  <span class="ml-2 mat-body-2">
                    {{language.name}}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-divider class="mb-2"></mat-divider>

        <mat-form-field appearance="outline">
          <mat-label>{{'Title'|translate}}</mat-label>
          <input required type="text" [formControl]="form.controls['title']" matInput placeholder="{{'Title'|translate}}">
          <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
          <mat-error *ngIf="form.controls['title'].hasError('required')">
            {{'Title'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['title'].hasError('minlength')">
            {{'El nombre de la promoción debe tener al menos 5 caracteres'|translate}}
          </mat-error>
          <mat-error *ngIf="form.controls['title'].hasError('pattern')">
            {{'El nombre de la promoción no debe comenzar con mayúscula'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'Text'|translate}}</mat-label>
          <textarea #text rows="2" matInput [formControl]="form.controls['text']" placeholder="{{'Text'|translate}}"></textarea>
          <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
          <mat-hint align="end">{{text.value.length}} / 100</mat-hint>
          <mat-error *ngIf="form.controls['text'].hasError('maxlength')">
            {{'El texto secundario solo debe contener 100 caractéres'|translate}}
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <span class="mat-body-2" style="text-transform: uppercase;">{{'Enter a link to refer'|translate}}
            <mat-icon
              matTooltip="{{'It is a link that you would like to refer to in the event of an ad or another page to visit, it is optional'|translate}}"
              class="iconHelp">help</mat-icon></span>
        </div>


        <mat-form-field appearance="outline">
          <mat-label>{{'Link'|translate}}
          </mat-label>
          <input type="text" [formControl]="form.controls['link']" matInput placeholder="{{'Link'|translate}}">
          <mat-icon class="greyIcon" matSuffix>link</mat-icon>
          <mat-error *ngIf="form.controls['link'].hasError('pattern')">
            {{'Url'|translate}} <strong>{{'is not valid'|translate}}</strong>
          </mat-error>
        </mat-form-field>


      </div>

    </form>




  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid|| !imageBanner" color="primary">{{'Save'|translate}}</button>

  </div>

</div>
