<div class="container-product-details">
  <div class="loading-shade-full" style="background: rgba(0, 0, 0, 0.02) !important" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  <div *ngIf="!this.errorPage" fxLayout="row wrap" class="details-wrapper sec-padding" ngClass.lt-md="pt-3">
    <div fxLayout="column" class="h-100" fxFlex="100" fxFlex.gt-sm="77">
      <div fxLayout="row wrap" fxLayoutAlign="space-around start" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <div fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-md="50">
          <mat-card class="my-product mat-elevation-z0">
            <button matTooltip="{{ 'Zoom for a image' | translate }}" id="zoomBtn" mat-icon-button
                    (click)="openZoomViewer()">
              <mat-icon>fullscreen</mat-icon>
            </button>
            <button fxHide fxShow.lt-md matTooltip="{{ 'Compartir en redes sociales' | translate }}" id="shareBtn"
                    mat-icon-button
                    (click)="onShareProduct()">
              <mat-icon>share</mat-icon>
            </button>
            <div fxLayoutAlign="center center">
              <ng-container *ngIf="product.Images && product.Images.length">
                <ng-container *ngFor="let image of arrayImages; let i = index">
                  <!--                  <img *ngIf="image.selected"-->
                  <!--                       onerror="this.onerror=null;this.src='assets/images/noImage.jpg';" ngp-lazy-->
                  <!--                       ngp-threshold="0.1"-->
                  <!--                       [src]="image.image" (click)="openZoomViewer()" class="ImageProduct" />-->

                  <lib-ngx-image-zoom
                    *ngIf="image.selected"
                    (click)="openZoomViewer()"
                    [zoomMode]="'hover'"
                    [magnification]="4"
                    [thumbImage]="image.image"
                    [fullImage]="image.image">
                  </lib-ngx-image-zoom>
                </ng-container>
              </ng-container>
              <img ngp-lazy ngp-threshold="0.1"
                   *ngIf="!(product.Images && product.Images.length)"
                   src="../../../../assets/images/noImage.jpg" alt="" class="ImageProduct" />
            </div>
            <div *ngIf="product.Images && product.Images.length" class="p-2 mt-2" fxLayout="row"
                 fxLayoutAlign="center center">
              <div *ngFor="let image of arrayImages; let i = index" (click)="onSelectImage(i)" [ngClass]="{
                  'mini-images-container': !image.selected,
                  'mini-images-container-selected': image.selected
                }">
                <img ngp-lazy ngp-threshold="0.1" [src]="image.image"
                     onerror="this.onerror=null;this.src='assets/images/noImage.jpg';" />
              </div>
            </div>
          </mat-card>
        </div>

        <div *ngIf="!isLoading" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="90" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2"
             ngClass.xs="mt-2">
          <div class="product-right">
            <div class="product-details">
              <h2 class="nameProduct">{{ product.name[language] ? product.name[language] : product.name['es'] }}</h2>
              <div *ngIf="product.offerValue">
                <h4 class="mb-10">
                  <del>{{ product | parsePriceProduct }}</del>
                  <span>{{ product.offerValue }}<span class="mx-0 px-0" *ngIf="product.isPercent">% </span></span>
                </h4>
                <h3 class="price mb-10">{{ product | parsePriceProduct: 'offert' }}</h3>
              </div>

              <div *ngIf="!product.offerValue">
                <h3 class="price mb-10">{{ product | parsePriceProduct }}</h3>
              </div>

              <p class="mat-body-2" style="font-size: 15px">
                {{ 'Compra a partir de ' | translate }}
                {{ product.minSale }}
                {{ ' unidades' | translate }}
              </p>

              <p *ngIf="product.shortDescription == null" class="module line-clamp mt-1 mb-2">No tiene descripcion</p>
              <p *ngIf="product.shortDescription != null" class="module line-clamp mt-1 mb-2">
                {{
                product.shortDescription[language]
                  ? product.shortDescription[language]
                  : product.shortDescription['es']
                }}
              </p>
              <p class="mat-body-2 uppercase mb-2"
                 matTooltip="{{ 'Rango de precios por cantidad de unidades a comprar' | translate }}">
                {{ 'Precios de venta según la cantidad a comprar' | translate }}
              </p>
              <div style="border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee" fxLayout="row wrap"
                   fxLayoutAlign="start center"
                   fxLayoutGap="gappx">
                <div *ngFor="let item of product.PriceRanges" style="width: 80px" class="mx-2 py-3" fxLayout="column"
                     fxLayoutAlign="start start" fxLayoutGap="gappx"
                     [matTooltip]="'entre ' + item.min + ' y ' + item.max + ' unidades'">
                  <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>
                  <p *ngIf="product.offerValue" class="mat-body-2">
                    {{ item.priceOffer | currencyMarket: product.market }}
                  </p>
                  <p *ngIf="!product.offerValue" class="mat-body-2">
                    {{ item.price | currencyMarket: product.market }}
                  </p>
                </div>
              </div>
              <div>
                <div class="py-1 mt-15">
                  <p>
                    <span class="text-muted fw-500">{{ 'Avalibility:' | translate }}</span>
                    <span class="avalibility" style="color: #4caf50 !important; font-weight: 500"
                          *ngIf="counter < product?.Stock?.quantity ? product?.Stock?.quantity : 0"><span
                      class="ml-3">{{ 'Disponible en el almacén' | translate }}</span></span>

                    <span class="avalibility" *ngIf="counter > product?.Stock?.quantity ? product?.Stock?.quantity : 0"><span
                      class="ml-3"
                      style="color: #f33927 !important; font-weight: 500">{{
                      'No disponible, está agotado' | translate
                      }}</span></span>
                  </p>
                </div>
                <div class="quantity">
                  <span class="text-muted fw-500">{{ 'Quantity' | translate }}:</span>
                  <div fxLayout="row" fxLayout.xs="column" class="text-muted">
                    <div fxLayout="row" fxLayoutAlign="center start">
                      <div class="addQuantity">
                        <button class="leftBtn" matTooltip="Remove" (click)="decrement()"
                                [disabled]="counter <= product.minSale">
                          <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <input matTooltip="{{ 'Cantidad de unidades a adquirir' | translate }}" [min]="product.minSale"
                               readonly="true"
                               type="text" name="quantity" value="{{ counter }}" class="inputBtn" />
                        <button class="rightBtn" [disabled]="counter > product.stock || counter >= product.maxSale"
                                matTooltip="Add"
                                (click)="increment()">
                          <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="buttons mt-20" fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-sm="column"
                   fxLayoutAlign.lt-sm="start center">
                <button mat-raised-button color="primary" class="btn-custom my-2" ngClass.lt-sm="w-80"
                        (click)="addToCart(product, counter)">
                  {{ 'ADD TO CART' | translate }}
                </button>

                <button mat-raised-button color="primary" class="btn-custom my-2" ngClass.lt-sm="w-80"
                        (click)="buyNow(product, counter)">
                  {{ 'BUY NOW' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="start start" fxFlex="100" fxFlex.md="75">
        <mat-tab-group ngClass.gt-sm="w-95" ngClass.lt-md="w-100" [selectedIndex]="indexTab">
          <mat-tab label="{{ 'Details' | translate }}">
            <div class="full-desc text-muted">
              <div *ngIf="product.description == null" class="InnerHtmlContent" [id]="'ProductId' + product.id"
                   [innerHTML]="'No tiene descripcion'"></div>
              <div *ngIf="product.description != null" class="InnerHtmlContent"
                   [innerHTML]="this.utilsService.parserLanguage(product.description, language)"></div>
              <!--<p class="my-3">
                <span style="font-weight: 600; font-size: 16px">
                  {{ 'Product type:' | translate }}
                </span>
                &nbsp;
                {{ typesProducts[product.type].name.es }}
              </p>-->
            </div>
          </mat-tab>
          <mat-tab *ngIf="loggedInUser" label="{{ 'Reviews' | translate }}">
            <div fxLayout="container">
              <div class="full-desc lh px-4" ngClass.lt-md="px-0">
                <div *ngFor="let review of allReviews" fxLayout="row" fxLayoutAlign="start center" class="content">
                  <img *ngIf="review.Client.avatar" [src]="imageUrl + review.Client.avatar" alt="image"
                       class="review-author" />
                  <img *ngIf="!review.Client.avatar" [src]="'../../../../../assets/images/avatars/profile2.png'"
                       alt="image"
                       class="review-author" />
                  <div fxLayout="column" class="ml-2 text-list" fxLayoutAlign="start start">
                    <span class="name mat-body-2">{{ review.Client.name + ' ' + (review.Client.lastname || '') }}
                      <span class="text-muted"><small>&nbsp;{{ review.createdAt | date: 'shortDate' }}</small>
                      </span>
                    </span>
                    <!-- <p>
                      <ngp-rating-material [config]="{label:'estrellas',readOnly:true,size:'12px'}" [value]="review.rating">
                      </ngp-rating-material>
                    </p> -->
                    <p class="mat-body-1" ngClass.lt-md="mat-caption">{{ review.review }}</p>
                    <button class="editBtn" *ngIf="loggedInUser.id == review.ClientId" mat-icon-button
                            (click)="onEditReview(review)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>

                <div fxLayout="row" *ngIf="this.queryReviews.offset < this.queryReviews.total" class="py-3"
                     fxLayoutAlign="center center">
                  <button (click)="onGetMorePriviews()" *ngIf="this.queryReviews.offset < this.queryReviews.total"
                          mat-stroked-button
                          class="px-4" color="accent">
                    {{ 'LOAD MORE...' | translate }}
                  </button>
                </div>

                <div class="writte-reviews mt-3">
                  <h4 class="my-2 mat-title">{{ 'LEAVE YOUR REVIEW' | translate }}</h4>
                  <div class="divider"></div>
                  <p class="mt-2 text-muted">
                    {{ 'Your email address will not be published. Required fields are marked *' | translate }}
                  </p>

                  <form fxLayout="row wrap" [formGroup]="reviewForm">
                    <h3 fxLayoutAlign="start center" class="mt-2">
                      <span class="mr-2">{{ 'Your Rating: ' | translate }}</span>
                      <ngp-rating-material
                        [config]="{ label: 'estrellas', size: '22px', showNumber: true, showClearBtn: true }"
                        [formControl]="reviewForm.controls['rating']">
                      </ngp-rating-material>
                    </h3>

                    <div fxFlex="100" fxFlex.gt-sm="100">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'Post content' | translate }}</mat-label>
                        <textarea maxlength="250" [formControl]="reviewForm.controls['review']" #message
                                  placeholder="{{ 'Post content' | translate }}" matInput rows="3" required></textarea>
                        <mat-hint align="end">{{ message.value.length }} / 250</mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="button-wrap" fxLayoutAlign="end start" fxFlex="100" fxFlex.gt-sm="100"
                         class="px-1 mt-2">
                      <button (click)="onPostReview()" [disabled]="reviewForm.invalid" mat-raised-button color="accent"
                              type="submit">
                        {{ 'Submit Review' | translate }}
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div *ngIf="relatedProduct.length" class="products pt-5">
        <div class="title">
          <h4 class="widget-title">{{ 'RECOMENDED PRODUCTS' | translate }}</h4>
        </div>
        <app-product-carousel-two *ngIf="!loadingRelated" [products]="relatedProduct" [btnColor]="'accent'"
                                  [grid]="{ '480': 1, '740': 2, '960': 2, '1024': 2, '1280': 3 }">
        </app-product-carousel-two>
        <div *ngIf="loadingRelated" class="my-3">
          <app-skeleton-loading-cards *ngIf="loadingRelated" [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }">
          </app-skeleton-loading-cards>
        </div>
      </div>

      <div *ngIf="featuredProducts.length" class="products pt-5 pb-0">
        <div class="title">
          <h4 class="widget-title">{{ 'FEATURED PRODUCTS' | translate }}</h4>
        </div>
        <app-product-carousel-two *ngIf="!loadingFeatured" [products]="featuredProducts" [btnColor]="'accent'"
                                  [grid]="{ '480': 1, '740': 2, '960': 2, '1024': 2, '1280': 3 }">
        </app-product-carousel-two>
        <div *ngIf="loadingFeatured" class="my-3">
          <app-skeleton-loading-cards *ngIf="loadingFeatured" [setConfiguration]="{ xs: 1, sm: 2, md: 2, lg: 3 }">
          </app-skeleton-loading-cards>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100" fxFlex.gt-sm="23">
      <div fxHide.xs fxLayout="row wrap" class="info-bar" style="border-radius: 4px !important" ngClass.gt-md="m-0">
        <div *ngFor="let item of allBicons; let i = index" fxFlex="100" class="mt-16">
          <mat-card class="light-block" [ngClass]="{ 'no-border': i === allBicons.length - 1 }" fxLayout="row"
                    fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0">{{ item.icon }}</mat-icon>
            <div class="content ml-4">
              <p class="uppercase">{{ utilsService.parserLanguage(item.title, language) }}</p>
              <span class="text-muted m-0">{{ utilsService.parserLanguage(item.subTitle, language) }}</span>
            </div>
          </mat-card>
        </div>
      </div>

      <div style="width: 100%">
        <mat-divider class="my-2"></mat-divider>
        <a (click)="onAddtoCartNav()" class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="mr-2"> shopping_cart</mat-icon>
          {{ 'Añadir al carrito' | translate }}
        </a>
        <a (click)="onAddtoCompListNav()" class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="mr-2"> compare_arrows</mat-icon>
          {{ 'Añadir a la lista de comparación' | translate }}
        </a>

        <a (click)="onGoToCheckouNav()" class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="mr-2"> slideshow</mat-icon>
          {{ 'Comprar ahora' | translate }}
        </a>

        <mat-divider class="my-2"></mat-divider>
        <section fxHide.lt-md *ngIf="!isLoading">
          <share-button button="facebook" [title]="this.product?.name?.es"
                        [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es">
          </share-button>
          <share-button button="whatsapp" [title]="this.product?.name?.es"
                        [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es">
          </share-button>
          <share-button button="telegram" [title]="this.product?.name?.es"
                        [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es">
          </share-button>
          <share-button button="email" [title]="this.product?.name?.es"
                        [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es"
                        [image]="this.mainImage?.image">
          </share-button>
        </section>
        <mat-divider fxHide.lt-md class="my-2"></mat-divider>
      </div>
      <div style="width: 100%">
        <h4 class="mat-body-2 uppercase">{{ 'Detalles del proveedor' | translate }}</h4>
        <a class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <img style="height: 32px; width: 32px; border-radius: 50%; object-fit: cover"
               [src]="imageUrl + product?.Business?.logo"
               onerror="this.onerror=null;this.src='assets/images/noImage.jpg';" />

          <span class="ml-2">{{ product?.Business?.name }}</span>
        </a>
        <a class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="mr-2"> phone</mat-icon>
          {{ product?.Business?.cellphone }}
        </a>
        <a class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="mr-2"> mail</mat-icon>
          {{ product?.Business?.email }}
        </a>
        <a class="list-compare-link" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="mr-2"> location_on</mat-icon>
          {{ product?.Business?.address }}
        </a>
        <mat-divider class="my-2"></mat-divider>
      </div>

      <div class="popular-products mt-2" fxFlex.lt-md="100">
        <app-popular-products></app-popular-products>
      </div>
    </div>
  </div>

  <ng-container *ngIf="this.errorPage">
    <section class="py-4">
      <h1 style="text-align: center">Algo anda mal</h1>
    </section>
  </ng-container>
</div>

<div *ngIf="showZoom" id="popup" class="popup">
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="gappx">
    <button mat-icon-button (click)="this.showZoom = false">
      <mat-icon class="mat-18">clear</mat-icon>
    </button>
  </div>

  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <img [src]="this.mainImage.image" />
  </div>
</div>
