<mat-dialog-content>
  <h2>{{'Cancelar Pago'| translate}}</h2>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
    <blockquote>
      <p>{{cancellationText}}</p>
    </blockquote>

    <p class="mat-body-2 uppercase py-2">
      {{'Comentario respecto a la cancelación' | translate}}
    </p>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
      <mat-label>{{'Comentario' | translate}}</mat-label>
      <textarea matInput type="text" [(ngModel)]="this.cancelNote" placeholder="{{'Comentario'|translate}}" required autocomplete="false"
        rows="4"></textarea>
    </mat-form-field>
  </div>
  <mat-spinner *ngIf="this.loadData" class="spinerLoad" diameter="80" color="primary"></mat-spinner>
</mat-dialog-content>

<mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100">
    <button color="primary" class="cf-margin-right-10" mat-stroked-button mat-dialog-close>{{'CERRAR'|translate}}</button>
    <button color="warn" mat-stroked-button class="cf-margin-right-10" [disabled]="this.loadData"
      (click)="onCancelar()">{{'CANCELAR ORDEN'|translate}}
    </button>
  </div>
</mat-dialog-actions>
