<ng-container *ngIf='showNavItem(item.displayName)'>
  <a (click)='onItemSelected(item)'
     [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
     [ngStyle]="{'padding-left': (depth * 16) + 'px'}" class='menu-list-item grey-700'
     fxLayoutAlign='start center'
     mat-list-item
     matRipple>
    <div class='menu-icons' fxLayoutAlign='start center'>
      <mat-icon *ngIf='item.material && item.iconName'>{{item.iconName}}</mat-icon>
      <span class='mat-body-1 ml-3' style='font-size: 15px;'>{{item.displayName | translate}}</span>
    </div>

    <span *ngIf='item.children && item.children.length' fxFlex>
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" style='margin:0px !important;'>
        expand_more
      </mat-icon>
    </span>
    <span *ngIf='item.badge && item.badgeCount' [matBadge]='item.badgeCount'
          matBadgePosition='after'
          style='transform: translateY(-5px); margin-left: 12px;'>
    </span>
    <div class='tabActive'></div>

  </a>
  <mat-divider *ngIf='item.divider' class='my-2'></mat-divider>

  <div *ngIf='expanded'>
    <app-sidebar *ngFor='let child of item.children' [depth]='depth+1' [item]='child'>
    </app-sidebar>
  </div>


</ng-container>
