<h2 class="mb-2" mat-dialog-title>{{'Elige tu ubicación' | translate}}</h2>
<mat-dialog-content class="mat-typography" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="mb-3">
    <mat-icon color="primary" class='icon-info'>info</mat-icon>
    <p style="font-size: 16px">
      {{ 'Los primeros resultados de búsqueda, serán los mas cercanos a la ubicación seleccionada.' | translate }}
    </p>
  </div>

  <h3>{{'Provincia' | translate}}</h3>
  <guachos-general-autocomplete [label]="'Provincia'"
                                [isRequired]="true"
                                [url]="urlProvince"
                                [debounceTimeValue]="100"
                                [field]="['name']"
                                [displayOptions]="displayOptions"
                                [formControl]="locationForm.get('province')"
                                [filterString]="'filter[$and][name][$like]'"
                                [valueId]="false"
                                [withoutPaddingBottom]="false"></guachos-general-autocomplete>


<ng-container *ngIf="this.locationForm.get('province').value">
  <h3>{{'Municipio' | translate}}</h3>

  <guachos-general-autocomplete [label]="'Municipio'"
                                *ngIf="locationForm.get('province')"
                                [isRequired]="true"
                                [restrictions]='eventDisplayRestrictions'
                                [url]="urlMunicipality"
                                [debounceTimeValue]="100"
                                [displayOptions]="displayOptions"
                                [formControl]="locationForm.get('municipality')"
                                [filterString]="'filter[$and][name][$like]'"
                                [valueId]="false"
                                [withoutPaddingBottom]="false"></guachos-general-autocomplete>
</ng-container>


<!--  <mat-form-field appearance="outline" class="mb-3" fxFlex="100%">-->
<!--    <mat-label>{{ 'Escoja...' | translate }}</mat-label>-->
<!--    &lt;!&ndash; <mat-select [formControl]="locationForm.get('province')" (selectionChange)="provinceChange($event)">-->
<!--      <mat-option>- {{ 'Ninguno' | translate }} -</mat-option>-->
<!--      <mat-option *ngFor="let item of allProvinces" [value]="item.id">{{ item.name }}</mat-option>-->
<!--    </mat-select> &ndash;&gt;-->
<!--    <input-->
<!--      type="text"-->
<!--      placeholder="{{' Provincia...' | translate}}"-->
<!--      [formControl]="locationForm.get('province')"-->
<!--      matInput-->
<!--      [matAutocomplete]="provinceAuto"-->
<!--    />-->
<!--    <mat-icon class="cursor-pointer" (click)="clearProvince()" *ngIf="locationForm.get('province').value" matSuffix>-->
<!--      close-->
<!--    </mat-icon>-->
<!--    <mat-autocomplete-->
<!--      autoActiveFirstOption-->
<!--      #provinceAuto="matAutocomplete"-->
<!--      [displayWith]="displayFn"-->
<!--      (optionSelected)="provinceChange()"-->
<!--    >-->
<!--      <mat-option *ngFor="let option of filteredProvinces | async" [value]="option">-->
<!--        {{ option.name }}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--    <mat-hint>{{ 'Escoja una provincia' | translate }}</mat-hint>-->
<!--    <mat-error *ngIf="locationForm.get('province').getError('required')">{{ 'Campo requerido' | translate }}</mat-error>-->
<!--    <mat-error *ngIf="locationForm.get('province').getError('match')">-->
<!--      {{ 'Debe seleccionar una opción' | translate }}-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="outline" class="mb-3" fxFlex="100%">-->
<!--    <mat-label>{{ 'Escoja...' | translate }}</mat-label>-->
<!--    &lt;!&ndash; <mat-select [formControl]="locationForm.get('municipality')" (selectionChange)="municipalityChange()">-->
<!--      <mat-option>- {{ 'Ninguno' | translate }} -</mat-option>-->
<!--      <mat-option *ngFor="let item of allMunicipalityByProvince" [value]="item">{{ item.name }}</mat-option>-->
<!--    </mat-select> &ndash;&gt;-->
<!--    <input-->
<!--      type="text"-->
<!--      placeholder=" Municipio..."-->
<!--      [formControl]="locationForm.get('municipality')"-->
<!--      matInput-->
<!--      [matAutocomplete]="municipalityAuto"-->
<!--    />-->
<!--    <mat-icon-->
<!--      class="cursor-pointer"-->
<!--      (click)="clearMunicipality()"-->
<!--      *ngIf="locationForm.get('municipality').value"-->
<!--      matSuffix-->
<!--    >-->
<!--      close-->
<!--    </mat-icon>-->
<!--    <mat-autocomplete-->
<!--      autoActiveFirstOption-->
<!--      #municipalityAuto="matAutocomplete"-->
<!--      [displayWith]="displayFn"-->
<!--      (optionSelected)="municipalityChange()"-->
<!--    >-->
<!--      <mat-option *ngFor="let option of filteredMunicipalities | async" [value]="option">-->
<!--        {{ option.name }}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--    <mat-hint>{{ 'Escoja un municipio' | translate }}</mat-hint>-->
<!--    &lt;!&ndash; <mat-error *ngIf="municipality.hasError('required')">{{ 'Campo requerido' | translate }}</mat-error> &ndash;&gt;-->
<!--    <mat-error *ngIf="locationForm.get('municipality').getError('match')">-->
<!--      {{ 'Debe seleccionar una opción' | translate }}-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'Cancelar' | translate}}</button>
  <button [mat-dialog-close]="setDataResponse()" cdkFocusInitial color="accent" mat-flat-button>{{'Listo' | translate}}</button>
</mat-dialog-actions>
