<div class="dialog-content-wrapper">
  <div class="loading-shade-full" *ngIf="isSaving">
    <mat-spinner *ngIf="isSaving">
    </mat-spinner>
  </div>
  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span fxLayoutAlign="start center" class="mat-title mb-0">
        <mat-icon>local_shipping</mat-icon>
        <span class="mat-title mb-0 ml-2">{{'Editar entrega'|translate}}</span>
      </span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

      <div fxLayout="row wrap" class="mt-1" fxLayoutAlign="start center" fxLayoutGap="gappx">
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
          <span class="mat-body-2 color-grey-800 uppercase">
            {{'Costo de envío'|translate}}
          </span>
          <mat-form-field appearance="outline">
            <input type="number" matInput placeholder="{{'cost de envío'|translate}}" [formControl]="this.form.get('deliveryCost')">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
          <span class="mat-body-2 color-grey-800 uppercase">
            {{'Descripción'|translate}}
          </span>
          <mat-form-field appearance="outline">
            <textarea rows="2" matInput placeholder="{{'Descripción'|translate}}" [formControl]="this.form.get('description')"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
          <span class="mat-body-2 color-grey-800 uppercase">
            {{'Seleccione el mensajero que entregará este pedido'|translate}}
          </span>
          <mat-form-field appearance="outline">
            <mat-select placeholder="{{'Mensajero'|translate}}" [formControl]="this.form.get('MessengerId')">
              <mat-option *ngFor="let messenger of this.allMessengers" [value]="messenger.id">
                {{messenger?.Person.name + ' ' +  messenger?.Person.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]=" form.invalid">{{'Save'|translate}}</button>

  </div>

</div>
