app-order-details {

  .mat-table {
    display: table;
    // width: 100%;
    border-collapse: collapse;

    max-width: 650px !important;

    th {
      width: 200px !important;
      max-width: 200px !important;
      min-width: 150px !important;
    }

    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  tr.mat-header-row {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12) !important;
    background-color: #EEEEEE !important;
  }

}
