<h3>{{"Compartir en:"}}</h3>
<mat-divider class='my-2'></mat-divider>
<div (click)='openLink($event)' class='my-3' fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='gappx'>
  <share-button [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es"
                [title]='this.product?.name?.es'
                button='facebook'>
  </share-button>
  <share-button [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es"
                [title]='this.product?.name?.es'
                button='whatsapp'>
  </share-button>
  <share-button [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es"
                [title]='this.product?.name?.es'
                button='telegram'>
  </share-button>
  <share-button [description]="this.product?.name?.es+': \n'+this.product?.shortDescription?.es"
                [title]='this.product?.name?.es'
                button='email'>
  </share-button>
</div>
