.brand-filter {
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  border-radius: 16px;
  color: black;
}

.brand-filter-clicked {
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #717171;
  border-radius: 16px;
  color: white;
  background-color: #717171;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 10px 0 20px 0;
}
