<div class='brands-items'>
  <ul>
    <li *ngFor='let brand of brands'>
      <a
        (change)='$event.stopPropagation()'
        (click)='$event ? onChangeSelection(brand.id) : null '
        [class]="selection.isSelected(brand.id) ? 'brand-filter-clicked' : 'brand-filter'"
        href='javascript:void(0)'>
        {{(brand.name[language]) ? brand.name[language] : brand.name['es']}}
      </a>
    </li>
  </ul>

  <p *ngIf='!brands.length' class='m-0' style='text-align: center;'>
    {{'No hay ningún elemento'|translate}}
  </p>
</div>
