<!-- <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
    <a href="#" mat-icon-button class="example-icon">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <img src="assets/images/seller-logo.png" style="height: 30px;" />
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="w-100 mt-3" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <div fxFlex.gt-sm="70" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start stretch" class="stepperForm">
    <div class="container-stepper">
      <mat-horizontal-stepper color="accent" labelPosition="bottom" [linear]="'true'" #stepper>
        <mat-step [stepControl]="basicForm">
          <ng-template matStepLabel>{{'Información de su Negocio'|translate}}</ng-template>
          <form [formGroup]="basicForm">

            <p class="mat-body-2 uppercase mb-1 ">
              {{'Logo del negocio'|translate}}
            </p>

            <ngp-image-picker [_config]="imagePickerConf" ($imageChanged)="onImageChange($event)">
            </ngp-image-picker>


            <p class="mat-body-2 uppercase mt-2 mb-1">
              {{'Nombre del negocio'|translate}}
            </p>

            <mat-form-field class="form-field-width" appearance="outline">
              <input type="text" [formControl]="basicForm.controls['name']" matInput placeholder="{{'Mi Negocio' | translate}}">
              <mat-error *ngIf="basicForm.controls['name'].hasError('required')">
                {{'Nombre' | translate}} <strong>{{'es requerido' | translate}}</strong>
              </mat-error>
            </mat-form-field>

            <!-- <p class=" mat-body-2 uppercase mt-2 mb-1">
              {{'Usuario encargado del negocio'|translate}}
            </p>

            <mat-form-field class="form-field-width" appearance="outline">
              <mat-select required [formControl]="basicForm.get('PersonId')" placeholder="{{'PersonId'}}">
                <mat-option *ngFor="let person of allPerson ;let i=index" [value]="person.id">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="mat-body-2">
                      {{person.name}}
                    </span>
                    <span class="mat-body-2">
                      {{person.lastName}}
                    </span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field> -->

            <div fxLayout=" row wrap" class="form-field-width" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
              <div fxFlex="49" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <p class="mat-body-2 uppercase mb-1 ">
                  {{'Teléfono fijo de contacto'|translate}}
                  <mat-icon matTooltip="{{'Lo contactarémos a este numero en caso de tenerlo, para realizar una entrevista'|translate}}"
                    class="iconHelp">help</mat-icon>
                </p>

                <mat-form-field class="form-field-width" appearance="outline">
                  <input type="tel" [formControl]="basicForm.controls['telephone']" matInput placeholder="ej: 72053519">
                  <mat-icon class="greyIcon" matSuffix>phone</mat-icon>
                </mat-form-field>
              </div>
              <div fxFlex="49" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <p class="mat-body-2 uppercase mb-1 ">
                  {{'No. de celular'|translate}}
                  <mat-icon matTooltip="{{'Número al cual le enviaremos un codigo de activacion de su cuenta de vendedor'|translate}}"
                    class="iconHelp">help</mat-icon>
                </p>

                <mat-form-field class="form-field-width" appearance="outline">
                  <input type="tel" [formControl]="basicForm.controls['cellphone']" matInput placeholder="ej: 5353621645">
                  <mat-icon class="greyIcon" matSuffix>smartphone</mat-icon>
                </mat-form-field>
              </div>

            </div>




            <p class="mat-body-2 uppercase mb-1 ">
              {{'Correo electrónico'|translate}}
              <mat-icon
                matTooltip="{{'En caso de fallar el envío del pin al celular, lo enviaremos hacia su cuenta de correo y las notificaciones de productos vendidos y pedidos se haran ha esta cuenta'|translate}}"
                class="iconHelp">help</mat-icon>
            </p>

            <mat-form-field class="form-field-width" appearance="outline">
              <input required type="text" [formControl]="basicForm.controls['email']" matInput placeholder="ej: example@gmail.com">
              <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
              <mat-error *ngIf="basicForm.controls['email'].hasError('required')">
                {{'Email'}} <strong>{{'es requerido'}}</strong>
              </mat-error>
            </mat-form-field>

            <p class="mat-body-2 uppercase mb-1 mt-3">
              {{'Breve descripción del negocio'|translate}}
            </p>

            <mat-form-field class="form-field-width" appearance="outline">
              <textarea maxlength="140" rows="2" matInput [formControl]="basicForm.controls['description']"
                placeholder="{{'Description'|translate}}"></textarea>
              <mat-error *ngIf="basicForm.controls['description'].hasError('required')">
                {{'Descripción' | translate}} <strong>{{'is required' | translate}}</strong>
              </mat-error>
              <mat-hint>
                {{ 'Una descripción de texto libre de la aplicación. El número máximo de caracteres es 140.' | translate }}
              </mat-hint>
            </mat-form-field>


            <div>
              <button mat-button matStepperNext class="uppercase" [disabled]="basicForm.invalid">{{'Siguiente'|translate}}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="locationForm">
          <ng-template matStepLabel>{{'Localización'|translate}}</ng-template>

          <div class="form-field-width" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="49" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
              <p class="mat-body-2 uppercase mb-1 ">
                {{'Provincia'|translate}}
              </p>
              <mat-form-field class="form-field-width" appearance="outline">
                <mat-select required type="text" placeholder="{{'Nombre de la provincia'|translate}}"
                  [formControl]="locationForm.controls['ProvinceId']" (selectionChange)="onSelectProvince($event.value)">
                  <mat-option *ngFor="let province of allProvinces" [value]="province.id">
                    {{province.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locationForm.controls['ProvinceId'].hasError('required')">
                  {{'Provincia'|translate}} <strong>{{'is required'|translate}}</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="49" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
              <p class="mat-body-2 uppercase mb-1 ">
                {{'Municipio'|translate}}
              </p>

              <mat-form-field class="form-field-width" fxFlex="49" fxFlex.lt-md="100" appearance="outline">
                <mat-select required type="text" placeholder="{{'Nombre del Municipio'|translate}}"
                  [formControl]="locationForm.controls['MunicipalityId']">
                  <mat-option *ngFor=" let municipio of municipalities" [value]="municipio.id">
                    {{municipio.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locationForm.controls['MunicipalityId'].hasError('required')">
                  {{'Municipio'|translate}} <strong>{{'is required'|translate}}</strong>
                </mat-error>
              </mat-form-field>

            </div>
          </div>

          <!-- <google-map height="400px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map> -->

          <p class="mat-body-2 uppercase mb-1 ">
            {{'Dirección'|translate}}
            <mat-icon matTooltip="{{'Dirección exacta de su negocio, verificaremos esta dirección'|translate}}" class="iconHelp">help
            </mat-icon>
          </p>

          <mat-form-field class="form-field-width" appearance="outline">
            <input required type="text" [formControl]="locationForm.controls['address']" matInput
              placeholder="ej: 39 #3022 e/ 30 y 36 , La Sierra, Playa">
            <mat-icon class="greyIcon" matSuffix>location</mat-icon>
            <mat-error *ngIf="locationForm.controls['address'].hasError('required')">
              {{'Dirección' | translate}} <strong>{{'es requerido' | translate}}</strong>
            </mat-error>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious class="uppercase">{{'Anterior'|translate}}</button>
            <button mat-button matStepperNext class="uppercase">{{'Siguiente'|translate}}</button>
          </div>


        </mat-step>

        <mat-step [stepControl]="sellerForm">
          <ng-template matStepLabel>{{'Información del Vendedor'|translate}}</ng-template>
          <div fxLayout="row wrap" class="form-field-width" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
            <p class="mat-body-2 uppercase" fxFlex="100">
              Defina los datos del usuario Owner del negocio
            </p>
            <mat-form-field fxFlex="48" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span style="text-transform: capitalize;">{{'Nombre'}}</span>
              </mat-label>
              <input matInput [formControl]="sellerForm.get('name')" placeholder="{{'Nombre'}}" required type="text">
            </mat-form-field>
            <mat-form-field fxFlex="48" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span style="text-transform: capitalize;">{{'Apellido'}}</span>
              </mat-label>
              <input matInput [formControl]="sellerForm.get('lastName')" placeholder="{{'Apellido'}}" required type="text">
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span style="text-transform: capitalize;">{{'email'}}</span>
              </mat-label>
              <input matInput [formControl]="sellerForm.get('email')" placeholder="{{'email'}}" required type="email">
            </mat-form-field>
            <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span style="text-transform: capitalize;">{{'Nomb. de usuario'}}</span>
              </mat-label>
              <input matInput [formControl]="sellerForm.get('username')" placeholder="{{'Nomb. de usuario'}}" required type="text">
            </mat-form-field>
            <mat-form-field fxFlex="48" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span style="text-transform: capitalize;">{{'ci'}}</span>
              </mat-label>
              <input matInput [formControl]="sellerForm.get('ci')" placeholder="{{'ci'}}" type="text">
            </mat-form-field>
            <mat-form-field fxFlex="48" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span>{{'Fecha de nacimiento'}}</span>
              </mat-label>
              <input [formControl]="sellerForm.get('birthday')" matInput [matDatepicker]="picker5">
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5 startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="48" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span style="text-transform: capitalize;">{{'Contraseña'}}</span>
              </mat-label>
              <input matInput [formControl]="formPass.get('password')" placeholder="{{'Contraseña'}}" required [type]="passwordType">
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'password'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'text'">
                visibility</mat-icon>
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'text'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
            </mat-form-field>
            <mat-form-field fxFlex="48" fxFlex.lt-md="100" appearance="outline">
              <mat-label>
                <span>{{'Repita la contraseña'}}</span>
              </mat-label>
              <input matInput [formControl]="formPass.get('repeatPassword')" placeholder="{{'Repita la contraseña'}}" required
                [type]="passwordType" [ngClass]="{'ng-invalid': formPass.invalid}">
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'password'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'text'">
                visibility</mat-icon>
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'text'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
              <mat-error *ngIf="this.formPass.invalid">
                Las contraseñas deben ser iguales
              </mat-error>
            </mat-form-field>
          </div>


          <div>
            <button mat-button matStepperPrevious class="uppercase">{{'Anterior'|translate}}</button>
            <button (click)="onCreateBusiness()" mat-button matStepperNext class="uppercase"
              [disabled]="sellerForm.invalid">{{'Guardar'|translate}}</button>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
