@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";

::ng-deep{
  .mat-dialog-container{
    padding: 0px !important;
  }
  .toppings-panel.mat-select-panel {
    column-count: 2 !important;
    column-width: 100px;
    width: 400px;
    //max-width: 400px;

    max-height: 257px;
  }

  .mat-select[name="opciones"] .mat-optgroup {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.container-image-prescription {
  //border: 2px dashed #444550;
}
.icon-camera {
  width: 60px;
  height: 60px;
  font-size: 60px;
  color: #44455066;
  cursor: pointer;
}
.container-no-image-prescription {
  border: 2px dashed #44455066;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}
.row-supplement{
  overflow: auto;
}
.select{
  @media(max-width: 599px) {
    width: 80px;
  }
}
.select-axis{
  @media(max-width: 599px) {
    width: 70px;
  }
}

.container-selects {
  background-color: $theme-main-accent;
  border-radius: 8px;
  color: white;
  padding: 7px;
  padding-left: 12px;
  @media (min-width: 380px) and (max-width: 500px) {
    //font-size: 14px;
  }
}

.container-add {
  background-color: $theme-main-accent;
  border-radius: 8px;
  color: white;
  padding: 7px;
  padding-left: 12px;
  @media (min-width: 380px) and (max-width: 500px) {
    //font-size: 14px;
  }
}

.input-add {
  background-color: white;
  color: black;
  height: 36px;
  width: 50px;
  text-align: center;
  border-radius: 6px;
  @media (min-width: 380px) and (max-width: 500px) {
    width: 70px;
    //font-size: 14px;
  }
}

.container-dp {
  background-color: $theme-main-accent;
  border-radius: 8px;
  color: white;
  padding: 7px;
  padding-left: 12px;
  @media (min-width: 380px) and (max-width: 500px) {
    //font-size: 14px;
  }
}

.input-dp {
  background-color: white;
  height: 36px;
  color: black;
  width: 70px;
  text-align: center;
  border-radius: 6px;
  @media (min-width: 380px) and (max-width: 500px) {
    width: 70px;
    //font-size: 14px;
  }
}

::ng-deep {
  .input-axis .mat-select-trigger {
    height: 36px !important;
    width: 60px !important;
    @media (min-width: 380px) and (max-width: 500px) {
      width: 70px;
      //font-size: 14px;
    }
  }
}

.input-axis {
  background-color: white;
  text-align: center;
  padding-left: 8px;
  color: black;
  height: 36px;
  width: 60px;
  border-radius: 6px;
  @media (min-width: 380px) and (max-width: 500px) {
    width: 70px;
    //font-size: 14px;
  }
}

.text-axis {
  text-align: center;
  text-transform: uppercase;
  line-height: 15px;
}
.text-dp {
  text-align: center;
  width: 90px;
  line-height: 15px;
}

mat-select[name="opciones"] mat-optgroup {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-right: 10px;
  box-sizing: border-box;
}
.itemUnselected{
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  height: 200px;
  position: relative;
}
.itemSelected{
  border: 2px solid $theme-main-accent;
  //background-color: #e8e8e8;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  height: 200px;
  position: relative;
}
.supplementColorUnselected{
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  padding: 8px;
  //width: 140px;
  width: 100%;
  height: 200px;
  position: relative;
  @media (min-width: 380px) and (max-width: 500px) {
    //width: 160px;
    //font-size: 14px;
  }
}
.supplementColorSelected{
  border: 2px solid $theme-main-accent;
  //background-color: #e8e8e8;
  border-radius: 8px;
  padding: 8px;
  //width: 140px;
  width: 100%;
  height: 200px;
  position: relative;
  @media (min-width: 380px) and (max-width: 500px) {
    //width: 160px;
    //font-size: 14px;
  }
}
.difuminado {
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 5px 5px 40px 30px rgba(139,139,139,0.7), inset 0px 0px 0px 46px rgba(139,139,139,0.64);
  box-shadow: 5px 5px 40px 30px rgba(139,139,139,0.7), inset 0px 0px 0px 46px rgba(139,139,139,0.64);
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
  border-radius: 24px;
}

.title-supplement {
  text-align: center;
}

.subtitle-supplement {
  text-align: start;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow-y: hidden;
  line-height: 1.6rem;
  height: 3.2rem;
}

.see-details {
  color: $theme-main-accent;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.subtitle-supplement-desplegado {
  text-align: start;
  //display: -webkit-box !important;
  //-webkit-line-clamp: 2 !important;
  //-webkit-box-orient: vertical !important;
  //overflow-y: hidden;
  //line-height: 1.6rem;
  height: 4rem;
}

.description{
  font-size: 12px;
  color: #93959b;
  display: -webkit-box !important;
  overflow: hidden;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  line-height: 1.4rem;
  height: 3rem;
}

.container-product{
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  padding: 8px;
  width: 280px;
  position: relative;
}
.icon-checked{
  position: absolute;
  bottom: 10px;
  //right: 0;
}
.icon-unchecked{
  position: absolute;
  bottom: 10px;
  //right: 0;
}

.custom-width {
  width: 100px !important;
}

.img-supplement{
  height: 50px;
  width: auto;
  object-fit: cover;
}

blockquote {
  background: #f4f2ff;
  border-radius: 3px;
  border-left: 5px solid $theme-main;
  margin: 30px 0 !important;
  padding: 30px !important;

  p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}
