
<!--<mat-dialog-content>-->
  <mat-horizontal-stepper #stepper [linear]="'true'" labelPosition="bottom" class="billing-details">
    <mat-step *ngIf='supplementArray?.length >= 0' [completed]="supplementForm.get('supplement').value">
      <ng-template matStepLabel>{{ 'Escoja lentes' | translate }}</ng-template>
      <div *ngFor='let supplement of supplementArray; let i = index'>
        <h3 class='my-3'>{{ supplement?.name }}</h3>
        <mat-radio-group (change)='onChangeSelection($event, i)'>
          <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='6px' class='w-100 mb-3 pb-3 row-supplement'>
            <div *ngFor='let element of supplement.Recomendeds' fxLayout='row' fxLayoutAlign='start center'>
                <mat-radio-button [value]="element" fxLayout='column' fxLayoutAlign='center center'>
                  <div fxLayout='column' fxLayoutAlign='center center' class='container-product'>
                    <img [src]='imageUrl + element?.RecomendedProduct?.Images[0]?.image' class='img-supplement mb-2'>
                    <span>{{element?.RecomendedProduct?.name | i18nField: translateService.currentLang}}</span>
                    <div
                      *ngFor="let item of element?.RecomendedProduct?.PriceRanges"
                      [matTooltip]="'entre ' + item.min + ' y ' + item.max + ' unidades'"
                      class="mx-2 py-3"
                      fxLayout="column"
                      fxLayoutAlign="start start"
                      fxLayoutGap="gappx"
                      style="width: 80px"
                    >
                      <p class="mat-body-1">{{ item.min }} - {{ item.max }}</p>
                      <p *ngIf="element?.RecomendedProduct?.offerValue" class="mat-body-2">
                        {{ item.priceOffer | currencyMarket: element?.RecomendedProduct?.market }}
                      </p>
                      <p *ngIf="!element?.RecomendedProduct?.offerValue" class="mat-body-2">
                        {{ item.price | currencyMarket: element?.RecomendedProduct?.market }}
                      </p>
                    </div>
                  </div>
                </mat-radio-button>
              </div>
          </div>
        </mat-radio-group>

      </div>
      <blockquote>
        <p>
          {{
          'Nota: Para introducir los datos de su receta médica, debe escoger al menos un elemento.'
            | translate
          }}
        </p>
      </blockquote>
      <div fxLayout='row' fxLayoutAlign='end end' fxLayoutGap='6px'>
        <button mat-stroked-button mat-dialog-close color='warn' (click)='close()'>{{'Cancelar compra' | translate}}</button>
        <button
          class="uppercase"
          mat-raised-button
          matStepperNext
          color='primary'
          *ngIf="supplementForm.get('supplement').value"
        >
          {{ 'Siguiente' | translate }}
        </button>
        <button
          class="uppercase"
          mat-raised-button
          matStepperNext
          color='primary'
          (click)='buyWithoutGlass()'
          *ngIf="!supplementForm.get('supplement').value"
        >
          {{ 'Comprar sin lentes' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step disabled="supplementForm.get('supplement').value">
      <ng-template matStepLabel>{{ 'Insertar receta médica' | translate }}</ng-template>
      <div>
        <table class='table w-100'>
          <tr>
            <th mat-header-cell></th>
            <th mat-header-cell>
              <span>{{ 'ESFERA' | translate }}</span>
            </th>
            <th mat-header-cell>
              <span>{{ 'CILINDRO' | translate }}</span>
            </th>
            <th mat-header-cell>
              <span>{{ 'EJE' | translate }}</span>
            </th>
          </tr>
          <tr>
            <th class='pb-2' mat-cell>
              <span>Ojo izquierdo</span>
            </th>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Ojo izquierdo'}}</mat-label>
                <mat-select [formControl]="form.get('left')">
                  <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name">
                    <mat-option *ngFor="let measure of sign.sign" [value]="measure.value">
                      {{measure.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="form.get('left').hasError('required')">
                  {{ 'La medida del ojo izquierdo' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Cilindro izquierdo'}}</mat-label>
                <mat-select [formControl]="form.get('cylinderLeft')">
                  <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name">
                    <mat-option *ngFor="let measure of sign.sign" [value]="measure.value">
                      {{measure.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="form.get('cylinderLeft').hasError('required')">
                  {{ 'La medida del cilindro izquierdo' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <!--                  <mat-error *ngIf="form.get('cylinderLeft').hasError('pattern')">-->
                <!--                    {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
                <!--                  </mat-error>-->
              </mat-form-field>
            </td>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Eje izquierdo'}}</mat-label>
                <input
                  [formControl]="form.get('axisLeft')"
                  matInput
                  type='number'
                  placeholder="{{ 'Eje izquierdo' | translate }}"
                  [required]="form.get('cylinderLeft').value"
                />
                <mat-error *ngIf="form.get('axisLeft').hasError('required')">
                  {{ 'La medida del eje izquierdo' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <!--                  <mat-error *ngIf="form.get('axisLeft').hasError('pattern')">-->
                <!--                    {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
                <!--                  </mat-error>-->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th class='pb-2' mat-cell>
              <span>Ojo derecho</span>
            </th>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Ojo derecho'}}</mat-label>
                <mat-select [formControl]="form.get('right')">
                  <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name">
                    <mat-option *ngFor="let measure of sign.sign" [value]="measure.value">
                      {{measure.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="form.get('right').hasError('required')">
                  {{ 'La medida del ojo derecho' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <!--            <mat-error *ngIf="form.get('left').hasError('pattern')">-->
                <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
                <!--            </mat-error>-->
              </mat-form-field>
            </td>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Cilindro derecho'}}</mat-label>

                <mat-select [formControl]="form.get('cylinderRight')">
                  <mat-optgroup *ngFor="let sign of signArray" [label]="sign.name">
                    <mat-option *ngFor="let measure of sign.sign" [value]="measure.value">
                      {{measure.viewValue}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="form.get('cylinderRight').hasError('required')">
                  {{ 'La medida del cilindro derecho' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <!--            <mat-error *ngIf="form.get('cylinderLeft').hasError('pattern')">-->
                <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
                <!--            </mat-error>-->
              </mat-form-field>
            </td>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Eje derecho'}}</mat-label>
                <input
                  [formControl]="form.get('axisRight')"
                  matInput
                  type='number'
                  placeholder="{{ 'Eje derecho' | translate }}"
                  [required]="form.get('cylinderRight').value"
                />
                <mat-error *ngIf="form.get('axisRight').hasError('required')">
                  {{ 'La medida del eje derecho' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <!--            <mat-error *ngIf="form.get('axisLeft').hasError('pattern')">-->
                <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
                <!--            </mat-error>-->
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th class='pb-2' mat-cell>
              <span>Distancia pupilar</span>
            </th>
            <td class='pb-2' mat-cell>
              <mat-form-field appearance='outline'>
                <mat-label>{{'Distancia pupilar'}}</mat-label>
                <input
                  [formControl]="form.get('pupillaryDistance')"
                  matInput
                  placeholder="{{ 'Medida' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="form.get('pupillaryDistance').hasError('required')">
                  {{ 'La medida de la distancia pupilar' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <!--            <mat-error *ngIf="form.get('left').hasError('pattern')">-->
                <!--              {{ 'Ojo izquierdo' | translate }} <strong>{{ 'wrong' | translate }}</strong>-->
                <!--            </mat-error>-->
              </mat-form-field>
            </td>
            <td class='pb-2' mat-cell>

            </td>
            <td class='pb-2' mat-cell></td>
          </tr>
        </table>

      </div>
      <div fxLayout='row' fxLayoutAlign='end end' fxLayoutGap='6px'>
        <button class="uppercase" color='primary' mat-stroked-button matStepperPrevious>{{ 'Anterior' | translate }}</button>
        <button mat-stroked-button color='warn' (click)='close()'>{{'Cancelar compra' | translate}}</button>
        <button mat-stroked-button color='accent' (click)='closeWithoutPrescription()'>{{'Continuar sin receta' | translate}}</button>
        <button mat-raised-button color='primary' (click)='save()' [disabled]='form.invalid'>{{'Continuar con receta' | translate}}</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
