@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";

::ng-deep{
  .toppings-panel.mat-select-panel {
    column-count: 2 !important;
    column-width: 100px;
    width: 400px;
    //max-width: 400px;

    max-height: 257px;
  }

  .mat-select[name="opciones"] .mat-optgroup {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.row-supplement{
  overflow: scroll;
}

mat-select[name="opciones"] mat-optgroup {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-right: 10px;
  box-sizing: border-box;
}

.container-product{
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 8px;
}

.custom-width {
  width: 100px !important;
}

.img-supplement{
  height: 50px;
  width: auto;
  object-fit: cover;
}

blockquote {
  background: #f4f2ff;
  border-radius: 3px;
  border-left: 5px solid $theme-main;
  margin: 30px 0 !important;
  padding: 30px !important;

  p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}
