@import '../../../../assets/scss/theme/variables';

blockquote {
  background: #f4f2ff;
  border-radius: 3px;
  border-left: 5px solid $theme-main;
  margin: 30px 0 !important;
  padding: 30px !important;

  p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}
