<!-- Boton Check Segunda seccion -->
<div fxLayout='column' fxLayoutAlign="space-around center">
  <!-- Cantidad de amigos -->
  <div fxLayout='column' fxLayout.gt-sm='row' fxLayoutAlign="center center" class='w-100 m-4'>
    <div fxFlex="5" fxLayoutAlign="start center">
      <div style="font-size: x-large;">1.</div>
    </div>
    <div fxFlex="25" fxLayoutAlign="start center">
      <span>{{'Usuarios registrados con su enlace:' | translate}}</span>

    </div>
    <div fxFlex="15" fxLayoutAlign="end center">
      <button mat-fab color="primary" class="cursorNone" disableRipple>
        <div style="font-size: x-large;">{{ referredUsers ?? 0}}</div>
      </button>
    </div>
  </div>

  <!-- Registrados con mi enlace -->
  <div fxLayout='column' fxLayout.gt-sm='row' fxLayoutAlign="center center" class='w-100 m-4'>
    <div fxFlex="5" fxLayoutAlign="start center">
      <div style="font-size: x-large;">2.</div>
    </div>
    <div fxFlex="25" fxLayoutAlign="start center">
      <span>{{'Usuarios que compraron con su enlace:' | translate}}</span>

    </div>
    <div fxFlex="15" fxLayoutAlign="end center">
      <button mat-fab color="primary" class="cursorNone" disableRipple>
        <div style="font-size: x-large;">{{ paymentUsers ?? 0}}</div>
      </button>
    </div>
  </div>
  <div fxLayout='column' fxLayout.gt-sm='row' fxLayoutAlign="center center" class='w-100 m-4'>
    <div fxFlex="45" fxLayoutAlign="center center" class='container-info-text'>
      <span>{{'Usted podrá reclamar su premio cuando acumule más de ' | translate}}{{paymentUsers}}{{' compras por usuarios' | translate}}</span>
    </div>
  </div>
  <!-- Boton Claim -->
  <div fxLayout='column' fxLayout.gt-sm='row' fxLayoutAlign="center center" class='w-100 m-4'>
    <div fxFlex="45" fxLayoutAlign="space-between center">

      <div fxLayoutAlign="center center">
        <button mat-stroked-button color="primary" (click)="close.emit()">
          {{ 'Atrás' | translate}}
        </button>
      </div>
      <button mat-flat-button color="primary" (click)="claim()">
        {{ 'Reclamar' | translate}}
      </button>
    </div>
  </div>
</div>
