.layoutCheck {
  height: 46px !important;
  position: relative;

}

.clearChipBtn {
  width: 24px !important;
  height: 24px !important;
  margin-left: 8px;
  position: absolute;
  right: 0px;
  top: 10px;

  mat-icon {
    // height: 16px;
    // width: 16px;
    // font-size: 18px;
    line-height: 8px;
    font-size: 18px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 10px 0 20px 0;
}

.category-filter {
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b5b5;
  border-radius: 16px;
  color: black;
}

.category-filter-clicked {
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #717171;
  border-radius: 16px;
  color: white;
  background-color: #717171;
}
