<div *ngIf='!loading else loadingtemplate' class='m-4 contentSize'>
  <app-invite-friend *ngIf="showinviteComponent else friendComponent" [userLinkReferred]="userLinkReferred"
    (close)="showComponent(componentName.MyFriendsComponent)">
  </app-invite-friend>

  <ng-template #friendComponent>
    <app-my-friends [referredUsers]="data?.ReferredPerson?.length" [paymentUsers]="data?.Payments?.length"
      (close)="showComponent(componentName.InviteFriendComponent)">
    </app-my-friends>
  </ng-template>
</div>
<!-- Loading Section -->
<ng-template #loadingtemplate>
  <div fxLayout='row' fxLayoutAlign='center center' class="loadingSize">
    <mat-spinner diameter="60" color="accent"></mat-spinner>
  </div>
</ng-template>