@import '../../../assets/scss/mixins/breakpoints';
@import '../../../assets/scss/theme/variables';

.button-share {
  margin-bottom: 17px;
}

.contentSize {
  min-height: 30rem;
  max-height: 30rem;
}

.loadingSize {
  min-height: 34rem;
}

::ng-deep button.cursorNone {
  cursor: auto !important;
  box-shadow: none !important;
}
