@import "../../../../../../../assets/scss/theme/variables";

.container-category {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  min-height: 500px;
}

#toolbarCat {
  background-color: transparent !important;

}

.listItem {
  background-color: #fafafa;
  max-width: 50rem;
  border-radius: 0px;
  border-bottom: 1px solid #eeeeee;
  position: relative;

  .btnOp {
    position: absolute;
    right: 16px;
    margin-right: 0px;
    color: $grey4;
    z-index: 20;

    mat-icon {
      margin-right: 0px !important;
    }
  }
}


.listCategory {
  list-style-type: disc !important;
}

.btnAdd {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 900;

  @media (max-width:800px) {
    position: fixed;
  }
}
