<div class="container-category mt-3">
  <mat-toolbar id="toolbarCat">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

      <div>
        <button *ngIf="!this.isRoot" mat-icon-button (click)="onNavToChildren(this.lastCategoryId)">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <ng-container *ngIf="this.categoryId && category">
          {{utils.parserLanguage(category.name,language)}}
        </ng-container>
        <ng-container *ngIf="!this.categoryId">
          {{'Categorías'|translate}}
        </ng-container>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-nav-list role="navigation" calss="listCategory">
    <a mat-list-item class="listItem" (click)="onNavToChildren(category.id)" *ngFor="let category of this.allCategories">
      {{utils.parserLanguage(category.name,language)}}
      &nbsp;
      <span *ngIf="category.showInNavBar" fxHide.xs class="color-grey-600 mat-caption">(Mostrado en la barra de navegación)</span>
      <span *ngIf="category.showInNavBar" fxHide fxShow.xs class="color-grey-600 mat-caption">(Barra de navegación)</span>
      <div class="btnOp" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="onEditCategory(category,$event)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="onRemoveCategory([category],$event)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </a>

    <a mat-list-item class="listItem">
      <div class="btnOp" fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="onCreateCategory($event)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </a>

  </mat-nav-list>

  <div *ngIf="!allCategories.length" class="py-3" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../../../assets/images/empty.svg" alt="Empty" style="height: 100px; width: 100px;">
    <p class="text-muted mt-3 mat-title mb-0">
      {{'No hay categorías hijas asociada a la categoría'|translate}}
      <ng-container *ngIf="category">{{utils.parserLanguage(category.name,language)}}</ng-container>

    </p>
  </div>
  <!-- <button fxHide fxShow.xs class="btnAdd" (click)="onCreateCategory($event)" mat-mini-fab color="accent">
    <mat-icon>
      add
    </mat-icon>
  </button> -->

</div>
