.priceInput {
  max-width: 100%;
  height: 34px !important;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .22);
  padding: 0 8px !important;
  box-sizing: border-box;
  text-align: end;

  &:focus {
    border: 1px solid #42a5f5 !important;
    outline: unset;
  }
}

.errorInput {
  border: 1.5px solid #f44336 !important;
  background-color: #ffcdd2;

  &:focus {
    border: 1.5px solid #f44336 !important;
    outline: unset;
  }
}
