.contact-us {
  padding: 32px 15px;
  max-width: 900px;
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;


  h1,
  h3 {
    text-align: center;
  }

  h1 {
    text-transform: uppercase;
  }

  .form {
    display: flex;
    flex-direction: column;

    label {
      opacity: .8;
      margin-bottom: .75rem;
    }
  }

  button {
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: 300;
  }
}
