<mat-toolbar color='primary'>
  <mat-toolbar-row fxLayout='row' fxLayoutAlign='start center'>
    <a class='example-icon' href='#' mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </a>
    <img alt='logo' src='assets/images/pymesbulevar/logo-r-white.png' style='height: 50px' />
    <span class='example-spacer'></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class='w-100 mt-3' fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='gappx'>
  <div class='stepperForm' fxFlex.gt-sm='70' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start stretch'>
    <div class='container-stepper'>
      <mat-horizontal-stepper #stepper [linear]="'true'" color='accent' labelPosition='bottom'>
        <mat-step [stepControl]='basicForm'>
          <ng-template matStepLabel>{{ 'Información de su Negocio' | translate }}</ng-template>
          <div [formGroup]='basicForm' fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='16px'>
            <p class='mat-body-2 uppercase mb-1'>
              {{ 'Logo del negocio' | translate }}*
            </p>

            <guachos-image-picker [_imageSrc]='imageBusiness' ($imageChanged)='onImageChange($event)'
                                  [_config]='imagePickerConf'></guachos-image-picker>

            <!-- NOMBRE DEL NEGOCIO -->
<!--              <p class='mat-body-2 uppercase mt-2 mb-1'>-->
<!--                {{ 'Nombre del negocio' | translate }}-->
<!--              </p>-->
              <p class='mat-body-2 uppercase mt-2 mb-1'>
                {{ 'Datos iniciales' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Nombre del negocio'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['name']"
                  (keypress)='utilsService.keyPressAlphaAndNumbers($event)'
                  matInput
                  placeholder="{{ 'Mi Negocio' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['name'].hasError('required')">
                  {{ 'Nombre' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Objeto social'|translate}}</mat-label>
                <textarea
                  [formControl]="basicForm.controls['socialObject']"
                  (keypress)='utilsService.keyPressAlpha($event)'
                  matInput
                  maxlength='140'
                  placeholder="{{'Descripción del objeto social' | translate }}"
                  rows='5'></textarea>
                <mat-error *ngIf="basicForm.controls['socialObject'].hasError('required')">
                  {{ 'Objeto social' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <mat-hint>
                  {{
                  'Escriba el objeto social de su empresa' | translate
                  }}
                </mat-hint>
              </mat-form-field>

            <!-- DATOS DE INSCRIPCIÓN DEL NEGOCIO -->
            <p class='mat-body-2 uppercase mb-1 mt-3'>
                {{ 'Datos de inscripcion' | translate }}
              </p>

            <mat-form-field fxFlex='grow' appearance='outline'>
                <mat-label>{{'Forma de gestión'}}</mat-label>
                <mat-select [formControl]="basicForm.controls['selfEmployed']">
                  <mat-option *ngFor='let form of managementForm' [value]='form.value'>
                    {{form.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="basicForm.controls['selfEmployed'].hasError('required')">
                  {{ 'Forma de gestión' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='form-field-width'>
              <mat-label>{{'NIT'|translate}}</mat-label>
              <input
                [formControl]="basicForm.controls['nit']"
                matInput
                placeholder="{{ 'Número de Identificación Tributaria' | translate }}"
                type='text'
              />
              <mat-error *ngIf="basicForm.controls['nit'].hasError('required')">
                {{ 'NIT' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='form-field-width'>
              <mat-label>{{'Código REEUP'|translate}}</mat-label>
              <input
                [formControl]="basicForm.controls['reeup']"
                (keypress)='utilsService.keyPressAlphaAndNumbers($event)'
                matInput
                placeholder="{{ 'Código REEUP' | translate }}"
                type='text'
              />
              <mat-error *ngIf="basicForm.controls['reeup'].hasError('required')">
                {{ 'Código REEUP' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Inscripción en el Registro mercantil'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['commercialRegister']"
                  matInput
                  placeholder="{{ 'Código de inscripción en el Registro Mercantil' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['commercialRegister'].hasError('required')">
                  {{ 'Registro mercantil' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
            </mat-form-field>

            <!-- REPRESENTANTE -->
            <p class='mat-body-2 uppercase mb-1'>
                {{ 'Representante legal del Negocio' | translate }}
              </p>

            <div fxLayout='row wrap' fxLayoutAlign.gt-sm='space-between'>
              <mat-form-field fxFlex.gt-sm='48' appearance='outline' class='form-field-width'>
                <mat-label>{{'Nombre'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerName']"
                  (keypress)='utilsService.keyPressAlpha($event)'
                  matInput
                  placeholder="{{ 'Nombre del representante' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerName'].hasError('required')">
                  {{ 'Nombre' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex.gt-sm='48' appearance='outline' class='form-field-width'>
                <mat-label>{{'Apellidos'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerLastName']"
                  (keypress)='utilsService.keyPressAlpha($event)'
                  matInput
                  placeholder="{{ 'Apellidos del representante' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerLastName'].hasError('required')">
                  {{ 'Apellidos' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field appearance='outline' class='form-field-width'>
              <mat-label>{{'Número de idenificación' |translate}}</mat-label>
              <input
                [formControl]="basicForm.controls['managerIdentification']"
                (keypress)='utilsService.keyPressNumbers($event)'
                matInput
                placeholder="{{ 'Número de idenificación del representante' | translate }}"
                type='text'
              />
              <mat-error *ngIf="basicForm.controls['managerIdentification'].hasError('required')">
                {{ 'Número de idenificación' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='form-field-width'>
              <mat-label>{{'Cargo' |translate}}</mat-label>
              <input
                [formControl]="basicForm.controls['managerCharge']"
                (keypress)='utilsService.keyPressAlpha($event)'
                matInput
                placeholder="{{ 'Cargo del representante' | translate }}"
                type='text'
              />
              <mat-error *ngIf="basicForm.controls['managerCharge'].hasError('required')">
                {{ 'Cargo' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <div fxLayout='row wrap' fxLayoutAlign.gt-sm='space-between'>
              <mat-form-field fxFlex.gt-sm='48' appearance='outline' class='form-field-width'>
                <mat-label>{{'Teléfono' |translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerPhone']"
                  (keypress)='utilsService.keyPressNumbers($event)'
                  matInput
                  placeholder="{{ 'Teléfono del representante' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerPhone'].hasError('required')">
                  {{ 'Teléfono del representante' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex.gt-sm='48' appearance='outline' class='form-field-width'>
                <mat-label>{{'Correo' |translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerEmail']"
                  matInput
                  placeholder="{{ 'Correo del representante' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerEmail'].hasError('required')">
                  {{ 'Correo del representante' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
                <mat-error *ngIf="basicForm.controls['managerEmail'].hasError('pattern')">
                  {{ 'Correo del representante' | translate }} <strong>{{ 'es inválido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>


<!--            <mat-form-field appearance='outline' class='form-field-width'>-->
<!--                <mat-label>{{'Caracter'|translate}}</mat-label>-->
<!--                <input-->
<!--                  [formControl]="basicForm.controls['managerCharacter']"-->
<!--                  matInput-->
<!--                  placeholder="{{ 'Caracter' | translate }}"-->
<!--                  type='text'-->
<!--                />-->
<!--                <mat-error *ngIf="basicForm.controls['managerCharacter'].hasError('required')">-->
<!--                  {{ 'Caracter' | translate }} <strong>{{ 'es requerido' | translate }}</strong>-->
<!--                </mat-error>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field appearance='outline' class='form-field-width'>-->
<!--                <mat-label>{{'Designado mediante'|translate}}</mat-label>-->
<!--                <input-->
<!--                  [formControl]="basicForm.controls['managerDesignation']"-->
<!--                  matInput-->
<!--                  placeholder="{{ 'Designado mediante' | translate }}"-->
<!--                  type='text'-->
<!--                />-->
<!--            </mat-form-field>-->

<!--            <mat-form-field (click)='pickerDate.open();$event.preventDefault();$event.stopPropagation()'-->
<!--                              appearance='outline' class='form-field-width'>-->
<!--                <mat-label>{{ 'Fecha' | translate }}</mat-label>-->
<!--                <input matInput [formControl]="basicForm.controls['managerDate']"-->
<!--                       placeholder="{{ 'Fecha' | translate }}"-->
<!--                       autocomplete='off'-->
<!--                       [max]='today'-->
<!--                       [matDatepicker]='pickerDate'>-->
<!--                <mat-datepicker-toggle matSuffix [for]='pickerDate'></mat-datepicker-toggle>-->
<!--                <mat-datepicker #pickerDate></mat-datepicker>-->
<!--                <mat-error *ngIf="basicForm.controls['managerDate'].hasError('required')">-->
<!--                  {{ 'Fecha' | translate }} <strong>{{ 'es requerido' | translate }}</strong>-->
<!--                </mat-error>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field appearance='outline' class='form-field-width'>-->
<!--                <mat-label>{{ 'Dictada por' | translate }}</mat-label>-->
<!--                <input-->
<!--                  [formControl]="basicForm.controls['managerDictatedBy']"-->
<!--                  matInput placeholder="{{ 'Dictada por' | translate }}"-->
<!--                  type='text'-->
<!--                />-->
<!--            </mat-form-field>-->

            <!-- DATOS BANCARIOS DEL NEGOCIO -->
            <p class='mat-body-2 uppercase mb-1 mt-3'>
                {{ 'Datos bancarios' | translate }}
              </p>

            <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Licencia Bancaria'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['bankLicense']"
                  (keypress)='utilsService.keyPressNumbers($event)'
                  matInput
                  placeholder="{{ 'Código de Licencia Bancaria' | translate }}"
                  type='text' />
                <mat-error *ngIf="basicForm.controls['bankLicense'].hasError('required')">
                  {{ 'Licencia Bancaria' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

            <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Registro Comercial'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['bankCommercialRegister']"
                  (keypress)='utilsService.keyPressNumbers($event)'
                  matInput
                  placeholder="{{ 'Código de Registro Comercial' | translate }}"
                  type='text' />
                <mat-error *ngIf="basicForm.controls['bankCommercialRegister'].hasError('required')">
                  {{ 'Registro Comercial' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

            <div fxLayout='row wrap' fxLayoutAlign.gt-sm='space-between'>
              <mat-form-field fxFlex.gt-sm='48' appearance="outline" class='form-field-width'>
                <mat-label>{{ 'Banco CUP' | translate}}</mat-label>
<!--                <mat-select [compareWith]="compare" [formControl]="basicForm.controls['cupBank']">-->
<!--                  <mat-option *ngFor="let bank of allBanks" [value]="bank">{{bank.name}}</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-hint>{{'Elija un banco' | translate}}</mat-hint>-->
                <input
                  [formControl]="basicForm.controls['cupBank']"
                  (keypress)='utilsService.keyPressAlphaAndNumbers($event)'
                  matInput
                  placeholder="{{ 'Banco CUP' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['cupBank'].hasError('required')">{{'Campo requerido' | translate}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex.gt-sm='48' appearance='outline' class='form-field-width'>
                <mat-label>{{'Sucursal Bancaria CUP'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['cupBankBranch']"
                  (keypress)='utilsService.keyPressAlphaAndNumbers($event)'
                  matInput
                  placeholder="{{ 'Sucursal Bancaria CUP' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['cupBankBranch'].hasError('required')">
                  {{ 'Sucursal Bancaria CUP' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
<!--              <mat-form-field appearance="outline" class='form-field-width'>-->
<!--                <mat-label>{{ 'Sucursal Bancaria CUP' | translate}}</mat-label>-->
<!--                <mat-select [compareWith]="compare" [formControl]="basicForm.controls['cupBankBranch']">-->
<!--                  <mat-option *ngFor="let branch of allBranchs" [value]="branch"><span>{{branch.code}} - {{branch.name}}</span></mat-option>-->
<!--                </mat-select>-->
<!--                <mat-hint>{{'Escoja una sucursal' | translate}}</mat-hint>-->
<!--                <mat-error *ngIf="basicForm.controls['cupBankBranch'].hasError('required')">{{'Campo requerido' | translate}}</mat-error>-->
<!--              </mat-form-field>-->
            </div>
            <mat-form-field  appearance='outline' class='form-field-width'>
              <mat-label>{{'Cuenta bancaria CUP'|translate}}</mat-label>
              <input
                [formControl]="basicForm.controls['cupCard']"
                (keypress)='utilsService.keyPressNumbers($event)'
                matInput
                placeholder="{{ 'Ex. 92xx-9598-xxxx-xxxx' | translate }}"
                type='text'
              />
              <mat-error *ngIf="basicForm.controls['cupCard'].hasError('required')">
                {{ 'Cuenta bancaria CUP' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <div fxLayout='row wrap' fxLayoutAlign.gt-sm='space-between'>

<!--              <mat-form-field appearance='outline' class='form-field-width'>-->
<!--                <mat-label>{{'Banco MLC'|translate}}</mat-label>-->
<!--                <input-->
<!--                  [formControl]="basicForm.controls['usdBank']"-->
<!--                  (keypress)='utilsService.keyPressAlphaAndNumbers($event)'-->
<!--                  matInput-->
<!--                  placeholder="{{ 'Banco MLC' | translate }}"-->
<!--                  type='text'-->
<!--                />-->
<!--                <mat-error *ngIf="basicForm.controls['usdBank'].hasError('required')">-->
<!--                  {{ 'Banco MLC' | translate }} <strong>{{ 'es requerido' | translate }}</strong>-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->
              <mat-form-field fxFlex.gt-sm='48' appearance="outline" class='form-field-width'>
                <mat-label>{{ 'Banco MLC' | translate}}</mat-label>
<!--                <mat-select [compareWith]="compare" [formControl]="basicForm.controls['usdBank']">-->
<!--                  <mat-option *ngFor="let bank of allBanks" [value]="bank">{{bank.name}}</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-hint>{{'Elija un banco' | translate}}</mat-hint>-->
                  <input
                      [formControl]="basicForm.controls['usdBank']"
                      (keypress)='utilsService.keyPressAlphaAndNumbers($event)'
                      matInput
                      placeholder="{{ 'Banco MLC' | translate }}"
                      type='text'
                  />
                <mat-error *ngIf="basicForm.controls['usdBank'].hasError('required')">{{'Campo requerido' | translate}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex.gt-sm='48' appearance='outline' class='form-field-width'>
                <mat-label>{{'Sucursal Bancaria MLC'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['usdBankBranch']"
                  (keypress)='utilsService.keyPressAlphaAndNumbers($event)'
                  matInput
                  placeholder="{{ 'Sucursal Bancaria MLC' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['usdBankBranch'].hasError('required')">
                  {{ 'Sucursal Bancaria MLC' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field fxFlex='48' appearance='outline' class='form-field-width'>
              <mat-label>{{'Cuenta bancaria MLC'|translate}}</mat-label>
              <input
                [formControl]="basicForm.controls['card26']"
                (keypress)='utilsService.keyPressNumbers($event)'
                matInput
                placeholder="{{ 'Ex. 9226-9598-xxxx-xxxx' | translate }}"
                type='text'
              />
              <mat-error *ngIf="basicForm.controls['card26'].hasError('required')">
                {{ 'Cuenta bancaria MLC' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <!-- CONTACTOS DEL NEGOCIO -->
            <ng-container>
              <!--            <div class='form-field-width' fxLayout='row wrap' fxLayoutAlign='space-between start' fxLayoutGap='gappx'>-->
              <div class='form-field-width' fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='gappx'>
                <!--              <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
                <p class='mat-body-2 uppercase mb-1'
                   [title]="'Sección donde pondra todos los contactos de su negocio, el número celular es obligatorio, lo contactarémos a este número en caso de tenerlo, para realizar una entrevista'|translate">
                  {{ 'Contactos de la Empresa' | translate }}
                  <mat-icon
                    class='iconHelp'
                    matTooltip="{{
                      'Sección donde pondrá todos los contactos de su negocio, el número celular es obligatorio, lo contactarémos a este número en caso de tenerlo, para realizar una entrevista' | translate
                    }}"
                  >help
                  </mat-icon>
                </p>

                <mat-form-field appearance='outline' class='form-field-width'>
                  <mat-label>{{'Telefono celular'|translate}}</mat-label>
                  <input
                    [formControl]="basicForm.controls['cellphone']"
                    (keypress)='utilsService.keyPressNumbers($event)'
                    matInput
                    placeholder='ej: 53 5262 1645'
                    type='tel'
                  />
                  <mat-icon class='greyIcon' matSuffix>smartphone</mat-icon>
                  <mat-error *ngIf="basicForm.controls['cellphone'].hasError('required')">
                    {{'Telefono celular'|translate}} <strong>{{ 'es requerido'|translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance='outline' class='form-field-width'>
                  <mat-label>{{'Teléfono fijo'|translate}}</mat-label>
                  <input
                    [formControl]="basicForm.controls['telephone']"
                    (keypress)='utilsService.keyPressNumbers($event)'
                    matInput
                    placeholder='ej: 7205 3519'
                    type='tel'
                  />
                  <mat-icon class='greyIcon' matSuffix>phone</mat-icon>
                </mat-form-field>
                <!--              </div>-->
                <!--              <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
                <!--                <p class='mat-body-2 uppercase mb-1'>-->
                <!--                  {{ 'No. de celular' | translate }}-->
                <!--                  <mat-icon-->
                <!--                    class='iconHelp'-->
                <!--                    matTooltip="{{-->
                <!--                      'Número al cual le enviaremos un codigo de activacion de su cuenta de vendedor' | translate-->
                <!--                    }}"-->
                <!--                  >help-->
                <!--                  </mat-icon>-->
                <!--                </p>-->

                <!--              <p class='mat-body-2 uppercase mb-1'>-->
                <!--                {{ 'Correo electrónico' | translate }}-->
                <!--                <mat-icon-->
                <!--                  class='iconHelp'-->
                <!--                  matTooltip="{{-->
                <!--                  'En caso de fallar el envío del pin al celular, lo enviaremos hacia su cuenta de correo y las notificaciones de productos vendidos y pedidos se haran ha esta cuenta'-->
                <!--                    | translate-->
                <!--                }}"-->
                <!--                >help-->
                <!--                </mat-icon>-->
                <!--              </p>-->

                <mat-form-field appearance='outline' class='form-field-width'>
                  <mat-label>{{'Email'|translate}}</mat-label>
                  <input
                    [formControl]="basicForm.controls['email']"
                    matInput
                    placeholder='ej: example@gmail.com'
                    required
                    type='text'
                  />
                  <mat-icon class='greyIcon' matSuffix>mail</mat-icon>
                  <mat-error *ngIf="basicForm.controls['email'].hasError('required')">
                    {{ 'Email' }} <strong>{{ 'es requerido' }}</strong>
                  </mat-error>
                  <mat-error *ngIf="basicForm.controls['email'].hasError('pattern')">
                    {{ 'Email' }} <strong>{{ 'es inválido' }}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <!--    </div>-->
            </ng-container>

            <div>
<!--              <button (click)='saveStepOne()' [disabled]="basicForm.invalid" class="uppercase" mat-button>-->
<!--                {{ 'Guardar' | translate }}-->
<!--              </button>-->
              <button (click)='saveStepOne()' [disabled]='basicForm.invalid && this.imageBusiness' class='uppercase' mat-button matStepperNext>
                {{ 'Siguiente' | translate }}
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]='locationForm'>
          <ng-template matStepLabel>{{ 'Localización' | translate }}</ng-template>

          <div class='form-field-width' fxLayout='row wrap' fxLayoutAlign='space-between center'>
            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Provincia' | translate }}
              </p>
              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-select
                  (selectionChange)='onSelectProvince($event.value)'
                  [formControl]="locationForm.controls['ProvinceId']"
                  placeholder="{{ 'Nombre de la provincia' | translate }}"
                  required
                  type='text'
                >
                  <mat-option *ngFor='let province of allProvinces' [value]='province.id'>
                    {{ province.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locationForm.controls['ProvinceId'].hasError('required')">
                  {{ 'Provincia' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Municipio' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width' fxFlex='49' fxFlex.lt-md='100'>
                <mat-select
                  [formControl]="locationForm.controls['MunicipalityId']"
                  placeholder="{{ 'Nombre del Municipio' | translate }}"
                  required
                  type='text'
                >
                  <mat-option *ngFor='let municipio of municipalities' [value]='municipio.id'>
                    {{ municipio.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locationForm.controls['MunicipalityId'].hasError('required')">
                  {{ 'Municipio' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- <google-map height="400px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map> -->

          <p class='mat-body-2 uppercase mb-1'>
            {{ 'Dirección' | translate }}
            <mat-icon
              class='iconHelp'
              matTooltip="{{ 'Dirección exacta de su negocio, verificaremos esta dirección' | translate }}"
            >help
            </mat-icon>
          </p>

          <mat-form-field appearance='outline' class='form-field-width'>
            <input
              [formControl]="locationForm.controls['address']"
              matInput
              placeholder='ej: 39 #3022 e/ 30 y 36 , La Sierra, Playa'
              required
              type='text'
            />
            <mat-icon class='greyIcon' matSuffix>location</mat-icon>
            <mat-error *ngIf="locationForm.controls['address'].hasError('required')">
              {{ 'Dirección' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div>
<!--            <button (click)='saveStepTwo()' [disabled]='locationForm.invalid' class='uppercase' mat-button>-->
<!--              {{ 'Guardar' | translate }}-->
<!--            </button>-->
            <button class='uppercase' mat-button matStepperPrevious>{{ 'Anterior' | translate }}</button>
            <button (click)='saveStepTwo()' [disabled]='locationForm.invalid' class='uppercase' mat-button matStepperNext>
              {{ 'Siguiente' | translate }}
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]='sellerForm'>
          <ng-template matStepLabel>{{ 'Información del Vendedor' | translate }}</ng-template>
          <div class='form-field-width' fxLayout='row wrap' fxLayoutAlign='space-between start' fxLayoutGap='gappx'>
            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Nombre' | translate }}
              </p>
              <mat-form-field appearance='outline' class='form-field-width' fxFlex='49' fxFlex.lt-md='100'>
                <mat-label>{{ 'Nombre' | translate }}</mat-label>
                <input
                  [formControl]="sellerForm.controls['name']"
                  matInput
                  placeholder="{{ 'Name' | translate }}"
                  type='text'
                />
                <mat-icon class='greyIcon' matSuffix>person</mat-icon>
                <mat-error *ngIf="sellerForm.controls['name'].hasError('required')">
                  {{ 'Nombre' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Apellidos' | translate }}
              </p>
              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{ 'Apellidos' | translate }}</mat-label>
                <input
                  [formControl]="sellerForm.controls['lastName']"
                  matInput
                  placeholder="{{ 'Lastname' | translate }}"
                  type='text'
                />
                <mat-icon class='greyIcon' matSuffix>person</mat-icon>
                <mat-error *ngIf="sellerForm.controls['lastName'].hasError('required')">
                  {{ 'Apellidos' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <p class='mat-body-2 uppercase mb-1'>
            {{ 'Fecha de nacimiento' | translate }}
          </p>

          <mat-form-field appearance='outline' class='form-field-width'>
            <input [formControl]="sellerForm.controls['birthday']" [matDatepicker]='pickerBirthday' matInput />
            <mat-datepicker-toggle [for]='pickerBirthday' matSuffix></mat-datepicker-toggle>
            <mat-datepicker #pickerBirthday [startAt]='startDate' startView='year'></mat-datepicker>
          </mat-form-field>

          <p class='mat-body-2 uppercase mb-1'>
            {{ 'Carné de identidad' | translate }}
          </p>

          <mat-form-field appearance='outline' class='form-field-width'>
            <input
              [formControl]="sellerForm.controls['ci']"
              matInput
              placeholder="{{ '950929XXXXX' }}"
              required
              type='text'
            />
            <mat-error *ngIf="sellerForm.controls['ci'].invalid">
              {{ 'CI' }} <strong>{{ 'es inválido' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <!-- <p class="mat-body-2 uppercase mb-1">
            {{ 'Número de tarjeta banco' | translate }}
          </p>

          <mat-form-field class="form-field-width" appearance="outline">
            <input
              required
              type="text"
              [formControl]="sellerForm.controls['card']"
              matInput
              placeholder="{{ 'xxxx-xxxx-xxxx-xxxx' }}"
            />
            <mat-error *ngIf="sellerForm.controls['card'].invalid">
              {{ 'Tarjeta' | translate }}
              <strong>{{ 'está inválido (debe contener solo números y un tamaño de 16 )' | translate }}</strong>
            </mat-error>
          </mat-form-field> -->

          <div>
<!--            <button-->
<!--              (click)='saveStepThree()'-->
<!--              [disabled]='sellerForm.invalid'-->
<!--              class='uppercase'-->
<!--              mat-button-->
<!--            >-->
<!--              {{ 'Guardar' | translate }}-->
<!--            </button>-->
            <button class='uppercase' mat-button matStepperPrevious>{{ 'Anterior' | translate }}</button>
            <button
              (click)='onCreateBusiness()'
              [disabled]='sellerForm.invalid'
              class='uppercase'
              color='primary'
              mat-raised-button
              matStepperNext
            >
              {{ 'Enviar' | translate }}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
  <div id='questions-bar' class='questions' fxFlex fxLayout='column' fxLayoutAlign='start stretch'>
    <div class='row-line' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>
      <span class='mat-title mb-0 color-grey-800' style='font-weight: 600'>{{
        'Preguntas frecuentes' | translate
        }}</span>
    </div>

    <mat-accordion multi>
      <mat-expansion-panel class='mat-elevation-z0'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style='color: #0066c0'>
              {{ '¿Qué formato debe tener el número de teléfono?' | translate }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{
          'Los números tienen que incluir un prefijo con el código de nuestro país. Formato correcto:5353612042 .'
            | translate
          }}
        </p>
      </mat-expansion-panel>

<!--      <mat-expansion-panel class='mat-elevation-z0'>-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--            <span style='color: #0066c0'>-->
<!--              {{ '¿Qué tengo que hacer si no dispongo de un número de teléfono móvil para recibir SMS?' | translate }}-->
<!--            </span>-->
<!--          </mat-panel-title>-->
<!--          <mat-panel-description></mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->
<!--        <p>A travéz de la cuenta de correo se te generará también el pin.</p>-->
<!--      </mat-expansion-panel>-->

      <!--      <mat-expansion-panel class='mat-elevation-z0'>-->
      <!--        <mat-expansion-panel-header>-->
      <!--          <mat-panel-title>-->
      <!--            <span style='color: #0066c0'>-->
      <!--              {{ '¿Qué ocurre si no he recibido un SMS con el PIN?' | translate }}-->
      <!--            </span>-->
      <!--          </mat-panel-title>-->
      <!--          <mat-panel-description></mat-panel-description>-->
      <!--        </mat-expansion-panel-header>-->
      <!--        <p>-->
      <!--          {{-->
      <!--          'Comprueba si has introducido tu número de teléfono en el formato correcto o la cuenta de correo es válida. Solicita el PIN de nuevo.'-->
      <!--            | translate-->
      <!--          }}-->
      <!--        </p>-->
      <!--      </mat-expansion-panel>-->

      <mat-expansion-panel class='mat-elevation-z0'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style='color: #0066c0'>
              {{ '¿Es importante tener una cuenta de correo que use frecuentemente?' | translate }}
            </span>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          {{
          'Además de enviar el pin de validación de la cuenta de vendedor, todas las notificaciones de ventas y entregas relacionadas con sus productos se harán a través de esta cuenta de correo'
            | translate
          }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
