<mat-toolbar color='primary'>
  <mat-toolbar-row fxLayout='row' fxLayoutAlign='start center'>
    <a class='example-icon' href='#' mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </a>
    <img alt='logo' src='assets/images/pymesbulevar/logo-r-white.png' style='height: 50px' />
    <span class='example-spacer'></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class='w-100 mt-3' fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='gappx'>
  <div class='stepperForm' fxFlex.gt-sm='70' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start stretch'>
    <div class='container-stepper'>
      <mat-horizontal-stepper #stepper [linear]="'true'" color='accent' labelPosition='bottom'>
        <mat-step [stepControl]='basicForm'>
          <ng-template matStepLabel>{{ 'Información de su Negocio' | translate }}</ng-template>
          <div [formGroup]='basicForm' fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='16px'>
            <p class='mat-body-2 uppercase mb-1'>
              {{ 'Logo del negocio' | translate }}
            </p>

            <guachos-image-picker ($imageChanged)='onImageChange($event)'
                                  [_config]='imagePickerConf'></guachos-image-picker>

            <!-- NOMBRE DEL NEGOCIO -->
            <ng-container>
              <p class='mat-body-2 uppercase mt-2 mb-1'>
                {{ 'Nombre del negocio' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Nombre del negocio'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['name']"
                  matInput
                  placeholder="{{ 'Mi Negocio' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['name'].hasError('required')">
                  {{ 'Nombre' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>

            <!-- OBJETO SOCIAL DEL NEGOCIO -->
            <ng-container>
              <p class='mat-body-2 uppercase mb-1 mt-3'>
                {{ 'Objeto social' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Objeto social'|translate}}</mat-label>
                <textarea
                  [formControl]="basicForm.controls['socialObject']"
                  matInput
                  maxlength='140'
                  placeholder="{{'Descripción del objeto social' | translate }}"
                  rows='5'></textarea>
                <mat-error *ngIf="basicForm.controls['socialObject'].hasError('required')">
                  {{ 'Objeto social' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
                <mat-hint>
                  {{
                  'Escriba el objeto social de su empresa' | translate
                  }}
                </mat-hint>
              </mat-form-field>
            </ng-container>

            <!-- Datos de inscripcion DEL NEGOCIO -->
            <ng-container>
              <p class='mat-body-2 uppercase mb-1 mt-3'>
                {{ 'Datos de inscripcion' | translate }}
              </p>

              <mat-form-field fxFlex='grow' appearance='outline'>
                <mat-label>{{'Forma de gestion'}}</mat-label>
                <mat-select [formControl]="basicForm.controls['managementForm']">
                  <mat-option *ngFor='let form of managementForm' [value]='form.value'>
                    {{form.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="basicForm.controls['managementForm'].hasError('required')">
                  {{ 'Forma de gestion' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Codigo REEUP'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['reeup']"
                  matInput
                  placeholder="{{ 'Codigo REEUP' | translate }}"
                  type='text'
                  [readonly]="basicForm.get('managementForm').value === managementForm[1].value
                            || !basicForm.get('managementForm').value"
                />
                <mat-icon matSuffix *ngIf="basicForm.get('managementForm').value === managementForm[1].value
                            || !basicForm.get('managementForm').value">
                  block
                </mat-icon>
                <mat-error *ngIf="basicForm.controls['reeup'].hasError('required')">
                  {{ 'Codigo REEUP' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Codigo NIT'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['nit']"
                  matInput
                  placeholder="{{ 'Codigo NIT' | translate }}"
                  type='text'
                  [readonly]="basicForm.get('managementForm').value === managementForm[0].value
                            || !basicForm.get('managementForm').value"
                />
                <mat-icon matSuffix *ngIf="basicForm.get('managementForm').value === managementForm[0].value
                            || !basicForm.get('managementForm').value">
                  block
                </mat-icon>
                <mat-error *ngIf="basicForm.controls['nit'].hasError('required')">
                  {{ 'Codigo NIT' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Inscripcion en el Registro mercantil'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['commercialRegister']"
                  matInput
                  placeholder="{{ 'Registro mercantil' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['commercialRegister'].hasError('required')">
                  {{ 'Registro mercantil' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>

            <!-- REPRESENTANTE -->
            <ng-container>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Representante legal del Negocio' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Nombre'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerName']"
                  matInput
                  placeholder="{{ 'Nombre' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerName'].hasError('required')">
                  {{ 'Nombre' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Caracter'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerCharacter']"
                  matInput
                  placeholder="{{ 'Caracter' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerCharacter'].hasError('required')">
                  {{ 'Caracter' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Designado mediante'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerDesignation']"
                  matInput
                  placeholder="{{ 'Designado mediante' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerDesignation'].hasError('required')">
                  {{ 'Designado mediante' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field (click)='pickerDate.open();$event.preventDefault();$event.stopPropagation()'
                              appearance='outline' class='form-field-width'>
                <mat-label>{{ 'Fecha' | translate }}</mat-label>
                <input matInput [formControl]="basicForm.controls['managerDate']"
                       placeholder="{{ 'Fecha' | translate }}"
                       autocomplete='off'
                       [max]='today'
                       [matDatepicker]='pickerDate'>
                <mat-datepicker-toggle matSuffix [for]='pickerDate'></mat-datepicker-toggle>
                <mat-datepicker #pickerDate></mat-datepicker>
                <mat-error *ngIf="basicForm.controls['managerDate'].hasError('required')">
                  {{ 'Fecha' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{ 'Dictada por' | translate }}</mat-label>
                <input
                  [formControl]="basicForm.controls['managerDictatedBy']"
                  matInput placeholder="{{ 'Dictada por' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['managerDictatedBy'].hasError('required')">
                  {{ 'Dictada por' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>

            <!-- Datos Bancarios del Negocio -->
            <ng-container>
              <p class='mat-body-2 uppercase mb-1 mt-3'>
                {{ 'Cuentas' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Licencia Bancaria'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['bankLicense']"
                  matInput
                  placeholder="{{ 'Licencia Bancaria' | translate }}"
                  type='text' />
                <mat-error *ngIf="basicForm.controls['bankLicense'].hasError('required')">
                  {{ 'Licencia Bancaria' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Registro Comercial'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['bankCommercialRegister']"
                  matInput
                  placeholder="{{ 'Registro Comercial' | translate }}"
                  type='text' />
                <mat-error *ngIf="basicForm.controls['bankCommercialRegister'].hasError('required')">
                  {{ 'Registro Comercial' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Cuenta bancaria CUP'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['cupCard']"
                  matInput
                  placeholder="{{ 'Ex. 92xx-9598-xxxx-xxxx' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['cupCard'].hasError('required')">
                  {{ 'Cuenta bancaria CUP' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{'Cuenta bancaria MLC'|translate}}</mat-label>
                <input
                  [formControl]="basicForm.controls['card26']"
                  matInput
                  placeholder="{{ 'Ex. 9226-9598-xxxx-xxxx' | translate }}"
                  type='text'
                />
                <mat-error *ngIf="basicForm.controls['card26'].hasError('required')">
                  {{ 'Cuenta bancaria MLC' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>

            </ng-container>

            <!-- CONTACTOS DEL NEGOCIO -->
            <ng-container>
              <!--            <div class='form-field-width' fxLayout='row wrap' fxLayoutAlign='space-between start' fxLayoutGap='gappx'>-->
              <div class='form-field-width' fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='gappx'>
                <!--              <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
                <p class='mat-body-2 uppercase mb-1'
                   [title]="'Seccion donde pondra todos los contactos de su negocio, el numero celular es obligatorio, lo contactarémos a este numero en caso de tenerlo, para realizar una entrevista'|translate">
                  {{ 'Contactos del negocio' | translate }}
                  <mat-icon
                    class='iconHelp'
                    matTooltip="{{
                      'Seccion donde pondra todos los contactos de su negocio, el numero celular es obligatorio, lo contactarémos a este numero en caso de tenerlo, para realizar una entrevista' | translate
                    }}"
                  >help
                  </mat-icon>
                </p>

                <mat-form-field appearance='outline' class='form-field-width'>
                  <mat-label>{{'Telefono celular'|translate}}</mat-label>
                  <input
                    [formControl]="basicForm.controls['cellphone']"
                    matInput
                    placeholder='ej: 53 5262 1645'
                    type='tel'
                  />
                  <mat-icon class='greyIcon' matSuffix>smartphone</mat-icon>
                  <mat-error *ngIf="basicForm.controls['cellphone'].hasError('required')">
                    {{'Telefono celular'|translate}} <strong>{{ 'es requerido'|translate }}</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance='outline' class='form-field-width'>
                  <mat-label>{{'Telefono fijo'|translate}}</mat-label>
                  <input
                    [formControl]="basicForm.controls['telephone']"
                    matInput
                    placeholder='ej: 7205 3519'
                    type='tel'
                  />
                  <mat-icon class='greyIcon' matSuffix>phone</mat-icon>
                </mat-form-field>
                <!--              </div>-->
                <!--              <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>-->
                <!--                <p class='mat-body-2 uppercase mb-1'>-->
                <!--                  {{ 'No. de celular' | translate }}-->
                <!--                  <mat-icon-->
                <!--                    class='iconHelp'-->
                <!--                    matTooltip="{{-->
                <!--                      'Número al cual le enviaremos un codigo de activacion de su cuenta de vendedor' | translate-->
                <!--                    }}"-->
                <!--                  >help-->
                <!--                  </mat-icon>-->
                <!--                </p>-->

                <!--              <p class='mat-body-2 uppercase mb-1'>-->
                <!--                {{ 'Correo electrónico' | translate }}-->
                <!--                <mat-icon-->
                <!--                  class='iconHelp'-->
                <!--                  matTooltip="{{-->
                <!--                  'En caso de fallar el envío del pin al celular, lo enviaremos hacia su cuenta de correo y las notificaciones de productos vendidos y pedidos se haran ha esta cuenta'-->
                <!--                    | translate-->
                <!--                }}"-->
                <!--                >help-->
                <!--                </mat-icon>-->
                <!--              </p>-->

                <mat-form-field appearance='outline' class='form-field-width'>
                  <mat-label>{{'Email'|translate}}</mat-label>
                  <input
                    [formControl]="basicForm.controls['email']"
                    matInput
                    placeholder='ej: example@gmail.com'
                    required
                    type='text'
                  />
                  <mat-icon class='greyIcon' matSuffix>mail</mat-icon>
                  <mat-error *ngIf="basicForm.controls['email'].hasError('required')">
                    {{ 'Email' }} <strong>{{ 'es requerido' }}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <!--    </div>-->
            </ng-container>

            <div>
              <button (click)='temp()' [disabled]='basicForm.invalid' class='uppercase' mat-button matStepperNext>
                {{ 'Siguiente' | translate }}
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]='locationForm'>
          <ng-template matStepLabel>{{ 'Localización' | translate }}</ng-template>

          <div class='form-field-width' fxLayout='row wrap' fxLayoutAlign='space-between center'>
            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Provincia' | translate }}
              </p>
              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-select
                  (selectionChange)='onSelectProvince($event.value)'
                  [formControl]="locationForm.controls['ProvinceId']"
                  placeholder="{{ 'Nombre de la provincia' | translate }}"
                  required
                  type='text'
                >
                  <mat-option *ngFor='let province of allProvinces' [value]='province.id'>
                    {{ province.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locationForm.controls['ProvinceId'].hasError('required')">
                  {{ 'Provincia' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Municipio' | translate }}
              </p>

              <mat-form-field appearance='outline' class='form-field-width' fxFlex='49' fxFlex.lt-md='100'>
                <mat-select
                  [formControl]="locationForm.controls['MunicipalityId']"
                  placeholder="{{ 'Nombre del Municipio' | translate }}"
                  required
                  type='text'
                >
                  <mat-option *ngFor='let municipio of municipalities' [value]='municipio.id'>
                    {{ municipio.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locationForm.controls['MunicipalityId'].hasError('required')">
                  {{ 'Municipio' | translate }} <strong>{{ 'is required' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- <google-map height="400px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map> -->

          <p class='mat-body-2 uppercase mb-1'>
            {{ 'Dirección' | translate }}
            <mat-icon
              class='iconHelp'
              matTooltip="{{ 'Dirección exacta de su negocio, verificaremos esta dirección' | translate }}"
            >help
            </mat-icon>
          </p>

          <mat-form-field appearance='outline' class='form-field-width'>
            <input
              [formControl]="locationForm.controls['address']"
              matInput
              placeholder='ej: 39 #3022 e/ 30 y 36 , La Sierra, Playa'
              required
              type='text'
            />
            <mat-icon class='greyIcon' matSuffix>location</mat-icon>
            <mat-error *ngIf="locationForm.controls['address'].hasError('required')">
              {{ 'Dirección' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <div>
            <button class='uppercase' mat-button matStepperPrevious>{{ 'Anterior' | translate }}</button>
            <button [disabled]='locationForm.invalid' class='uppercase' mat-button matStepperNext>
              {{ 'Siguiente' | translate }}
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]='sellerForm'>
          <ng-template matStepLabel>{{ 'Información del Vendedor' | translate }}</ng-template>
          <div class='form-field-width' fxLayout='row wrap' fxLayoutAlign='space-between start' fxLayoutGap='gappx'>
            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Nombre' | translate }}
              </p>
              <mat-form-field appearance='outline' class='form-field-width' fxFlex='49' fxFlex.lt-md='100'>
                <mat-label>{{ 'Nombre' | translate }}</mat-label>
                <input
                  [formControl]="sellerForm.controls['name']"
                  matInput
                  placeholder="{{ 'Name' | translate }}"
                  type='text'
                />
                <mat-icon class='greyIcon' matSuffix>person</mat-icon>
                <mat-error *ngIf="sellerForm.controls['name'].hasError('required')">
                  {{ 'Nombre' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex='49' fxFlex.lt-md='100' fxLayout='column' fxLayoutAlign='start start' fxLayoutGap='gappx'>
              <p class='mat-body-2 uppercase mb-1'>
                {{ 'Apellidos' | translate }}
              </p>
              <mat-form-field appearance='outline' class='form-field-width'>
                <mat-label>{{ 'Apellidos' | translate }}</mat-label>
                <input
                  [formControl]="sellerForm.controls['lastName']"
                  matInput
                  placeholder="{{ 'Lastname' | translate }}"
                  type='text'
                />
                <mat-icon class='greyIcon' matSuffix>person</mat-icon>
                <mat-error *ngIf="sellerForm.controls['lastName'].hasError('required')">
                  {{ 'Apellidos' | translate }} <strong>{{ 'es requerido' | translate }}</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <p class='mat-body-2 uppercase mb-1'>
            {{ 'Fecha de nacimiento' | translate }}
          </p>

          <mat-form-field appearance='outline' class='form-field-width'>
            <input [formControl]="sellerForm.controls['birthday']" [matDatepicker]='pickerBirthday' matInput />
            <mat-datepicker-toggle [for]='pickerBirthday' matSuffix></mat-datepicker-toggle>
            <mat-datepicker #pickerBirthday [startAt]='startDate' startView='year'></mat-datepicker>
          </mat-form-field>

          <p class='mat-body-2 uppercase mb-1'>
            {{ 'Carné de identidad' | translate }}
          </p>

          <mat-form-field appearance='outline' class='form-field-width'>
            <input
              [formControl]="sellerForm.controls['ci']"
              matInput
              placeholder="{{ '950929XXXXX' }}"
              required
              type='text'
            />
            <mat-error *ngIf="sellerForm.controls['ci'].invalid">
              {{ 'CI' }} <strong>{{ 'es inválido' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <!-- <p class="mat-body-2 uppercase mb-1">
            {{ 'Número de tarjeta banco' | translate }}
          </p>

          <mat-form-field class="form-field-width" appearance="outline">
            <input
              required
              type="text"
              [formControl]="sellerForm.controls['card']"
              matInput
              placeholder="{{ 'xxxx-xxxx-xxxx-xxxx' }}"
            />
            <mat-error *ngIf="sellerForm.controls['card'].invalid">
              {{ 'Tarjeta' | translate }}
              <strong>{{ 'está inválido (debe contener solo números y un tamaño de 16 )' | translate }}</strong>
            </mat-error>
          </mat-form-field> -->

          <div>
            <button class='uppercase' mat-button matStepperPrevious>{{ 'Anterior' | translate }}</button>
            <button
              (click)='onCreateBusiness()'
              [disabled]='sellerForm.invalid'
              class='uppercase'
              mat-button
              matStepperNext
            >
              {{ 'Guardar' | translate }}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
  <div class='Preguntas' fxFlex fxLayout='column' fxLayoutAlign='start stretch'>
    <div class='row-line' fxLayout='row' fxLayoutAlign='start start' fxLayoutGap='gappx'>
      <span class='mat-title mb-0 color-grey-800' style='font-weight: 600'>{{
        'Preguntas frecuentes' | translate
        }}</span>
    </div>

    <mat-accordion multi>
      <mat-expansion-panel class='mat-elevation-z0'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style='color: #0066c0'>
              {{ '¿Qué formato debe tener el número de teléfono?' | translate }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{
          'Los números tienen que incluir un prefijo con el código de nuestro país. Formato correcto:5353612042 .'
            | translate
          }}
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class='mat-elevation-z0'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style='color: #0066c0'>
              {{ '¿Qué tengo que hacer si no dispongo de un número de teléfono móvil para recibir SMS?' | translate }}
            </span>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>A travéz de la cuenta de correo se te generará también el pin.</p>
      </mat-expansion-panel>

      <!--      <mat-expansion-panel class='mat-elevation-z0'>-->
      <!--        <mat-expansion-panel-header>-->
      <!--          <mat-panel-title>-->
      <!--            <span style='color: #0066c0'>-->
      <!--              {{ '¿Qué ocurre si no he recibido un SMS con el PIN?' | translate }}-->
      <!--            </span>-->
      <!--          </mat-panel-title>-->
      <!--          <mat-panel-description></mat-panel-description>-->
      <!--        </mat-expansion-panel-header>-->
      <!--        <p>-->
      <!--          {{-->
      <!--          'Comprueba si has introducido tu número de teléfono en el formato correcto o la cuenta de correo es válida. Solicita el PIN de nuevo.'-->
      <!--            | translate-->
      <!--          }}-->
      <!--        </p>-->
      <!--      </mat-expansion-panel>-->

      <mat-expansion-panel class='mat-elevation-z0'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style='color: #0066c0'>
              {{ '¿Es importante tener una cuenta de correo que use frecuentemente?' | translate }}
            </span>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          {{
          'Además de enviar el pin de validación de la cuenta de vendedor, todas las notificaciones de ventas y entregas relacionadas con sus productos se harán a través de esta cuenta de correo'
            | translate
          }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
