<mat-dialog-content>
  <blockquote>
    <p>
      {{
      'Usted dejará nuestro sistema y navegará hacia la pasarela online, marque CONFIRMAR para proseguir con su cancelación'
        | translate
      }}
    </p>
  </blockquote>
</mat-dialog-content>

<mat-dialog-actions align='end'>
  <button class='mr-3' mat-button mat-dialog-close>{{ 'Cancelar' | translate }}</button>
  <form action='https://www.administracomercios.com/index.php' method='post' ngNoForm target='_self'>
    <div id='inputsHiddenBid'></div>
    <button aria-label='Confirm' color='primary'
            id='bid-btn-submit' mat-dialog-close
            mat-flat-button type='submit'
            value='Enviar'>
      {{ 'CONFIRMAR' | translate }}
    </button>
  </form>
</mat-dialog-actions>
