<!--=== Image Block ===-->
<div>
  <section class="p-4" style="border-bottom: 1px solid #eee;">
    <div class="container-Term">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
        <a class="color-grey-800" [routerLink]="[ '']">
          <mat-icon>
            arrow_back
          </mat-icon>
        </a>

        <h1 class="mat-title mb-0 color-grey-800 uppercase ml-2">{{"TERMINOS Y CONDICIONES"|translate}}</h1>
      </div>
    </div>
  </section>

  <section class="py-4">
    <div class="container-Term">

      <p>Este sitio web es operado por Rumbos Services Inc, estaremos comprometidos con la protección de su privacidad y
        luchamos para que el manejo de la misma sea de una forma completamente. Esta Política explica cómo manejamos
        toda
        la información de nuestros clientes y cómo de la misma forma protegemos su privacidad.</p><br>

      <h4 class="headerTitle">SERVICIO DE NOTIFICACIONES POR CORREO ELECTRONICO</h4>
      <p>Al subscribirse en nuestro web, recibirá notificaciones por correo electrónico por parte de CFT Tours división
        de
        P&G Travel para EUA, siempre estaremos enviándole información actualizada con ofertas, especiales y noticias de
        ultimo momento, así podría lograr reservar con una tarifa de oferta especial. Usted tendrá que informarnos
        algunos
        de sus datos personales como nombre y correo electrónico si decide inscribirse con nosotros para recibir toda
        esta
        información, en cualquier momento usted es libre de cancelar su subscripción, solo deberá enviarnos un correo
        electrónico informándonos.</p>

      <br>
      <h4 class="headerTitle">COMPETENCIAS / CAMPAÑAS</h4>
      <p>Cuando usted se une a una oferta promocional de CFT Tours, podríamos solicitar algunos datos adicionales tales
        como dirección postal y dirección de correo electrónico a fin de administrar los resultados de la competencia y
        notificar a los ganadores. En ocasiones, podríamos pedirle que nos envíe a nuestro correo electrónico su opinión
        sobre un tema y podríamos publicar una selección de esos comentarios en nuestros sitio . Sin embargo, no lo
        haremos si usted no esta de acuerdo en que lo hagamos.</p>

      <br>
      <h4 class="headerTitle">TRACEO EN NUESTRO SITIOS</h4>
      <p>Manejamos el software de traceo para realizar el monitoreo de la cantidad de tráfico de usuarios y la
        utilización
        de la misma, a fin de realizar siempre mejoras en el diseño para satisfacer las necesidades de nuestros
        clientes.
        Este software nunca permitirá que podamos capturar alguna información personal de los usuarios.</p>

      <br>
      <h4 class="headerTitle">SEGURIDAD Y PROTECCIÓN DE INFORMACIÓN</h4>
      <p>Cuando usted realiza su reserva con nosotros, puede estar tranquilo, ya que usamos un Servidor Seguro, el cual
        asegura toda la información que usted nos da antes de ser enviada a nosotros, estos son procedimientos de
        seguridad para el almacenamiento y manejo de toda esta información.
        De acuerdo a nuestras medidas de seguridad, en cualquier momento podremos solicitarle nos de alguna pruebas de
        su
        identidad antes de mostrarle la información.</p>

      <br>
      <h4 class="headerTitle">COOKIES</h4>
      <p>Las "cookies" son pequeñas piezas de información que son almacenadas por su navegador de Internet en el disco
        duro de su ordenador y que permiten a Rumbos Services Inc poder ofrecerle opciones para recordar la dirección de
        correo electrónico y así no tener que escribirla cada vez que ingrese al sitio web. Estas "cookies" pueden ser
        borradas de su disco duro en el momento que usted lo desee. Por lo general los navegadores de Internet guardan
        "cookies" de forma automática, pero usted puede cambiar la configuración de su navegador. Usted puede hacer uso
        de
        nuestro web sin necesidad de utilizarlas, pero Nuestras "cookies" no contienen información personal alguna.</p>

      <br>
      <h4 class="headerTitle">CON QUIENES COMPARTIMOS TU INFORMACION</h4>
      <p>Rumbos Services y CFT Tours, no vende, comercializa o renta su información personal a terceras partes. Nunca
        revelaremos ninguna información de nuestros clientes cualquier persona u organización sin que usted este de
        acuerdo con el mismo, únicamente, estaremos usándolo en situaciones de emergencia que así lo requieran o si nos
        exigido bajo el amparo de alguna ley.
        CFT Tours puede mostrar información estadística resumida sobre nuestros clientes, niveles de ventas entre otros
        y
        otra información relacionada con nuestros sitios web a vendedores de confianza y/o proveedores en caso de ser
        requerida, pero esta información estadística no incluirá información personal de nuestros clientes.</p>
      <br>
      <h4 class="headerTitle">CONSENTIMIENTO</h4>
      <p>Al utilizar los sitios de CFT Tours y Rumbos Services Inc usted estará aceptando que tengamos su información
        personal la forma descrita anteriormente.
        Si usted tiene preguntas adicionales sobre nuestra política de protección o de la forma de su implementación,
        por
        favor no dude en contactarnos.
        Si en algún momento se decide realizar cambios en nuestra política de protección de datos, lo informaremos en
        nuestra pagina para que siempre conozca qué información recolectamos, cómo la utilizamos y bajo que
        circunstancias
        la mostramos a terceros y/o proveedores.</p>

    </div>

  </section>



</div>
