<!--=== Image Block ===-->

<section class='p-3' style='border-bottom: 1px solid #eee;'>
  <div class='container-Term'>
    <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='gappx'>
      <a [routerLink]="[ '']" class='color-grey-800'>
        <mat-icon>
          arrow_back
        </mat-icon>
      </a>

      <h1 class='mat-title mb-0 color-grey-800 uppercase ml-2'>{{"TERMINOS Y CONDICIONES"|translate}}</h1>
    </div>
  </div>
</section>
<div [innerHTML]='text | parseLang:language | safeHtml' class='ck-content container-Term py-4'>
</div>
