<div class="main-slider">
  <div [swiper]="config" class="swiper-container h-100">
    <div class="swiper-wrapper h-100">
      <div *ngFor="let slide of _slides" class="swiper-slide">
        <div [attr.data-background]="slide.image" class="slide-item swiper-lazy" fxHide.lt-md>
          <a [href]="slide.link" target="_blank">
            <div class="container-carrusel">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              <!-- <div *ngIf="slide.title && slide?.title?.es" class="box">
              <p class="title">
                {{slide.title|parseLang:language}}
              </p>
              <p class="subtitle">
                {{slide.subTitle|parseLang:language}}
              </p>
              <a *ngIf="slide.link" [href]="slide.link" class="myBtn" mat-raised-button ngClass.gt-sm="uppercase"
                 target="_blank">{{"See more"|translate}}
              </a>
            </div> -->
            </div>
          </a>
        </div>
        <div [attr.data-background]="slide.imageXs" class="slide-item swiper-lazy" fxHide fxShow.lt-md>
          <a [href]="slide.link" target="_blank">
            <div class="container-carrusel sl-wrap">
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

              <!-- <div *ngIf="slide.title && slide?.title?.es" class="box">
              <p class="title">
                {{slide.title|parseLang:language}}
              </p>
              <p class="subtitle">
                {{slide.subTitle|parseLang:language}}
              </p>
              <a *ngIf="slide.link" [href]="slide.link" target="_blank" class="myBtn" ngClass.gt-sm="uppercase"
                mat-raised-button>{{"See more"|translate}}
              </a>
            </div> -->
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination white"></div>
    <button class="swiper-button-prev swipe-arrow" color="primary" mat-mini-fab>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="swiper-button-next swipe-arrow" color="primary" mat-mini-fab>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
