<div class="dialog-content-wrapper">
  <div class="loading-shade-full" *ngIf="isSaving">
    <mat-spinner *ngIf="isSaving">
    </mat-spinner>
  </div>
  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span fxLayoutAlign="start center" class="mat-title mb-0">
        <mat-icon>local_shipping</mat-icon>
        <span class="mat-title mb-0 ml-2">{{'Asignar orden a mensajero'|translate}}</span>
      </span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">


      <ng-container *ngFor="let paymentForm of this.formPaymentDataArray.controls;let i = index">
        <div fxLayout="column" class="container-bulling w-100" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2" style="text-transform: uppercase;">{{'BILLING DETAILS'|translate}} #{{i+1}}
            </span>
          </div>

          <div fxLayout="row wrap" class="mt-1" fxLayoutAlign="start center" fxLayoutGap="gappx">
            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Country'|translate}}
              </span>
              <span>
                {{this.paymentForm.get('Payment')?.value?.Country?.name['es']}}
              </span>
            </div>

            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Ciudad/Provincia'|translate}}
              </span>
              <span *ngIf="this.paymentForm.get('Payment')?.value?.CountryId == 59">
                {{this.paymentForm.get('Payment')?.value?.Province.name}}
              </span>
              <span *ngIf="this.paymentForm.get('Payment')?.value?.CountryId != 59">
                {{this.paymentForm.get('Payment')?.value?.city}}
              </span>
            </div>

            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Region / Estado / Municipio'|translate}}
              </span>
              <span *ngIf="this.paymentForm.get('Payment')?.value?.CountryId == 59">
                {{this.paymentForm.get('Payment')?.value?.Municipality.name}}
              </span>
              <span *ngIf="this.paymentForm.get('Payment')?.value?.CountryId != 59">
                {{this.paymentForm.get('Payment')?.value?.regionProvinceState}}
              </span>
            </div>

            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Dirección'|translate}}
              </span>
              <span>
                {{this.paymentForm.get('Payment')?.value?.address}}
              </span>
            </div>
            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'No. of order'|translate}}
              </span>
              <span>
                {{this.paymentForm.get('Payment')?.value?.order}}
              </span>
            </div>
            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Destinatario'|translate}}
              </span>
              <ul style="padding-left: 16px;">
                <li>
                  <strong>{{this.paymentForm.get('Payment')?.value?.name + ' ' + this.paymentForm.get('Payment')?.value?.lastName }}</strong>
                </li>
                <li>
                  {{this.paymentForm.get('Payment')?.value?.email }}
                </li>
                <li>
                  {{this.paymentForm.get('Payment')?.value?.phone }}
                </li>
              </ul>
            </div>
          </div>

          <div fxLayout="row wrap" class="mt-1" fxLayoutAlign="start center" fxLayoutGap="gappx">
            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Costo de envío'|translate}}
              </span>
              <mat-form-field appearance="outline">
                <input type="number" matInput placeholder="{{'cost de envío'|translate}}"
                  [formControl]="this.paymentForm.get('deliveryCost')">
                <!-- <mat-error *ngIf="this.paymentForm.get('deliveryCost').hasError('required')">
                  {{'cost de envío'|translate}} <strong>{{'is required'|translate}}</strong>
                </mat-error> -->
              </mat-form-field>
            </div>

            <div fxLayout="column" ngClass.gt-xs="py-2s" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Descripción'|translate}}
              </span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="{{'Descripción'|translate}}" [formControl]="this.paymentForm.get('description')" />
              </mat-form-field>
            </div>

            <div fxLayout="column" ngClass.gt-xs="py-2" ngClass.lt-sm="py-2 border-bottom" fxFlex="33" fxFlex.lt-sm="50" fxFlex.xs="100"
              fxLayoutAlign="start start" fxLayoutGap="gappx">
              <span class="mat-caption color-grey-800">
                {{'Productos a entregar'|translate}}
              </span>
              <ul style="padding-left: 16px;">
                <ng-container *ngFor="let item of this.paymentForm.get('Payment')?.value?.PaymentItems">
                  <li *ngIf="item.Product.type=='physical'">
                    <span class="nameProduct"><strong>{{ item.Product.name['es'] }}</strong></span>
                  </li>
                </ng-container>
              </ul>
              <!-- <span>
                {{getAllItemToBeDelivered(this.paymentForm.get('Payment')?.value)}}
              </span> -->
            </div>

          </div>
        </div>
        <mat-divider class="my-3"></mat-divider>
      </ng-container>




      <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <span class="mat-body-2" style="text-transform: uppercase;">{{'Select the messenger that will deliver this order'|translate}}
          <mat-icon
            matTooltip="{{'Once the delivery of this order is assigned to the messenger, it goes into the delivery status'|translate}}"
            class="iconHelp">help</mat-icon></span>
      </div>
      <form class="search-form mt-2" fxLayout="row">
        <div class="form-wrap">
          <input type="text" [formControl]="formClientSearch" placeholder="Entre el nombre para buscar...">
          <button class="btn-search" type="submit">
            <mat-icon>
              search
            </mat-icon>
          </button>
        </div>
      </form>

      <mat-list>
        <mat-list-item (click)="onMessengerChange(messenger)" class="listItem" matRipple *ngFor="let messenger of filteredMessenger">
          <mat-checkbox color="primary" (click)="$event.stopPropagation();" [checked]="this.messengerSelected.isSelected(messenger)"
            (change)="onMessengerChange(messenger)"></mat-checkbox>
          <img matListAvatar *ngIf="messenger.image" [src]="this.imageUrl + this.messenger.image"
            onerror="this.onerror=null;this.src='../../../../../../assets/images/avatars/profile2.png';">
          <img matListAvatar *ngIf="!messenger.image" src="../../../../../../assets/images/avatars/profile2.png">
          <h3 matLine> {{(messenger.lastname)?messenger.name+' '+messenger.lastname:messenger.name}} </h3>
          <div matLine>
            <span class="mat-caption" *ngFor="let item of messenger.Countries;let i = index">
              <span class="mat-caption" style="font-style: italic;" *ngIf="i < messenger.Countries.length-1">
                {{item.name['es'] + ', '}}</span>
              <span class="mat-caption" style="font-style: italic;" *ngIf="i == messenger.Countries.length-1"> {{item.name['es']}}</span>
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button color="primary" (click)="onSave()"
      [disabled]="!messengerSelected.selected.length || formPaymentDataArray.invalid">{{'Save'|translate}}</button>

  </div>

</div>
