.list-product {
  &:hover {
    img {
      transform: scale(1.1);
      transition: all .5s ease;
    }

    .media-body {
      a {
        text-decoration: underline !important;

        span {
          color: #1565c0 !important;
          transition: all .5s ease !important;
        }
      }
    }

  }

  .module {
    width: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
  }

  .line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    line-height: 1.4rem;
    height: 2.8rem;
  }
}

@media(max-width: 480px) {
  .sec-padding {
    padding: 14px 0;
  }

  .vertical-products .widget-column .title .widget-title {
    font-size: 18px;
    font-weight: 500;
  }
}
