<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span class="mat-title mb-0">{{'Add user'|translate}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <div fxLayout="row" fxLayoutAlign="center center" class="ImageLayout">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
            <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
              style="background-size: cover; background-position : center center; flex: none;"
              [style.background-image]="this.utilsService.getSafeImage(imageAvatar)">
              <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
              <mat-icon class="avatar-icon">person_outline</mat-icon>

              <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <mat-error *ngIf="showErrorImage">
              La imagen sobrepasa los <strong>500 Kb</strong>
            </mat-error>
            <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
          </div>
        </div>

        <div *ngIf="this.isEditing" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
          <span class="mat-title my-2" style="font-size:24px;">
            {{this.selectedUser.username}}
          </span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
          <mat-form-field fxFlex="49" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Name'|translate}}</mat-label>
            <input required type="text" [formControl]="form.controls['name']" matInput placeholder="{{'Name'|translate}}">
            <mat-icon class="greyIcon" matSuffix>person</mat-icon>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              {{'Name'|translate}} <strong>{{'is required'|translate}}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="49" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Lastname'|translate}}</mat-label>
            <input required type="text" matInput [formControl]="form.controls['lastName']" placeholder="{{'Lastname'|translate}}">
            <mat-icon class="greyIcon" matSuffix>person</mat-icon>
            <mat-error *ngIf="form.controls['lastName'].hasError('required')">
              {{'lastName'|translate}} <strong>{{'is required'|translate}}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
          <mat-form-field fxFlex="49" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Dirección'|translate}}</mat-label>
            <input type="text" matInput [formControl]="form.controls['address']" placeholder="{{'Dirección'|translate}}">
            <mat-icon class="greyIcon" matSuffix>my_location</mat-icon>
            <mat-error *ngIf="form.controls['address'].hasError('required')">
              {{'Address'|translate}} <strong>{{'is required'|translate}}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="49" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Phone'|translate}}</mat-label>
            <input type="text" matInput [formControl]="form.controls['phone']" placeholder="{{'Phone'|translate}}">
            <mat-icon class="greyIcon" matSuffix>phone</mat-icon>
            <mat-error *ngIf="form.controls['phone'].hasError('required')">
              {{'Phone'|translate}} <strong>{{'is required'|translate}}</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <!-- <mat-form-field appearance="outline">
          <mat-label>{{'Description'|translate}}</mat-label>
          <textarea rows="3" matInput [formControl]="form.controls['description']" placeholder="{{'Description'|translate}}"></textarea>
          <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
          <mat-error *ngIf="form.controls['description'].hasError('required')">
            {{'Description'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>{{'Tipo de usuario'|translate}}</mat-label>
          <mat-select multiple placeholder="{{'Tipo de usuario'|translate}}" [formControl]="form.controls['roles']" required>
            <mat-option *ngFor="let role of Roles" [value]="role">
              <span class="mat-body-2">
                {{role}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- ///////////////////////////////////PERMSISOS////////////////////////////////////////// -->
        <p class="mat-body-2 uppercase my-2">Permisos</p>
        <mat-slide-toggle matTooltip="Permite al usuario la creación edición y eliminación de este recurso (Solo los creados por él )"
          [formControl]="this.permitsForm.get('canCreateProduct')">
          Gestionar Productos
        </mat-slide-toggle>
        <mat-slide-toggle
          matTooltip="Permite al usuario la creación edición y eliminación de este recurso (Solo los credos por él en su Negocio correspondiente)"
          [formControl]="this.permitsForm.get('canCreatePerson')">
          Gestionar Usuarios
        </mat-slide-toggle>
        <mat-slide-toggle
          matTooltip="Permite al usuario la creacion de entregas y poner las entregas pendientes como entregadas(Solo los credos por él en su Negocio correspondiente)"
          [formControl]="this.permitsForm.get('canDelivery')">
          Gestionar entregas
        </mat-slide-toggle>
        <mat-slide-toggle matTooltip="Permite al usuario la creación edición y eliminación de este articulos en el blog del sistema"
          [formControl]="this.permitsForm.get('canPublish')">
          Gestionar Blog
        </mat-slide-toggle>
        <mat-slide-toggle matTooltip="Permite al usuario la creación edición y eliminación de este articulos en el blog del sistema"
          [formControl]="this.permitsForm.get('canCancel')">
          Realizar cancelaciones
        </mat-slide-toggle>
        <mat-slide-toggle matTooltip="Permite al usuario la creación edición y eliminación de ofertas para sus productos"
          [formControl]="this.permitsForm.get('canCreateOffer')">
          Realizar ofertas
        </mat-slide-toggle>

        <mat-slide-toggle matTooltip="Permite al usuario la edición de los parámetros del negocio"
          [formControl]="this.permitsForm.get('canEditBusiness')">
          Editar negocios
        </mat-slide-toggle>
        <mat-slide-toggle matTooltip="Permite al usuario gestion de las tariafas de envío de productos a las diferentes localizaciones"
          [formControl]="this.permitsForm.get('canCreateShipping')">
          Gestionar tarifas de envío
        </mat-slide-toggle>

        <!-- ////////////////////////////////////////////////////////////////////////////////////// -->

        <mat-form-field class="mt-2" *ngIf="localDatabaseUsers" appearance="outline">
          <mat-label>{{'Username'|translate}}</mat-label>
          <input required type="text" matInput [formControl]="form.controls['username']" placeholder="{{'Username'|translate}}">
          <mat-icon class="greyIcon" matSuffix>person</mat-icon>
          <mat-error *ngIf="form.controls['username'].hasError('required')">
            {{'Username'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'Email'|translate}}</mat-label>
          <input required [readonly]="false" type="email" matInput [formControl]="form.controls['email']"
            placeholder="{{'Email'|translate}}">
          <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            {{'email'|translate}} <strong>{{'is required'|translate}}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('email')">
            {{'email'|translate}} <strong>{{'is invalid'|translate}}</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="!isEditing" fxLayout="column" fxLayoutAlign="start stretch">
          <div fxLayout="row wrap" class="mt-2" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width" appearance="outline" fxFlex="49" fxFlex.lt-md="100">
              <mat-label>{{'Password'|translate}}</mat-label>
              <input matInput placeholder="{{'Password'|translate}}" [type]="this.passwordType" required
                [formControl]="formPass.controls['password']">
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'password'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'text'">
                visibility</mat-icon>
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'text'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
              <mat-error *ngIf="formPass.controls['password'].hasError('required')">
                {{'Password'|translate}} <strong>{{'is required'|translate}}</strong>
              </mat-error>
              <mat-error *ngIf="formPass.controls['password'].hasError('minlength')">
                {{'la contraseña debe contener al menos 6 caractéres'|translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline" fxFlex="49" fxFlex.lt-md="100"
              [ngClass]="{'mat-form-field-invalid': formPass.hasError('mismatch'), 'ng-invalid': formPass.hasError('mismatch'), 'ng-valid': !formPass.hasError('mismatch')}">
              <mat-label>{{'Repita la contraseña'|translate}}</mat-label>
              <input matInput placeholder="{{'Repita la contraseña'|translate}}" required [type]="this.passwordType"
                [ngClass]="{'ng-invalid': formPass.hasError('mismatch')}" [formControl]="formPass.controls['repeat']">
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'password'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'text'">
                visibility</mat-icon>
              <mat-icon style="cursor:pointer;" *ngIf="this.passwordType == 'text'" class="greyIcon" matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="pb-3">
            <mat-error *ngIf="formPass.hasError('mismatch')">
              {{'Password'|translate}} <strong>{{'most be equals'|translate}}</strong>
            </mat-error>
          </div>

        </div>

      </div>

    </form>




  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onUpdateProfile()" [disabled]="this.form.invalid || (isChangePass && this.formPass.invalid )"
      color="primary">{{'Save'|translate}}</button>

  </div>

</div>