<form [formGroup]='form'>
  <mat-dialog-content>
    <h2>{{ 'Editar Orden' | translate }}</h2>

    <div fxLayout='column' fxLayoutAlign='start stretch' fxLayoutGap='gappx'>

      <p class='mat-body-2 my-2' style='text-transform: uppercase'>
        {{ 'Datos personales del destinatario' | translate }}
        <mat-icon
          class='iconHelp'
          matTooltip="{{ 'Name and surname of the client as well as a confirmation email' | translate }}"
          style='cursor: pointer'
        >help
        </mat-icon>
      </p>

      <div fxLayout='row wrap' fxLayoutAlign='space-between center'>
        <mat-form-field appearance='outline' fxFlex='100' fxFlex.gt-md='48' fxFlex.md='48'>
          <mat-label>{{ 'Name' | translate }}</mat-label>
          <input
            [formControl]="this.form.controls['name']"
            matInput
            placeholder="{{ 'Name' | translate }}"
            required
            required
          />
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            {{ 'Name' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance='outline' fxFlex='100' fxFlex.gt-md='48' fxFlex.md='48'>
          <mat-label>{{ 'Lastname' | translate }}</mat-label>
          <input
            [formControl]="this.form.controls['lastName']"
            matInput
            placeholder="{{ 'Lastname' | translate }}"
            required
            required
          />
          <mat-error *ngIf="form.controls['lastName'].hasError('required')">
            {{ 'Lastname' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance='outline'>
        <mat-label>{{ 'Email' | translate }}</mat-label>
        <input
          [formControl]="this.form.controls['email']"
          matInput
          placeholder="{{ 'Mail for order confirmation and customer contact ' | translate }}"
          required
        />
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          {{ 'Email' | translate }} <strong>{{ 'is required' | translate }}</strong>
        </mat-error>
      </mat-form-field>

      <p class='mat-body-2 my-2' style='text-transform: uppercase'>
        {{ 'Datos del destinatario' | translate }}
        <mat-icon
          class='iconHelp'
          matTooltip="{{ 'Street address and more information about the shipping address' | translate }}"
          style='cursor: pointer'
        >help
        </mat-icon>
      </p>

      <!-- SOLO PARA CUBANOS -->
      <ng-container *ngIf='onlyCubanPeople'>
        <div fxLayout='row wrap' fxLayoutAlign='space-between center'>
          <mat-form-field appearance='outline' fxFlex='48' fxFlex.lt-md='100'>
            <mat-label>{{ 'Provincia' | translate }}</mat-label>
            <mat-select
              (selectionChange)='onSelectProvince($event.value)'
              [compareWith]='compareById'
              [formControl]="form.controls['ProvinceId']"
              placeholder="{{ 'Nombre de la provincia' | translate }}"
              required
              type='text'
            >
              <mat-option *ngFor='let province of allProvinces' [value]='province.id'>
                {{ province.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['ProvinceId'].hasError('required')">
              {{ 'Provincia' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance='outline' fxFlex='48' fxFlex.lt-md='100'>
            <mat-label>{{ 'Municipio' | translate }}</mat-label>
            <mat-select
              [compareWith]='compareById'
              [formControl]="form.controls['MunicipalityId']"
              placeholder="{{ 'Nombre del Municipio' | translate }}"
              required
              type='text'
            >
              <mat-option *ngFor='let municipio of municipalities' [value]='municipio.id'>
                {{ municipio.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['MunicipalityId'].hasError('required')">
              {{ 'Municipio' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- SOLO PARA EXTRANGEROS -->
      <ng-container *ngIf='!onlyCubanPeople'>
        <p class='mat-body-2 my-2' style='text-transform: uppercase'>
          {{ "Customer's location data" | translate }}
          <mat-icon
            class='iconHelp'
            matTooltip="{{
                      'Country, city, region and more information about the shipping location' | translate
                    }}"
            style='cursor: pointer'
          >help
          </mat-icon>
        </p>

        <mat-form-field appearance='outline'>
          <mat-label>{{ 'Country' | translate }}</mat-label>
          <mat-select
            [compareWith]='compareById'
            [formControl]="form.controls['CountryId']"
            placeholder="{{ 'Country name' | translate }}"
            required
            type='text'
          >
            <mat-option *ngFor='let country of allCountries' [value]='country.id'>
              {{ utilsService.parserLanguage(country.name, language) }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['CountryId'].hasError('required')">
            {{ 'Country' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>

        <div fxLayout='row wrap' fxLayoutAlign='space-between center'>
          <mat-form-field appearance='outline' fxFlex='48' fxFlex.lt-md='100'>
            <mat-label>{{ 'City' | translate }}</mat-label>
            <input
              [formControl]="this.form.controls['city']"
              matInput
              placeholder="{{ 'City' | translate }}"
              required
              required
              type='text'
            />
            <mat-error *ngIf="form.controls['city'].hasError('required')">
              {{ 'City' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance='outline' fxFlex='48' fxFlex.lt-md='100'>
            <mat-label>{{ 'State / Province / Region' | translate }}</mat-label>
            <input
              [formControl]="this.form.controls['regionProvinceState']"
              matInput
              placeholder="{{ 'State / Province / Region' | translate }}"
              required
              required
              type='text'
            />
            <mat-error *ngIf="form.controls['regionProvinceState'].hasError('required')">
              {{ 'State / Province / Region' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>

<!--      <mat-form-field appearance='outline' class='w-100'>-->
<!--        <mat-label>{{ 'Street address' | translate }}</mat-label>-->
<!--        <textarea-->
<!--          [formControl]="this.form.controls['address']"-->
<!--          matInput-->
<!--          placeholder="{{ 'Street address or your location' | translate }}"-->
<!--          required-->
<!--          rows='2'-->
<!--        ></textarea>-->
<!--        <mat-error *ngIf="form.controls['address'].hasError('required')">-->
<!--          {{ 'Address' | translate }} <strong>{{ 'is required' | translate }}</strong>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
      <div formGroupName='address'>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex="80" appearance="outline">
            <mat-label>{{ 'Calle' | translate }}</mat-label>
            <input
              formControlName="street"
              matInput
              placeholder="{{ 'Calle' | translate }}"
              type="text"
            />
            <mat-error *ngIf="form.controls['address'].get('street').hasError('required')">
              {{ 'Calle' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="20" appearance="outline">
            <mat-label>{{ 'Number' | translate }}</mat-label>
            <input
              formControlName="number"
              matInput
              placeholder="{{ 'Number' | translate }}"
              type="text"
            />
            <mat-error *ngIf="form.controls['address'].get('number').hasError('required')">
              {{ 'Number' | translate }} <strong>{{ 'is required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class='w-100'>
          <mat-label>{{ 'Entre calles' | translate }}</mat-label>
          <input
            formControlName="between"
            matInput
            placeholder="{{ 'Entre calles' | translate }}"
            type="text"
          />
          <mat-error *ngIf="form.controls['address'].get('between').hasError('required')">
            {{ 'Entre' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance='outline' class='w-100'>
        <mat-label>{{ 'Add another address' | translate }}</mat-label>
        <textarea

          [formControl]="this.form.controls['address2']"
          matInput
          placeholder="{{ 'Street address or your location' | translate }}"
          rows='2'
        ></textarea>
      </mat-form-field>

      <div fxLayout='row wrap' fxLayoutAlign='space-between center'>
        <mat-form-field appearance='outline' fxFlex='100' fxFlex.gt-md='48' fxFlex.md='48'>
          <mat-label>{{ 'Identity card' | translate }}</mat-label>
          <input
            [formControl]="this.form.controls['dni']"
            matInput
            placeholder="{{ 'Identity card' | translate }}"
            required
            type='text'
          />
          <mat-error *ngIf="form.controls['dni'].hasError('required')">
            {{ 'Identity card' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance='outline' fxFlex='100' fxFlex.gt-md='48' fxFlex.md='48'>
          <mat-label>{{ 'Phone' | translate }}</mat-label>
          <input
            [formControl]="this.form.controls['phone']"
            matInput
            placeholder="{{ 'Phone' | translate }}"
            type='tel'
          />
          <mat-error *ngIf="form.controls['phone'].hasError('required')">
            {{ 'Phone' | translate }} <strong>{{ 'is required' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['phone'].hasError('minlength')">
            {{ 'El teléfono debe tener 10 dígitos' | translate }}
          </mat-error>
          <mat-error *ngIf="form.controls['phone'].hasError('maxlength')">
            {{ 'El teléfono debe tener 10 dígitos' | translate }}
          </mat-error>
          <mat-error *ngIf="form.controls['phone'].hasError('pattern')">
            {{ 'El teléfono debe tener solo dígitos' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class='add-info'>
        <h3 class='grey-800' ngClass.gt-sm='h2' ngClass.xs='h4'>{{ 'Aditional information' | translate }}</h3>
      </div>
      <div class='mt-1' fxFlex='100' fxFlex.gt-sm='100' ngClass.sm='mt-1' ngClass.xs='mt-1'>
        <mat-form-field appearance='outline' class='w-100'>
                  <textarea
                    [formControl]="this.form.controls['info']"
                    matInput
                    placeholder="{{ 'Some information about your address or something important' | translate }}"
                    rows='2'
                  ></textarea>
        </mat-form-field>
      </div>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxFlex='100' fxLayout='row' fxLayoutAlign='end center'>
      <button class='mr-2' color='primary' mat-dialog-close mat-stroked-button>{{ 'CERRAR' | translate }}</button>

      <!-- *ngIf="order.status != 'confirmed'" -->
      <button
        (click)='onUpdateOrder()'
        [disabled]='form.invalid'
        class='mr-2'
        color='primary'
        mat-flat-button
      >
        {{ 'ACEPTAR' | translate }}
      </button>
    </div>
  </mat-dialog-actions>
</form>
